<% content_tag_for :tr, asset do %>
  <td style="width:100px">
    <fb:mp3 src="<%= formatted_user_track_url(asset.user, asset, :mp3, :referer=>'facebook', :canvas => false)%>" title="<%= asset.name %>" artist="<%= asset.user.name %>" />
  </td>
  <td style="width:150px">
    <% if @facebook_account %>
    <div style="margin-left:20px;width:200px">
   
     <% facebook_form_for(:asset, asset, :url => (add_to_profile_facebook_path(@facebook_account, :addable_type => 'asset', :addable_id => asset.id))) do |f| %>
        <%= f.buttons "Add track to your profile" %>
     <% end %>
    </div>
      <% end %>
   </td>
<% end %>