<fb:fbml version="1.1">
<fb:subtitle seeallurl="<%=facebook_home_url%>">
<%= fb_action 'add alonetone music to your profile', facebook_home_url %>
</fb:subtitle>
    
<%= render :partial => 'assets', :object => @facebook_account.assets %>
</fb:fbml>
<table class="profileTable">
<br/>Join the damn fine musician's home: <%= link_to 'Visit alonetone', 'http://alonetone.com'%> to get started!
</div>
