<div id="admin_columns">
  <div class="admin_column_left box">
    <h2>Admin</h2>
    <%= render partial: 'admin/navigation' %>
  </div>
  <div class="admin_column_right">

    <div class="mini_paginator top_paginator">
      <%== pagy_nav @pagy %>
    </div>

    <div class="admin_column_right_inner box">

      <header class="admin_comments_header">
        <div class="date_column">Date</div>
        <div class="user_column">User</div>
        <div class="text_column">Text</div>
      </header>

      <div class="admin_comment_rows">
         <%= render partial: 'admin/comments/comment', collection: @comments %>
      </div>

    </div>

    <div class="mini_paginator bottom_paginator">
      <%== pagy_nav @pagy %>
    </div>

  </div>
</div>