<% content_for :h1 do %>Edit Forum<% end %>

<div class="forum_form_container container static_content">
	<%= form_for :forum,
	     :url  => forum_path(@forum),
	     :html => { :method => :put } do |f| -%>
	<%= render :partial => "form", :object => f %>
	<%= submit_tag 'Save Forum'%> or <%= link_to('Cancel', forums_path) %>
	<% end -%>
</div>