.admin_account_requests {

  .date_column {
    min-width: 90px;
    > * {
      display: block;
      margin-bottom: 4px;
    }
    > div:first-child {
      display: block;
    }
  }

  .user_column {
    min-width: 190px;
    > div {
      margin-bottom: 4px;
    }
    div:first-child {
      font-family: $medium-sans-font;
    }
    div:nth-child(2) {
      text-overflow: ellipsis;
      overflow: hidden;
    }
    div:last-child {
      font-style: italic;
      font-size: 11px;
    }
  }

  .text_column {
    flex: 1;
    div:first-child {
      margin-bottom: 4px;
      font-family: $medium-sans-font;
    }
    div:nth-child(2) {
      color: $admin-default-data-text;
      line-height: 1.4;
      margin-bottom: 4px;
    }
  }

  .actions_column {
    min-width: 220px;
  }
  
}