.admin_mass_invites {

  .name_column {
    width: 100px;
  }

  .created_column {
    width: 110px;
  }
  
  .count_column {
    width: 100px;
  }

  .link_column {
    flex: 1;
  }

  .actions_column {
    width: 220px;
  }
  
}