.admin_mass_invites {

  .name_column {
    min-width: 100px;
    margin-right: 12px;
  }

  .count_column {
    min-width: 100px;
    margin-right: 12px;
  }

  .link_column {
    min-width: 220px;
    margin-right: 12px;
  }
  
  .created_column {
    min-width: 110px;
    margin-right: 12px;
  }

  .admin_rows {
    
  }
  
}