.admin_account_requests {

  .date_column {
    min-width: 90px;
    > * {
      display: block;
      margin-bottom: 4px;
    }
    > div:first-child {
      display: block;
    }
  }

  .user_column {
    min-width: 190px;
    div:first-child {
      margin-bottom: 4px;
      font-family: $medium-sans-font;
      a {
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
    div:nth-child(2) {
      display: block;
      text-overflow: ellipsis;
      overflow: hidden;
      margin-bottom: 5px;
    }
    div:last-child {
      color: $admin-user-ip-text;
      font-size: 13px;
      line-height: 1.1;
      a {
        text-decoration: underline;
      }
    }
  }

  .text_column {
    flex: 1;
    div:first-child {
      margin-bottom: 4px;
      font-family: $medium-sans-font;
    }
    div:nth-child(2) {
      color: $admin-default-data-text;
      font-size: 13px;
      line-height: 1.3;
      margin-bottom: 4px;
    }
  }

  .actions_column {
    min-width: 220px;
  }
  
}