<h2 class="box">Alright, pick a new password</h2>
<div id="login" class="static_content box">
  <%= form_with model: @user, url: password_reset_path, method: :put do |f| %>
    <%= f.password_field :password %><br/>
    <%= f.password_filed :password_confirmation %>
    <%= f.submit, "Come on in..." %>
  <% end %>
</div>
