<div id="admin_columns">

  <div class="admin_column_left box">
    <h2>Admin</h2>
    <%= render partial: 'admin/navigation' %>
  </div>

  <div class="admin_column_right">

    <div class="mini_paginator top_paginator">
      <%== pagy_nav @pagy %>
    </div>
    <div class="admin_column_right_inner box">
      <header class="admin_header">
        <div class="date_column">Date</div>
        <div class="user_column">User</div>
        <div class="track_column">Track</div>
      </header>
      <div class="admin_assets_rows">
        <%= render partial: 'admin/assets/asset', collection: @assets %>
      </div>

    </div>

    <div class="mini_paginator bottom_paginator">
      <%== pagy_nav @pagy %>
    </div>
  </div>
</div>
