{
  "presets": [
    ["@babel/preset-env", {
      "modules": false,
      "targets": {
        "browsers": "> 1%",
        "uglify": true
      },
      "useBuiltIns": false
    }]
  ],

  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    ["transform-class-properties", { "spec": true }]
  ]
}
