{
  "presets": [
    ["@babel/preset-env", {
      "modules": false,
      "targets": {
        "browsers": "> 1%",
      },
      "useBuiltIns": false
    }]
  ],
  "env": {
    "production": {
      "presets": [
        "minify"
      ]
    }
  },
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    ["@babel/plugin-proposal-class-properties"]
  ]
}
