{
  "parser": "@babel/eslint-parser",
  "extends": "airbnb",
  "rules": {
    "no-param-reassign": [2, { "props": false }],
    "strict": 0,
    "semi": 0,
    "no-console": 0,
    "radix": 0,
  },
  "env": {
    "browser": true
  }
}