*.log
db/schema.rb
db/schema.sql
config/accelerator_tasks.rb
config/deploy.rb
config/deploy/*
config/alonetone.yml
config/config.yml
config/database.yml
config/amazon_s3.yml
config/defensio.yml
config/facebooker.yml
config/basecamp.yml
config/newrelic.yml
config/deploy/*
*.sql
public/images/pretty_text/*.*
log/*.log
.DS_Store
*.tmp
public/stylesheets/alonetone.css
public/javascripts/allonetone.css
public/javascripts/alonetone-v2.css
public/stylesheets/flash.css
public/stylesheets/ie6.css
public/stylesheets/nav.css
public/stylesheets/player.css
public/stylesheets/playlists.css
public/stylesheets/reset.css
public/stylesheets/share.css
public/stylesheets/tabs.css
public/stylesheets/tracks.css
public/stylesheets/typography.css
public/stylesheets/variables.css
public/stylesheets/layout.css
public/stylesheets/forums.css
public/mp3
public/pics
public/source_files
tmp