<div id="playlist_hint" class="notice">
  <h1 class="notice">Want to take it up a notch?</h1>
    <%= link_to 'Create your first playlist', new_user_playlist_path(@user) %>
    to better organize your tracks
</div>
