// import variables
@import variables

// tabs
        

// pagination
.pagination 
  padding: 3px
  margin:10px 3px
  text-align:center
  a 
    padding: 3px 5px 2px 5px
    margin: 2px
    text-decoration: none
    color: #373738
    background-position: top
    background-repeat: repeat-x
    background-color:#c5c5c5

    &:hover, &:active 
      :color #000
      background-image: none
  
  span.current 
    padding: 3px 5px 2px 5px
    margin: 2px
    font-weight: bold
    color: #FFF
  
  span.disabled 
    padding: 2px 5px 2px 5px
    margin: 2px
    color: #ccc
    
    
// browse all users    
#user-index
  :position relative
  :margin-right 150px
  
  .pagination 
    :text-align center
    :width 100%
    :margin-top 15px
    :margin-bottom 25px
    :margin-left -20px

  .name
    :color #fff
    :position absolute
    :background-color transparent
    :font-size 14px
    :font-weight normal
    :text-decoration none
    :padding-left 5px
    :margin-top -20px
    :margin-left 0px
    :height 20px
    :width 120px
    :display block
    :z-index 5
    :overflow none
    :opacity 0.8
    &:hover
      :opacity .99
      
      