// import variables
@import variables

// login and logout

#top_bar #login
  :background url(../images/buttons/login.png) no-repeat 0px 0
#top_bar #logout 
  :background url(../images/buttons/logout.png) no-repeat 0px 0
#top_bar
  a#login, a#logout
    :display block
    :position absolute
    :width 84px
    :height 27px
    &:hover
      :background-position -84px 0
  a#halp
    :background url(../images/buttons/halp.png) no-repeat 0px 0
    :display block
    :position absolute
    :width 91px
    :height 31px
    &:hover
      :background-position -91px 0
  div#search
    :position absolute
    :left 0px
    :top 0px
    a
      :background url(../images/buttons/search.png) no-repeat 0px 0
      :display block
      :float left
      :width 84px
      :height 27px
      &:hover, &.active
        :background-position -84px 0
    form
      :position absolute
      :top 0px
      :left 86px
      :height 28px
      :width 200px
      input
        :margin 0
        :margin-left 15px
        :height 22px
        :font-size 14px
        :color = !white
        :padding 2px 3px
        :width 200px
        :background-color #5b5d4a
        :border 1px solid #4b4e3f
       
// browse all users    
#user-index, #user_search_results
  :position relative
  div.user
    :float left
    :margin-right 50px
    :margin-bottom 30px
    .name
      :color = !white
      :text-align center
      :background-color transparent
      :font-size 14px
      :font-weight normal
      :text-decoration none
      :margin-top 5px
      :height 20px
      :width 120px
      :display block
      :overflow none
      &:hover
        :font-weight bold
        :text-decoration underline
      
// comments

.comment, .user_report, .update, .track_play
  :position relative
  :color = !text_color
  .comment_user, .update_title_bar
    :background url(../images/backgrounds/comment_even.png) repeat-x top left
    :background-color = !box_background
  &.even
    .comment_user
      :background-image url(../images/backgrounds/comment.png)
      :background-color = !box_background_even
  .comment_user, .update_title_bar
    :position relative
    :height 50px
    :margin-bottom 1px
    img 
      :float left
      :margin-right 10px
    .comment_user_text, .about_details
      :line-height 10px
      :font-size 11px
      a
        :font-size 11px
    .comment_about, .title
      :line-height 18px
      :padding-top 8px      
    a
      :font-weight bold
    .delete, .edit
      :position absolute
      :top 15px
      :right 10px
      a
        :font-size 12px
        :text-decoration underline
      .edit
        :right 25px
  .comment_body, .body
    :background-color = !box_background
    :padding 10px 20px 30px 20px
    :clear both
    :margin-bottom 3px
    .comment_about
      a
        :font-weight bold
    p
      :color = !text_color
      :margin 16px 0px 0px 0px
      :line-height 18px
    h1,h2,h3
      :margin-top 32px
      :margin-bottom 12px
      :color = !text_color
      :font-size 16px
      :font-weight bold
  &.even 
    .comment_body, .body
      :background-color = !box_background_even
// give the posts some breathing room
.update .body
  :margin-bottom 50px

.user_report .comment_user 
  .title
    span.box_title
      :line-height 30px
      :padding-top 8px  
      :font-size 16px
      :color = !text_color
      a 
        :font-weight 16px
        :color = !text_color
    
// user layout & static header (with nav)
#user_header, #static_header
  :position relative
  :height 83px
  :margin-bottom 68px
  :width 100%
  #alonetoner 
    :position absolute
    :display block
    :float left
    :height 83px
    :width 83px
    img
      :height 83px
      :width 83px
      
  .user_title, .title
    :height 50px
    :margin-left 84px
    :margin-bottom 1px
    :background-color #c1cab3
    h1
      :font-size 24px
      :line-height 50px
      :color !text_color
      :margin-left 20px
  #user_links, #links
    :height 32px
    :background transparent url(../images/backgrounds/user_bar.png) repeat-x top left
    :margin-left 84px
  ul.user_links, ul.links
    :height 32px
    :width 100px
    :display inline
    li
      :color = !text_color
      :float left
      :height 32px
      :border-right = 1px solid !text_color 
      :font-size 14px
      :font-weight bold
      :background transparent url(../images/backgrounds/user_bar_selected.png) repeat-x top left
      &.contact
        :float right
        :border-right none
        :border-left = 1px solid !text_color
      &.current
        :padding 8px 15px 12px 15px
        :height 12px
        :font-weight bold
        :color = !white
    a
      :display block
      :height 12px
      :font-size 14px
      :padding 10px 15px
      :color = !text_color
      :background transparent url(../images/backgrounds/user_bar.png) repeat-x top left
      &:hover
        :background transparent url(../images/backgrounds/user_bar_selected.png) repeat-x top left
        :color = !white
        :text-decoration none
    div.pagination
      :height 32px

// static headers don't have pics
#static_header
  .title, #links
    :margin-left 0px
  .links li, .links li a
    :font-size 14px
  .pagination
    :float right
    :display block
    :height 32px
    :position relative
    :text-align right
    a, span
      :display block
      :float left
      :height 12px
      :line-height 14px
      :font-size 12px
      :padding 10px 10px
      :color = !text_color
    span.current, a:hover
      :background transparent url(../images/backgrounds/user_bar_selected.png) repeat-x top left
      :color = !white
      :text-decoration none
      :font-weight bold
    span.gap
      :padding 10px 0px
    span.disabled
      :opacity 0.4
      
// static content

.static_content
  :padding 15px 25px
  :background #e1e2e1
  :line-height 18px
  :margin-bottom 1px

#alonetoner_big
  :margin-bottom 40px

// recent listeners
#recent_listeners
  div
    :float left
    :margin-left 27px

div.small_spinner
  :margin-top 5px
  :float right
  :background url(../images/small_spinner.gif) no-repeat center center
  :height 20px
  :margin-top 5px
  :width 20px