@import variables

// play buttons
!play_button = "transparent url(../images/icons/download.png) no-repeat center center"

// small playlists

// carousel
a.next, a.prev
  :display block
  :width 42px
  :height 42px
  :background-color transparent
  &:hover img
    :background-color = !body_link_hover

#playlists_carousel
  :position relative
  .prev
    :position absolute
    :left 0
    :top 45px
  .next
    :position absolute
    :right 0
    :top 45px
.playlists_carousel
  :height 175px
  :width 800px
  :overflow hidden
  :margin 0 70px
  
  ul
    li.small_playlists
      :position relative
      :float left
      :width 146px
      :height 150px
      :margin-right 50px
      :margin-bottom 100px
      a.small_playlist_title
        :display block
        :font-size = !12px
        :margin-left 1px
        :margin-top 10px
       
a.jewel_case_125
  :position absolute
  :left 0 
  :top 0
  :background-color transparent
  
img.cover_125
  margin-left: 17px
  margin-top: 4px
  
  
a.jewel_case_200
  :position absolute
  :width 200
  :height 200
  :left 15px
  :top 10px
  :display block
img.cover_200
  margin-left: 23px
  margin-top: 7px
  
  
// assets & tracks (same diff ;)

.asset, .track
  :position relative
  :width 100%
  :height 50px
// overflow guarantees that the elements within this box will float and be cleared
  :overflow hidden
  :margin-bottom 3px
  :color = !text_color
  a
    :color = !text_color
    :background-color transparent
  div
    :float left
  div.button
    :background-color = !box_background
    :width 50px
    :height 50px
    &.play-button 
      :margin-right 1px
      :background = !play_button
    &.download-button
      :margin-left 1px
  div.title
    :background-color = !box_background
    :height 50px
    :width 300px
    :padding 12px 0px 0px 18px
    :overflow hidden
    :font-size = !18px
  div.more
    :float none