@import variables


// small playlists

// carousel
a.next, a.prev
  :display block
  :width 42px
  :height 42px
  :background-color transparent
  &:hover img
    :background-color = !body_link_hover

#playlists_carousel
  :position relative
  .prev
    :position absolute
    :left 0
    :top 45px
  .next
    :position absolute
    :right 0
    :top 45px
.playlists_carousel
  :height 190px
  :width 800px
  :overflow hidden
  :margin 0 70px
  
  ul
    li.small_playlists
      :position relative
      :float left
      :width 146px
      :height 168px
      :margin-right 50px
      :margin-bottom 100px
      a.small_playlist_title
        :display block
        :text-align center
        :font-size = 12px
        :margin-left 1px
        :margin-top 10px
       
a.jewel_case_125
  :position absolute
  :left 0 
  :top 0
  :background-color transparent
  
img.cover_125
  :width 125px
  :height 125px
  :margin-left 17px
  :margin-top 4px
  
  
a.jewel_case_200
  :position absolute
  :width 200
  :height 200
  :left 15px
  :top 10px
  :display block
img.cover_200
  :margin-left 23px
  :margin-top 7px
  
  
// assets & tracks (same diff ;)

.asset, .track
  :position relative
  :width 100%
  :height 50px
// overflow guarantees that the elements within this box will float and be cleared
  :overflow hidden
  :margin-top 3px
  :color = !text_color
  a, a:visited
    :color = !text_color
    :background-color transparent
    &:hover
      :color = !text_color
      :text-decoration underline
  div
    :float left
  div.button
    :background-color = !box_background
    :width 50px
    :height 50px
    a
      :width 50px
      :height 50px
      :display block
      &:hover
        :background-position -51px 0px
      &.playing
        :background-position -100px 0px
    &.play-button 
      :margin-right 1px
      a
        :background-image url(../images/icons/play.png) 
    &.download-button
      :margin-left 1px
      a
        :background-image url(../images/icons/download.png)
  div.title
    :background-color = !box_background
    :height 50px
    :width 318px
    :overflow hidden
    :padding-top 10px
    a
      :font-size = 18px
      :margin-left 20px
    span.by
      :font-size = 12px
    a.artist
      :font-size= 12px
  &.even
    div.button, div.title
      :background-color = !box_background_even
  &.hover, &.open
    div.button, div.title
      :background-image url(../images/backgrounds/tracks.png) 
      :background-position 0px 0px
  &.playing
    div.button, div.title
      :background-image url(../images/backgrounds/tracks.png)
      :background-position 420px 0px
    div.button
      a
        :background-position -100px 0px


    