@import variables 

body
  :font-family Helvetica, Arial, Geneva
  :color = !text_color
a, a:visited
  :font-family Helvetica, Arial, Geneva
  :color = !text_color
  :line-height = !16px
  :font-family Helvetica, Arial, Geneva
  :font-weight bold
  :text-decoration none
  &:hover 
    :text-decoration underline
    :background-color transparent 

img a, img a:visited
  :color transparent
  &:hover
    :color none
    
.content a, .content a:visited
  :color = !white
  :font-weight normal
  &:hover
    :background-color transparent 
.box a, .box a:visited
  :color = !text_color

h1
  :color #f6f6f6
  :font-size 32px
h2
  :color = !white
  :font-size = !20px
  :font-weight bold
  :line-height 2em
  :margin-bottom 1em
h2.box
  :display block
  :color = !text_color
  :height 42px
  :line-height 42px
  :width 100%
  :text-indent 25px
  :margin-bottom 3px
  :background-color = !box_background
