<div class="track-content">
  <div class="large-cover">
    <%= image_tag @playlist.alonetone_playlist.cover(:greenfield) %>
  </div>
  <div class="playlist-options">
    <a class="download-button" href="javascript:void(0);"><i class="fa fa-download"></i>24 bit wav</a>        
    <a class="download-button" href="javascript:void(0);"><i class="fa fa-download"></i>256kbit mp3</a>        
    <ul class="downloads-links">
        <li>
            <a href="#"><i class="fa fa-download"></i>24 bit wav (34MBs)</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-download"></i>256 kbps mp3 (64MBs)</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-download"></i>56 kbps mp3 (2 GBs)</a>
        </li>
    </ul>
    <a class="download-button" href="javascript:void(0);"><i class="fa fa-spotify"></i>Listen on Spotify</a>        
    <a class="download-button" href="javascript:void(0);"><i class="fa fa-apple"></i>Listen on iTunes</a>        
  </div>
</div>