<div class="track-content">
  <div class="large-cover">
    <%= image_tag @playlist.alonetone_playlist.cover(:greenfield) %>
  </div>
  <div class="playlist-options">
    <%= render partial: 'greenfield/playlist/links' %>
  </div>
</div>