<div class="track-content">
  <div class="large-cover">
    <%= image_tag playlist_cover_url(@playlist, variant: :greenfield) %>
  </div>
  <% if @playlist.has_details? %>
    <div class="playlist-options">
      <%= render partial: 'greenfield/playlists/links' %>
    </div>
  <% end %>
  <div class="playlist-credits">
    <%= markdown(@playlist.credits) %>
  </div>
</div>
