<%= render 'greenfield/playlists/playlist' %>

<% if @post %>
  <%= render @post %>
<% else %>
  <div class="track-content">
    <%= image_tag @playlist.alonetone_playlist.cover(:greenfield) %>
  </div>
<% end %>