html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
:focus {
	outline: 0;
}
body {
  line-height: 1;
  font-family: Helvetica, Arial, Geneva, sans-serif;
  background-color: #1e1918;
  background: url(../images/24hour/background-right.jpg) repeat-x top left;
  color: #e9e2d3;
}

a, a:hover, a:visited{
  color: #e9e2d3;
  text-decoration:none;
}


#wrapper{
  position: relative;
  width: 100%;
  text-align: center;
  background-color: #1e1918;
}

#content{
  width: 100%;
  background: #1e1918 url(../images/24hour/24-hour-album-background.jpg) no-repeat center top;
  float: left;
  text-align: center;
  margin: auto;
}
a#back-to-alonetone{
 height: 200px;
 width:200px;
 display:block;
 margin:0 auto; 
}

#albums{
  width: 1011px;
  position: relative;
  margin: auto;
  margin-top: 210px;
}
div.columns{
  width: 1011px;
  position: relative;
  float: none;
  text-align: left;
  clear:both;
  margin-bottom: 25px;
  margin-left: 25px;
}
.columns.text{
  width: 600px;
  line-height: 20px;
}
.columns.text a{
  text-decoration: underline;
}
div.album{
  width: 445px;
  height: 50px;
  margin-right: 25px;
  margin-bottom: 21px;
  text-align: left;
  background: url(../images/24hour/album-background-large-over.png) no-repeat right top;
  float: left;
  position:relative;
}
a.pic{
  width:50px;
  height:50px;
  float:left;
  display:block;
  margin-right:10px;
}
div.date{
  margin-bottom: 27px;
  height: 27px;
  clear: both;
}

div#dec6{
  background: url(../images/24hour/december6th.png) no-repeat;
}
div#dec13{
  background: url(../images/24hour/december13th.png) no-repeat;  
}
div#betterlate{
  background: url(../images/24hour/betterlatethannever.png) no-repeat;  
}
.album-photo{
  height: 50px;
  width: 50px;
}
a.album_title{
  font-weight: bold;
  font-size: 18px;
  line-height:28px;
  margin-top: 4px;
  display:block;
}
a.artist_name{
  font-size: 12px;
  line-height: 10px;
  display:block;
}


#footer{
  height: 100px;
}



.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0pt;
  line-height: 0pt;
  visibility: hidden; }

.clearfix {
  display: inline-block; }

html[xmlns] .clearfix {
  display: block; }

* html .clearfix {
  height: 1%; }
