/* reset */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100.01%;
  font-family: inherit;
  vertical-align: baseline; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ol, li {
  list-style: none; }

.clear {
  display: block;
  clear: both;
  content: " "; }

input {
  margin: 5px 0px; }

div.submit_wrapper {
  text-align: right; }

div.join_wrapper input {
  color: #37392b;
  font-size: 14px;
  font-weight: bold;
  width: 150px;
  height: 25px; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

/*Main structure*/
body {
  font-family: Georgia;
  font-size: 10px;
  position: relative;
  margin: auto;
  background: #e4e4d9 url(../images/blog/back.png) no-repeat center 30px;

}
html {
  width: 990px;
  position: relative;
  margin: auto;
  background: transparent;
}
div#wrapper {
  position: relative;
  margin: auto;
  width: 980px;
  min-height: 600px;
  float: left;
}
/*start left/main side container*/
div#wp1 {/*left side*/
  position:relative;
  margin: auto;
  float: left;
  width: 660px;
  min-height: 400px;
  background: transparent;
}
.post {/*left side post container*/
  position:relative;
  margin: auto;
  float: left;
  width: 660px;
  min-height: 300px;
  margin-bottom: 30px;
  background: transparent;
}
.post-title {/*left side post container*/
  position:relative;
  margin: auto;
  float: none;
  width: 660px;
  height: 20px;
  background: #f2f2ed;
  padding: 0 0 10px 0;
  -moz-box-shadow: 0px 1px 3px rgba(87,78,62,0.10);
  -webkit-box-shadow: 0px 1px 3px rgba(87,78,62,0.10);
}
.post-title-left {/*left side post container*/
  position:relative;
  margin: auto;
  float: left;
  width: 150px;
  line-height: 29px;
  height: 20px;
  text-align: left;
  background: transparent;
  padding-left: 10px;
}
.post-title-right {/*left side post container*/
  position:relative;
  margin: auto;
  float: left;
  width: 150px;
  line-height: 29px;
  height: 20px;
  text-align: right;
  padding-right: 10px;
  background: transparent;
}
.post-title-mid {/*left side post container*/
  position:relative;
  margin: auto;
  float: left;
  width: 320px;
  height: 20px;
  line-height: 29px;
  text-align: center;
  background: transparent;
}
.post-body {
  position: relative;
  margin: 0;
  float: left;
  width: 660px;
  min-height: 300px;
  background: #f9f9f6;
  -moz-box-shadow: 0px 1px 3px rgba(87,78,62,0.10);
  -webkit-box-shadow: 0px 1px 3px rgba(87,78,62,0.10);
}
.post-bot {
  position: relative;
  margin: auto;
  float: left;
  width: 660px;
  min-height: 30px;
  background: transparent;
}
.post-bot-left {/*left side post container*/
  position:relative;
  margin: auto;
  float: left;
  width: 130px;
  min-height: 30px;
}
.post-bot-left.with_arrow{
  background: transparent url(../images/blog/arro.png) top center no-repeat;  
}
.post-bot-mid {/*left side post container*/
  position:relative;
  margin: auto;
  float: left;
  width: 400px;
  height: 30px;
  background: transparent;
}
.post-bot-right {/*left side post container*/
  position:relative;
  margin: auto;
  float: left;
  top: -2px;
  width: 130px;
  height: 30px;
  background: transparent url(../images/blog/com-but.png) 32px 0px no-repeat;
}
.post-bot-right a{
  display:block;
  width: 130px;
  height: 30px;
}
/*end post*/
/*strat comment*/
.comment-all {/*left side post container*/
  position:relative;
  margin: 0 0 30px 0;
  float: left;
  width: 595px;
  padding-left: 65px;
  background: transparent;
}
.comment {/*left side post container*/
  position:relative;
  margin: auto;
  float: left;
  width: 595px;
  border-bottom: 1px solid #e5e5db;
  background: transparent;
  -moz-box-shadow: 0px 1px 3px rgba(87,78,62,0.10);
  -webkit-box-shadow: 0px 1px 3px rgba(87,78,62,0.10);
}
.comment-title {
  position: relative;
  margin: auto;
  float: none;
  width: 549px;
  padding: 5px 23px 5px 23px;
  background: #f2f2ed;
}
.comment-body {
  position: relative;
  margin: 0; /*0 1px 0; | 1px space bet. comments*/
  float:none;
  width: 549px;
  min-height: 60px;
  padding: 13px 23px 13px 23px;
  background: #f2f2ed;
}
.comment-body p{
  padding-bottom: 14px;
}
/*end comment*/
/*end left/main side container*/
/*start right side container*/
div#wp2 {/*right side*/
  float:right;
  position: relative;
  margin: auto;
  width: 320px;
  min-height: 400px;
  background: transparent;
}
.wp2-title {/*right side container title*/
  float:none;
  position: relative;
  margin: 0 8px 0px 10px;
  width: 300px;
  height: 30px;
  line-height: 30px;
  border-top: 1px solid #F2F2ED;
  border-bottom: 1px solid #F2F2ED;
  background: #f2f2ed;
  -moz-box-shadow: 0px 1px 3px rgba(87,78,62,0.10);
  -webkit-box-shadow: 0px 1px 3px rgba(87,78,62,0.10);
}
.wp2-title-o {/*right side container title orange*/
  float:none;
  position: relative;
  text-align: center;
  margin: 0 20px 0px 10px;
  width: 300px;
  padding: 1px 0 1px 0;
  background: #fa934d;
  -moz-box-shadow: 0px 1px 3px rgba(87,78,62,0.10);
  -webkit-box-shadow: 0px 1px 3px rgba(87,78,62,0.10);
}
.wp2-mid {/*right side container txt*/
  float:none;
  position: relative;
  margin: 0px 10px 0px 10px;
  width: 260px; /*40 px les, because of the padding -> 20px*/
  border-top: 1px solid #E5E5DB;
  border-bottom: 1px solid #E5E5DB;
  padding: 10px 20px 15px 20px;
  background: #f9f9f6;
  -moz-box-shadow: 0px 1px 3px rgba(87,78,62,0.10);
  -webkit-box-shadow: 0px 1px 3px rgba(87,78,62,0.10);
}
/*tweeter start*/
div#tweets {/*right side container txt tweeter*/
  float:none;
  position: relative;
  padding: 0;
  margin: 0;
  background: transparent;
  list-style-type: none;
}
p.ptweet {
  background: transparent;
  list-style-type: none;
  font-size: 12px;
  margin-bottom: 6px;
}
a.atweet {
  display: block;
  font-size: 12px;
  color: #a59493;
}
#tweets ul {
  margin: 0;
  padding: 0;
}
#tweets ul li {
  list-style-type: none; /*keine bullets -> omg that sucked*/
  outline:none;
  margin: 0;
  padding: 0;
  margin: auto;
  !text-decoration:none;
}
/*tweeter end*/
/*end right side container*/
/*mein end*/
/*header start*/
div#header {/*header: logo, link to alonetone, title, */
  position:relative;
  margin: auto;
  width: 980px;
  min-height: 90px;
}
div#hd1 {/*header left side*/
  position:relative;
  float: left;
  margin: auto;
  width: 660px;
  min-height: 90px;
  background: transparent;
}
div#hd1-top {/*header left side link to alonetone*/
  position:relative;
  margin: auto;
  width: 660px;
  margin-left: -15px;
  min-height: 25px;
  line-height: 25px;
  background: transparent;
}
div#hd1-bot {/*header left side*/
  position:relative;
  margin: auto;
  width: 660px;
  min-height: 65px;
  background: transparent url(../images/blog/title.png) center no-repeat;
}
div#hd2 {/*header right side*/
  position:relative;
  margin: auto;
  float: right;
  width: 320px;
  min-height: 90px;
  background: transparent url(../images/blog/logo.png) center top no-repeat;
}
#hd2 a{
  display:block;
  width: 300px;
  height: 90px;
}
/*bottom start*/
div#bottom {
  position: relative;
  margin: 30px 0 0 0;
  float: none;
  width: 970px;
  min-height: 250px;
  background: #574e3e;
  float: left;
}
.bottom-left {
  position: relative;
  padding-top: 30px;
  margin: auto;
  width: 325px;
  min-height: 220px;
  border-right: 1px solid #6c614d;
  background: transparent url(../images/blog/latestup.png) 10px 10px no-repeat;
  float: left;
}
.bottom-mid {
  position: relative;
  padding-top: 30px;
  margin: auto;
  width: 320px;
  min-height: 220px;
  border-right: 1px solid #6c614d;
  background: transparent url(../images/blog/latestco.png) 8px 10px no-repeat;
  float: left;
}
.bottom-right {
  position: relative;
  padding-top: 30px;
  margin: auto;
  width: 321px;
  min-height: 220px;
  background: transparent url(../images/blog/cukickass.png) 9px 9px no-repeat;
  float: left;
}
/*bottom end*/
/*text styles start*/
h1.h1post {
  color: #f8ab75;
  padding: 0px;
  margin: 0px;
  margin: 20px 0 0 0;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.25);
  font-size: 30px;
  font-weight: normal;
  font-style: italic;
  text-align: center;
}
h2.h2post {
  padding: 0;
  margin: 0;
  color: #a29f95;
  margin: 0 0 25px 0;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.25);
  font-size: 12px;
  font-weight: normal;
  text-align: center;
}
h1.post-entry {
  color: #f8ab75;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.25);
  font-size: 11px;
  font-weight: bold;
}
h1.right-orange {
  color: #f98845;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.25);
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  font-style: italic;
}
h1.right-white {
  color: #fff;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  font-size: 12px;
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
  font-style: italic;
}
h1.h1-comment {
  margin: 0;
  padding: 0;
  color: #928987;
  font-size: 14px;
  font-weight: bolder;
  text-align: left;
  font-style: normal;
}
h2.h2-comment {
  margin: 0;
  padding: 0;
  color: #928987;
  font-size: 13px;
  font-weight: bold;
  text-align: left;
  font-style: normal;
}
h1.h1bottom {
  color: #fff;
  margin: 0;
  margin-left: 10px;
  margin-top: 15px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  font-size: 14px;
  font-weight: bolder;
  text-align: left;
  font-style: normal;
}
.post-body p {
  color: #000;
  margin: 10px 64px 16px 64px;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.25);
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  text-align: justify;
  font-style: normal;
}
.post-body blockquote{
  -moz-box-shadow: 0px 2px 6px rgba(87,78,62,0.30);
  -webkit-box-shadow: 0px 2px 6px rgba(87,78,62,0.30);
  margin: 0px 40px 25px 80px;
  padding-bottom: 5px;
  padding-top: 5px;
  background-color: #EEE;  
}
.post-body blockquote p{
  margin: 5px 20px;
}

.post-body p img{
  max-width: 500px;
  margin: auto;
  text-align: center;
  display:block;
  -moz-box-shadow: 0px 2px 6px rgba(87,78,62,0.50);
  -webkit-box-shadow: 0px 2px 6px rgba(87,78,62,0.50);
}
.comment-body p {
  color: #000;
  margin: 0;
  font-size: 13px;
  font-weight: normal;
  text-align: left;
  font-style: normal;
  overflow: hidden;
}
p.pbottom {
  color: #fff;
  margin: 0px 0 5px 10px ;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  font-size: 12px;
  font-weight: normal;
  text-align: left;
  font-style: normal;
}

p.right-black {
  color: #000;
  margin: 0px;
  padding: 0px;
  font-size: 11px;
  font-weight: normal;
  text-align: left;
  font-style: normal;
}
/*text styles end*/
/*links styles start*/
a {
  color: #d55232;
  display: inline;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
a.right-red {
  color: #d55232;
  display: block;
  text-decoration: none;
  font-size: 11px;
  margin: 0px 0 5px 0 ;
  padding: 0px;
  font-weight: normal;
  text-align: left;
  font-style: normal;
}
a.right-red:hover{
  text-decoration:underline;
}
a.prev-next {
  display: block;
  text-decoration: none;
  margin: 0px;
  font-size: 12px;
  color: #a9a9a9
}
a.prev-next:visited {
  display: block;
  padding-top: 8px;
  text-decoration: none;
  margin: 0px;
  font-size: 12px;
  color: #a9a9a9
}
a.prev-next:hover {
  display: block;
  text-decoration: none;
  margin: 0px;
  font-size: 12px;
  color: #000
}
/*links styles end*/
/*ul li post styles start*/
.comment-body ul,
.post-body ul {
  color: #d55232;
  margin: 0px 0 20px 0 ;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.25);
  font-size: 14px;
  line-height: 15px;
  font-weight: normal;
  text-align: justify;
  font-style: normal;
}
.comment-body li,
.post-body li {
  color: #000;
  margin: 0px 0 5px 84px;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.25);
  font-size: 14px;
  line-height: 15px;
  font-weight: normal;
  text-align: justify;
  font-style: normal;
  list-style-position: inside;
  list-style-image: url(../images/blog/bullet.png);/*bullet img, I could do it with span styles if you would like?*/
}
.comment-body ul{
  margin-top: 15px;
}
.comment-body li{
  margin-left: 20px;
}

.comment_user{
  float: left;
  position: relative;
  z-index: 100;
}
.comment_user a,
.comment_user > img{
  display: block;
  padding:15px;
}

.comment_new{
  clear:both;
  background-color:#9d9990 ;
  padding: 15px 50px;
  position: relative;
}
.comment_new .comment_as{
  position: relative;
  font-size: 14px;
  height: 25px;
  margin-bottom: 10px;
  font-style: italic;
  color: #fff;
  text-shadow: rgba(0,0,0,0.5) 1px 1px;
  line-height: 10px;
}
.comment_as img{
  padding-right: 5px;
}
.comment_new textarea{
  width: 530px;
  height: 160px;
}

.comment_waiting{
    position: absolute;
    text-align: center;
    bottom: 10px;
    left: 50px;
    font-weight: bold;
    font-size: 14px;
}

div.ajax_success, div.ajax_fail{
  background: transparent url(../images/icons/ok.png) no-repeat top left;
  text-indent: 35px;
  height: 30px;
  line-height: 30px;
}
div.ajax_fail{
  background: transparent url(../images/icons/not_ok.png) no-repeat top left;
 
}
.pagination{
  float: right;
  font-size: 16px;
}

/*ul li post styles end*/ {
  -moz-outline-style: none;
}



