<div id="user_listens" class="box">
  <h2 class="box">Recent alonetone favorites</h2>
  <% @favorites.each do |track| %>
    <%= render :partial => 'favorite', :object => track %>
  <% end %>
</div>
<div class="footer_box">
  <%= link_to "view all favorites &rArr;", user_playlist_path(@user, @user.favorites), :class => "view_all" if @user.favorites.tracks.size > 5 %>
</div>