<div id="user_latest" class="box">
		<h2 class="box">Latest Music</h2><%= link_to 'view all', user_tracks_path(@user), :class=> 'view_all' if @assets.size > 5%>
	  <%= render :partial => 'assets/asset', :collection => @assets %>
</div>