	<div id="user_latest">
		<div id="stash" class="stash">
			<h2>Latest Music by <%= @user.name %></h2><%= link_to 'view all tracks', user_tracks_path(@user), :class=> 'view_all' %>
		  <%= render :partial => 'assets/asset', :collection => @assets %>
		</div>

	</div>