<h2 class="box">Listens to</h2>
<div id="mostly_listens_to" class="box static_content clearfix">

    <%= render :partial => 'shared/small_user', :collection => @mostly_listens_to %>

    <div class="clear"></div>
</div>
