<div id="user_track_plays" class="box">
		<h2 class="box">Latest listens to your music</h2>
		<h3>
		<%= @user.listens_count %> total listens since you signed up
	  </h3>
	  <%= render :partial => 'users/track_play', :collection => @track_plays %>
</div>