	<div id="user_track_plays">
		<div id="track_plays" class="stash">
			<h2>Latest listens to your music</h2>
			<h3>
			<%= @user.listens_count %> total listens since you signed up
		  </h3>
		  <%= render :partial => 'users/track_play', :collection => @track_plays %>
		</div>
	</div>