<% render :layout => 'assets/asset_layout', :locals => {:asset => track_play.asset} do %>
   <span class='track_play'><%= "#{time_ago_in_words(track_play.created_at)} ago via #{track_play.source}" %></span>
<% end %>