<h1>the musicians and listeners of alonetone</h1>

<% if logged_in? %>
<h2 class="spacey">alonetone's finest</h2>
<% else %>
<h2 class="spacey">It takes 45 seconds to get your face here and start uploading</h2>
<% end %>
<%= render :partial => 'users'%>
