<%= link_to url, class: 'back_to_button' do %>
  <div class="caret">
    <i class="icon_caret">
      <%== render file: svg_path('svg/icon_caret.svg') %>
    </i>
  </div>
  <div class="text">
    Back to <span><%= label %></span>
  </div>
<% end %>
