<%= cache([@user, cache_digest(@playlists)]) do %>

<div id="playlists_carousel">
  <%= link_to image_tag('icons/prev.png'), '', :class => 'prev disabled' if @playlists.size > 4 %>
  <div class="playlists_carousel">  
    <ul>
      <%= render :partial => 'shared/playlist', :collection => @playlists %>
    </ul>
  </div>
  <%= link_to image_tag('icons/next.png'), '', :class => 'next' if @playlists.size > 4 %>
</div>

<% end %>
