<div id="user_comments" class="box">
  <h2 class="box">Latest Comments</h2>
  <%= render :partial => 'shared/comment', :collection => comments %>
</div>
<div class="footer_box">
  <%= link_to 'view all comments &rArr;', user_comments_path(@user.login), 
     :class => 'view_all', :title => "all comments about #{h @user.name}'s music" %>
</div>
