<div class="static_warning">
  <h2>Please excuse the mess</h2>
  You are currently using a very old version of Internet Explorer to view our site, alonetone.<br/>
  We apologize, but it does not support new-fangled and fancy features that makes this site special and unique<br/>
  If you care, you can get a very good program, Firefox by <%= link_to 'clicking here', 'http://getfirefox.com'%><br/>
  After you install that (it's pretty easy, just follow what the computer tells you!) please come back!
</div>