<div class ="bar clearfix summary_bar">
    <div class="summary">
    
    </div>
    <div id="pag_nav_links" class="pager_pro">
        <%= will_paginate object %>
    </div>
</div>
<%= yield %>
<div class="bar clearfix footer_bar">
    <div class="summary">
    
    </div>
    <div id="pag_nav_links" class="pager_pro">
        <%= will_paginate object %>
    </div>
</div>
