<div id="play"></div>

<div id="volume_background">
	<div id="volume_level"> 
	</div>
	
	<div id="volume_track" class="slidertrack">
	  <div id="volume_handle" style="sliderhandle">
	  </div>
	</div>
</div>
