<div class="header_search" data-controller="header-search">
  <%= form_tag main_app.search_path, id: 'search_form', data: { 'header-search-target':'form' }  do %>
    <%= text_field_tag 'query', (@query || session[:last_query]), placeholder: 'Search', data: { 'header-search-target': 'query', action: 'keydown->header-search#submitFormOnEnter'} %>
  <% end %>
  <%= link_to '', '#', id: 'search_button', data: {action: "click->header-search#submitForm", 'header-search-target': 'button' } %>
  <%= link_to '', '#', id: 'mobile_search_reveal_button', data: {action: "click->header-search#revealQuery", 'header-search-target': 'reveal'} %>
</div>