<div id="search">  
  <%= link_to '','#',:id => 'search_button' %>

  <%= form_tag search_url, :id =>'search_form' do %>
    <%= text_field_tag 'query', (@query || session[:last_query]), :placeholder => 'artist, song title or keyword' %>
  <% end %>
</div>