<div id="search">  
  <%= link_to '','#',:id => 'search_button' %>
  <% form_tag 'search', :url => search_url, :style => 'display:none;' do %>
    <%= text_field 'search','query' %>
  <% end %>
</div>