<div class="ubersearch">
    <div class="search_results_query clearfix">
        <form action="<%= search_url %>">
        <input type="text" name="query" value="<%=@query %>" class="inputtext"/>     
        <input type="submit" value="Search alonetone artists/tracks" class="inputsubmit"/>
        </form>
    </div>
</div>