<div class="notice">
  <h1 class="notice">alonetone, a damn fine home for musicians</h1>
  alonetone.com gives musicians free mp3 uploading, unlimited distribution, sharing tools &amp; warm fuzzies <br/>
  <%=link_to 'read more', about_path %> or <%=link_to 'sign up', signup_path %> to upload your music
</div>
