<div id="welcome" class="notice">
  alonetone gives musicians a home for their music<br/> 
  unlimited distribution, sharing tools &amp; warm fuzzies <br/><br/><br/>
  <%=link_to 'Sign up', signup_path, :title => 'sign up to upload your music' %> to start uploading your tracks or <%=link_to 'read our FAQ', about_path, :title => 'help' %>
</div>
