<div class="notice">
  <h1 class="notice">alonetone: the kick ass home for musicians</h1>
  alonetone.com gives music makers free mp3 hosting, shoring tools & warm fuzzies (<%=link_to 'read more', about_path %>)
  <br/>
  Press play to explore new music or <%=link_to 'sign up', signup_path %> to upload your music
</div>
