<div id="welcome" class="notice">

  <div class="welcome_to_alonetone">
  	Welcome to <span class="welcome_alonetone">alonetone</span>
  </div>
  
  <div class="a_damn_fine_home">
  	a damn fine home for musicians
  </div>
  alonetone gives musicians a home for their music<br> 
  unlimited distribution, sharing tools &amp; warm fuzzies <br><br>
  <%=link_to 'Sign up', signup_path, :title => 'sign up to upload your music' %> to start uploading your tracks or <%=link_to 'read our FAQ', about_path, :title => 'help' %>
</div>