<div class="notice">
  <h1 class="notice">alonetone, a damn fine home for musicians</h1>
  alonetone gives music makers free mp3 uploads, unlimited distribution, sharing tools &amp; warm fuzzies <br/><br/>
  <%= image_tag 'help/how_to_play.jpg' %><br/><br/>
  <%=link_to 'Sign up', signup_path %> to join the community of artists and listeners. <%=link_to 'Have questions?', about_path %>
</div>
