<div style="background-color:#d8dfea;height:25px;padding:5px">
<% div_for tiny_user, :class => 'tiny_user', :style => 'float:left;width:25px;height:25px;padding-right:10px;text-align:left' do %>
  <%= user_image_link(tiny_user, :tiny)%>
<% end %>
<%= link_to "view all tracks from #{h tiny_user.name}", user_path(tiny_user), :style=> 'text-align:right;line-height:25px;'%>
</div>