<%= link_to ' ', about_path, :id => 'halp'%>
<% if logged_in? %>
  <%= link_to ' ',logout_path, :id => 'logout' %>
<% else %>
  <%= link_to ' ',login_path, :id => 'login' %>
<% end %>
<% if @sudo %>
  <span class="important">Sudo'd as <%= current_user.name %>. <%= link_to 'return to admin account', sudo_user_path(User.find(:first)) %></span>
<% end %>