.faq.box  
  %h2.box.static
    How do I?...
  .static_content
    We're just starting to get a series of tutorials going.
    %br
    %br
    Having trouble figuring something out? Let us know, so we can make this site 
    awesome and easier to use for everyone. You are not alone!
    %br
    %br
    Click the "Say Something!" bubble in the very bottom right and let us know!
    
    %ul
      %li
        = link_to 'Get my songs on itunes?', :action => 'itunes'