<nav class="sub_nav">
  <div class="sub_nav_inner">
    <ul>
      <%= navigation_item "FAQ", { action: 'index' } %>
      <%= navigation_item "About", { action: 'about' } %>
      <%= navigation_item "Privacy", { action: 'privacy' } %>
    </ul>
  </div>
</nav>