<% if todo_list && todo_list.private != true%>
  <h2><%= todo_list.name %></h2>
  <% content_tag :ul, todo_list, :class=> 'todo' do %>
    <% if todo_list.todo_items.respond_to?(:each)%>
      <% todo_list.todo_items.sort_by{|t| (t.completed == false ? t.position :  t.position+100) }.each do |todo_item| %>
        <%= render :partial => 'todo_item', :object => todo_item %>
      <% end %>
    <% end %>
  <% end %>
<% end %>