.faq.box  
%h2.box.static
  How do I change my alonetone url, login or email address?
.static_content
  %br
  Don't like that your 'home page' is at http://alonetone.com/buttmunch1234
  %br
  Are you changing your email address and want to keep alonetone in the loop?
  %br
  %br
  %strong
    The fastest way to change any of these things is to email sudara@alonetone.com 
  %br
  %br
  We don't yet automate these changes, but they are no big deal, Sudara will get you straightened out within a day or so.
