<div class="faq box">
  <h2 class="box static">
    How do I delete a song I uploaded?
  </h2>
  <div class="static_content">
    1. Make sure you are logged in
    <br/>
    2. Find your song anywhere on alonetone
    <br/>
    3. Click "edit"
    <br/>
    <%= image_tag "http://img.skitch.com/20091129-q2txpacsgq7s6rbwdwfdcw9f4u.png" %>
    <br/>
    <br/>
    5. Click "delete track"
    <br/>
    <%= image_tag "http://img.skitch.com/20091129-cpksb53kc6xshh4xc344ccur3q.png" %>
  </div>
</div>
