<div class="faq box">
  <h2 class="box static">
    How do I download a song from alonetone?
  </h2>
  <div class="static_content">
    You can't, you are forever locked in to our evil and terrible system so we can brag about our user numbers and attract major outside investment.
    <br/>
    <br/>
    Just Kidding. 
    <br/>
    <br/>
    Visit your profile page, click edit, then click "delete account." Simple as that. Watch out though, it's permanent and cannot be undone. Any music you may have uploaded will be gone from our servers forever.
  </div>
</div>
