- render :layout => 'halp' do
  .faq.box  
    %h2.box.static
      How do I download a song from alonetone?
    .static_content
      You can't, you are forever locked in to our evil and terrible system.
      %br
      %br
      Just Kidding. The fastest way to delete your entire alonetone account is to email sudara@alonetone.com
      %br
      %br
      Hey, and if you signed up with 2 accounts for some reason, be a chap and let Sudara know via email or via
      =link_to 'the forums', forums_path 
      so that he can remove unnecessary accounts. Thanks!

= render :partial => 'sidebar'
