.faq.box  
  %h2.box.static
    How do I delete a song I uploaded?
  .static_content
    1. Make sure you are logged in
    %br
    2. Find your song anywhere on alonetone
    %br
    3. Click "edit"
    %br
    %br
    = image_tag "http://img.skitch.com/20080911-898funyggcupn2qp249jpxt5gy.png"
    %br
    5. Click "delete track"
    %br
    = image_tag "http://img.skitch.com/20080610-tdxr4hcexs639rw3r3nuy6qxjw.png"
