<div class='faq box'>
  <h2 class='box static'>
    Thanks for your Support!
  </h2>
  <div class="static_content">
    alonetone is a better place with your help. 
    
    <br/><br/>
    Your $$ will help feed our greedy servers, our talented alonetone designer and Sudara's imaginary pet hamster. 
    <br/><br/>
    <%= image_tag 'hamster.jpg', :width => 500%>
  </div>
</div>

