<div class='faq box'>
  <h2 class='box static'>
    Why donate to alonetone?
  </h2>
  <div class="static_content">
    Alonetone is free, non-commercial, ad-free and open source. 
    
    <br/><br/>
    It runs on love. It will always be this way. 
    
    <br/><br/>
    However, running it *does* cost money. Some folks have been asking about giving back. 
    <br/><br/>
        At first I always said "I don't want your money!" and "I want alonetone to be money-free!"....but then I realized some folks  really <b>want</b> to help out, to chip in their fare share, and feel some ownership.
        After all, this isn't only <b>my</b> home. This is <b>your</b> home, and if you want to chip in to the running costs, it's appreciated.
    <br/>
  </div>
</div>

<div class='faq box'>
  <h2 class='box static'>
    How much does alonetone cost Sudara?
  </h2>
  <div class="static_content">
    alonetone hosting currently costs around $250/month. Broken down that is $80/month for app hosting and about $170/month for hosting and delivering the music files (amazon s3).
    <br/><br/>
    Additionally, there are the services of our designer, who I pay fairly more often than not. 
    <br/><br/>
    (I happily donate my hours spent on support and development because I believe in us having a non-commerical place to share our music.)
  </div>
</div> 

<div class='faq box'>
  <h2 class='box static'>
    Ok, I wanna donate!
  </h2>
  <div class="static_content">
    
  We accept all Major Credit Cards and Paypal. <br/><br/>

  One Time Donation (You'll choose the amount after clicking the button)
  <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
  <input type="hidden" name="cmd" value="_s-xclick">
  <input type="hidden" name="hosted_button_id" value="ULXLL6ULAZ28Y">
  <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
  <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
  </form>
  
  <br/>
  —OR—
  <br/><br/>

  <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
  <input type="hidden" name="cmd" value="_s-xclick">
  <input type="hidden" name="hosted_button_id" value="JNKQL29AKRRFG">
  <table>
  <tr><td><input type="hidden" name="on0" value="Monthly donation">Monthly donation</td></tr><tr><td><select name="os0">
  	<option value="alonetoner">alonetoner : $5.00USD - monthly</option>
  	<option value="alonetone supporter">alonetone supporter : $10.00USD - monthly</option>
  	<option value="alonetone lover">alonetone lover : $15.00USD - monthly</option>
  	<option value="alonetone obsessive">alonetone obsessive : $20.00USD - monthly</option>
  </select> </td></tr>
  </table>
  <input type="hidden" name="currency_code" value="USD">
  <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
  <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
  </form>


</div>

  </div>
</div>
