<div class="faq box">
  <h2 class="box static">
    How do I edit a song and/or change a song's title?
  </h2>
  <div class="static_content">
    1. Make sure you are logged in
    <br/>
    2. Find your song anywhere on alonetone
    <br/>
    3. Click "edit"
    <br/>
    <br/>
    <%= image_tag "http://img.skitch.com/20080911-898funyggcupn2qp249jpxt5gy.png" %>
    <br/>
    5. Enter a new title for the song and/or enter a description to help other's find your music.
  </div>
</div>
