<%= content_for :body_class, 'error' %>
<%= render partial: 'pages/navigation' %>

<div class="gift error">
  <h1 class="gift_heading">
    <%= 'Something Broke!' %>
  </h1>
  <h2>
    Don't worry though, we've been notified.
  </h2>
  <div class="gift_image">
  </div>
</div>
