<%= content_for :body_class, 'not_found' %>
<%= render partial: 'pages/navigation' %>

<div class="gift 404">
  <h1 class="gift_heading">
    <%= @message.present? ? @message : '404 Not Found' %>
  </h1>
  <div class="gift_image"></div>
</div>
