<div class="faq box">
  <h2 class="box static">
    How do I get more people to listen to my songs
  </h2>
  <div class="static_content">
    There is not a shortcut or magic wand that gets your music listened to more often. There are, however, a few secrets.
    <br/>
    <br/>
    alonetone is no-bullshit. There's no promises or answers being handed out. alonetone is alonetone, completely severed from any industry and business. It's just us chickens here. It's being run by someone like you. Most of us are totally obscure musicians - real life people who love to make and listen to music.
    <br/>
    <br/>
    There are some things you can do to get listened to more often on alonetone. There are some tricks that separate the folks who get listened to often and folks who upload tracks that become a bit more buried.
    <br/>
    <br/>
    <strong>
      The DOs
    </strong>
    <br/>
    <br/>
    * DO enter a track title and track description after you upload a tune. A little bit of personality goes a *long* way. It shows that you care. You don't have to describe the music. You don't have to do anything, actually. But it helps. Don't be the dude with "mfu-09384.mp3" as a song name.
    <br/>
    <br/>
    * DO listen to other music on alonetone. alonetone is built so that people see your face when you listen to their songs. They see your face when you comment on their tracks. They *will* get curious and come check you out. It is a give and take.
    <br/>
    <br/>
    * DO make comments on people's music if you like it. Be interested. Be interesting. Take time for people.
    <br/>
    <br/>
    * DO Upload an interesting picture that will be used to identify you around the site. Also, change your 'display name' away from your login. Don't be the dude with "xeyte0348" as the artist name advertised all over alonetone. 
    <br/>
    <br/>
    * DO participate. When you upload tracks and come back, your tracks will be buried. They will have anywhere from 5 minutes to a few hours of sitting dead center on the alonetone home page.  After time they become harder to find. Even if you are not a talkative guy like me, just showing up helps people find you: [for example on the main 'users' page](http://alonetone.com/users). Look, there you are, easily found!
    <br/>
    <br/>
    <strong>
      The DO NOTs:
    </strong>
    <br/>
    <br/>
    Actually, there are not many!
    <br/>
    <br/>
    * Don't try too hard. Joining in is enough, no reason to over-promote your stuff, it will only hurt you.
    <br/>
    <br/>
    * Stop obsessing over your listen count, desiring more listeners, or thinking that you should be famous by now. If you think this way, grow up. You are hurting yourself. Reaching out to other people like yourself gives you 1000% times more the satisfaction, confidence, happiness and exposure than getting grumpy about being a nobody. Be a nobody WITH us. That is the exact point of alonetone. It is the root of the name and the root of its existence: Let's be alone, together ;)
    <br/>
    <br/>
    * Don't think that some of your music isn't good enough or 'worthy' of alonetone. Give us the goods. It is a failure when you hold back thinking its not good enough or not ready yet. You will *never* find a more open audience than exists here. This is it. We're all people, and 99% of the time we'd love to listen to what you got, no matter your opinion of it. That, my friend, is a very rare thing.
    <br/>
    <br/>
    So yeah - Have fun! Carve out some room for the music of others and they will carve out some room for you. Take a risk and 
    <%= link_to 'listen to something new','http://alonetone.com/radio/mangoz_shuffle' %>
    <br/>
    <br/>
    Stop coming to alonetone to check your home page for listens, and start reaching out to the other musicians. Watch as they become not only fans, but friends and people that inspire you and are inspired by you.
  </div>
</div>
