- render :layout => 'halp' do
  .faq.box  
    %h2.box.static
      How do I get my songs listed on iTunes?
    .static_content
      It's really very easy. 
      %br 
      %br
      (let me tell you how, just give me a few days)
    