<div class="faq box">
  <h2 class="box static">
    Privacy Policy
  </h2>
  <div class="static_content">
    <p>
    Privacy is a big deal, so below is a bit of information about how we collect and handle your data.
    </p>
  </div>
</div>

<div class="faq box">
  <h2 class="box static">
    What information does alonetone collect?
  </h2>
  <div class="static_content">
    <p>
    Browsing as a guest, we collect standard information in visitor logs such as your IP address and which pages are visited. This helps us do things like run statistics, improve alonetone, and handle any abuse.
    </p>

    <p>
    If you create an account, we additionally store the user name (made public) and password (stored encrypted) and email address (kept private). We use cookies to keep you logged in.
    </p>

    <p>
    As a user, you can make text comments, upload mp3 audio files, and upload photos (profile and playlist), all of which are stored indefinitely until you decide to modify or delete them.
    </p>

    <p>
    We also store and display your listening activity.
    </p>
  </div>
</div>

<div class="faq box">
  <h2 class="box static">
    Who do we share your information with?
  </h2>

  <div class="static_content">
    <p>
    Music, comments, and forum posts you actively submit to alonetone are instantly publicly available. Private comments can be made which are seen by the sender, recepient and the alonetone moderation team (important in cases of spam/abuse).
    </p>

    <p>
    We use Google Analytics, so your IP and date/time of page visits are shared with them.
    </p>

    <p>
    We do not sell any information (or anything at all) to a third party.
    </p>
  </div>
</div>

<div class="faq box">
  <h2 class="box static">
    How can you access, control and delete your information?
  </h2>
  <div class="static_content">
    <p>
    You are in full control, can see view and modify it all data you store with us. You can delete everything on your account individually as well as piece by piece.
    <p>
    <p>
    When a track or a whole account is deleted, it is immediately removed from public view, but is still technically stored for 30 days, to enable recovery and in cases of abuse.
    </p>
    <p>
    If you need a hand, email support@alonetone.com.
    </p>
  </div>
</div>