<div class="faq box">
  <h2 class="box static">
    Privacy Policy
  </h2>
  <div class="static_content">
    Privacy is a big deal these days, so below is a bit of information about how we collect and handle your data.
  </div>
</div>

<div class="faq box">
  <h2 class="box static">
    What information does alonetone collect?
  </h2>
  <div class="static_content">
    <p>
    Browsing as a guest, we collect the same thing as most websites (IP, visitor logs) and use cookies. This helps us do things like run statistics, improve alonetone, and handle any abuse. 
    </p>

    <p>
    If you create an account, we additionally store the user name (made public) and password and email address (kept private).
    You can make text comments, upload mp3 audio files, and upload photos (profile and playlist), all of which are stored indefinitely until you decide to modify or delete them. We also store and display your listening activity.
    </p>
  </div>
</div>

<div class="faq box">
  <h2 class="box static">
    Who do we share your information with?
  </h2>

  <div class="static_content">
    <p>
    In almost all cases, data and music you submit to alonetone is instantly publicly available. 
    </p>

    <p>
    We use Google Analytics, so your IP and date/time of page visits are shared with them. 
    </p>

    <p>
    We do not sell any of your information (or anything at all) to any third party.
    </p>
  </div>
</div>

<div class="faq box">
  <h2 class="box static">
    How can you access and control your information?
  </h2>
  <div class="static_content">
    <p>
    You are in full control, can see view and modify it all data you store with us and can delete everything on your account. If you need a hand, email support@alonetone.com.
    </p>
  </div>
</div>
