- content_for :static_h1 do
  Statistics: Watch alonetone grow
- content_for :css do
  = javascript_include_tag 'raphael.min', 'g.raphael.min', 'g.line.min' 
.box
  %h2.box
    Currently on alonetone
  .static_content.big_stats 
    %strong
      =@number_of_musicians
    musicians have uploaded
    %strong
      =Asset.count
    original mp3s.
    %br
    It would take you 
    %strong
      =Asset.days
    days to listen to all
    %strong 
      =Asset.gigs
    gigabytes of their tunes.
    %br

.box 
  %h2.box
    Tracks uploaded per week
  .static_content
    = raphael_report_tag(Asset.weekly_report, { :width => 580, :height => 100, :line =>"#6d9312", :fill =>"#8db038", :hover_fill_color => '#5da5ba', :hover_line_color =>'#348fa9'}, { :vertical_label_unit => 'Tracks' })    
.box
  %h2.box
    Listens per Week* since launch
  .static_content
    = raphael_report_tag(Listen.weekly_report, { :width => 580, :height => 100, :line =>"#6d9312", :fill =>"#8db038", :hover_fill_color => '#5da5ba', :hover_line_color =>'#348fa9'}, { :vertical_label_unit => 'Plays' })    
    %br
    %strong
      =Listen.monthly_listen_count_for[0]
    Listens so far for 
    =Listen.monthly_listen_count_for[1]
    %br 
    %small
      * Please note that as of April-July 2008, alonetone began to filter out all hits by search engines & spiders
.box
  %h2.box
    New artists per week
  .static_content
    = raphael_report_tag(User.weekly_report, { :width => 580, :height => 100, :line =>"#6d9312", :fill =>"#8db038", :hover_fill_color => '#5da5ba', :hover_line_color =>'#348fa9'}, { :vertical_label_unit => 'Plays' })    
.box
  %h2.box
    Other fun alonetone numbers
  .static_content 
    %strong
      ="%.0f" % @tracks_per_user
    tracks uploaded by the average alonetoner
    %br
    %strong
      ="%.0f" % @listens_per_track
    listens to the average track
    %br
    %strong
      ="%.0f" % @listens_per_user
    listens to the average alonetoner
    %br
    Average length of the 
    =Asset.count
    uploaded mp3s is 
    %strong
      =@average_length_of_track
    %br
    %br
    %strong 
      ="%.0f" % @comments_per_user
    comments made by the average alonetoner
    %br
    %strong
      ="%.1f" %@posts_per_user
    posts per alonetoner to the 
    =link_to 'forums', forums_path
