- render :layout => 'halp' do
  - content_for :static_h1 do
    Statistics: Watch alonetone grow
  .box
    %h2.box
      Currently on alonetone
    .static_content 
      %strong
        =@number_of_musicians
      real-life musicians
      %br
      %strong
        =Asset.count
      original &amp; legally uploaded mp3s
      %br
      To listen to all songs, it would take you 
      %strong
        =Asset.days
      days 
      %br
      %strong 
        =Asset.gigs
      gigabytes of ones and zeros
      %br

  .box 
    %h2.box
      Total amount of uploaded mp3s to alonetone
    .static_content
      =image_tag Asset.monthly_chart
  .box 
    %h2.box
      Listens per day
    .static_content
      =image_tag Listen.last_30_days_chart
  .box
    %h2.box
      Monthly Listens* since launch
    .static_content
      =image_tag Listen.monthly_chart
      %br
      %strong
        =Listen.monthly_listen_count_for[0]
      Listens so far for 
      =Listen.monthly_listen_count_for[1]
      %br 
      %small
        * Please note that as of April-July 2008, alonetone began to filter out all hits by search engines & spiders
  .box
    %h2.box
      Where folks listen from
    .static_content
      =image_tag Listen.source_chart
  .box
    %h2.box
      Fun alonetone averages
    .static_content 
      %strong
        =@tracks_per_user
      tracks uploaded by the average alonetoner
      %br
      %strong
        =@listens_per_track
      listens to the average track
      %br
      %strong
        =@listens_per_user
      listens to the average alonetoner
      %br
      Average length of the 
      =Asset.count
      uploaded mp3s is 
      %strong
        =@average_length_of_track
      %br
      %br
      %strong 
        =@comments_per_user
      comments per alonetoner
      %br
      %strong
        =@posts_per_user
      posts per alonetoner to the 
      =link_to 'forums', forums_path
