- content_for :static_h1 do
  Statistics: Watch alonetone grow
.box
  %h2.box
    Currently on alonetone
  .static_content.big_stats 
    %strong
      =@number_of_musicians
    musicians have uploaded
    %strong
      =Asset.count
    original mp3s.
    %br
    It would take you 
    %strong
      =Asset.days
    days to listen to all
    %strong 
      =Asset.gigs
    gigabytes of their tunes.
    %br

.box 
  %h2.box
    Number of mp3s on alonetone
  .static_content
    = fusion_chart('/charts/FCF_Line.swf', render(:partial => 'track_totals.xml.builder'), 'total_tracks', '550', '250', false, false,true)
.box
  %h2.box
    Listens per Month* since launch
  .static_content
    = fusion_chart('/charts/FCF_Line.swf', render(:partial => 'listens.xml.builder'), 'listens', '550', '250', false, false,true)
    %br
    %strong
      =Listen.monthly_listen_count_for[0]
    Listens so far for 
    =Listen.monthly_listen_count_for[1]
    %br 
    %small
      * Please note that as of April-July 2008, alonetone began to filter out all hits by search engines & spiders
.box
  %h2.box
    Where folks listen from
  .static_content
    = fusion_chart('/charts/FCF_Pie2D.swf', render(:partial => 'sources.xml.builder'),'listensource','550','250',false, false, true)
.box
  %h2.box
    Other fun alonetone numbers
  .static_content 
    %strong
      =@tracks_per_user
    tracks uploaded by the average alonetoner
    %br
    %strong
      =@listens_per_track
    listens to the average track
    %br
    %strong
      =@listens_per_user
    listens to the average alonetoner
    %br
    Average length of the 
    =Asset.count
    uploaded mp3s is 
    %strong
      =@average_length_of_track
    %br
    %br
    %strong 
      =@comments_per_user
    comments per alonetoner
    %br
    %strong
      =@posts_per_user
    posts per alonetoner to the 
    =link_to 'forums', forums_path
