<%= pretty_text "Say What?!", :h1%>
<h2 class='spacey'>What users have been saying about alonetone</h2>

<div id='user_reports'>
	<%= render :partial => 'user_report', :collection => @user_reports %>
</div>


