@import "compass/reset";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "variables";
@import "login";
@import "post";
@import "player";
@import "greenfield/edit_post";
@import "greenfield/playlists";


/* LAYOUT */
html,
body {
  height: 100%;
}

body {
  display: table;
  width: 100%;
  height: 100%;
}

.main-table-row {
  display: table-row;
  height: 100%;
  main {
    overflow: auto;
    width: 980px;
    margin: 0 auto;
    padding-top: $baseline * 3;
    padding-bottom: $baseline * 3;
    .playlist {
      float: left;
      width: $baseline * 10; //270px;
      margin-right: 60px;
    }
    .track-content {
      float: left;
      width: 650px;
    }
  }
}

.footer-table-row {
  display: table-row;
  footer {
    height: 34px;
  }
}

/* STYLES */
body {
  font-family: $body-font;
  font-size: $body-font-size;
  font-weight: 500;
  line-height: $baseline;  // 27px is our baseline
  background-color: $not-quite-white;
}

footer {
  line-height: 34px;
  text-align: right;
  background-color: $black;
  a {
    font-size: 12px;
    margin-right: 20px;
    text-decoration: none;
    color: $not-quite-white;
  }
}

h1,
h1 a,
h1 > input {
  font-family: $bold-header-family;
  font-size: 30px;
  line-height: 36px; // $baseline * 1.3333;
  width: 100%;
  text-decoration: none;
  color: $black;
  border: none;
  background-color: transparent;
}

h1 > input {
  &:hover {
    background-color: $bright-highlight;
  }
}

h2 {
  font-family: $normal-header-family;
  font-size: 24px;
  line-height: 22px; // $baseline * .815;
  color: #CCC;
  span {
    color: $lightest-gray;
  }
}


header {
  margin-top: $baseline * 2;
  img {
    width: 83px;
    height: 83px;
  }
}



/* THE DAWN OF MOBILE */
// i'm not sure yet where I want to put all of these things!

@media only screen and (max-width: 600px) {
  .main-table-row {
    main {
      width: 100%;
      padding-top: 0;
      padding-bottom: 0;
      .playlist {
        float: none;
        width: 100%;
        margin-right: 0;
        img {
          display: block;
        }
        .downloads-links {
          display: block;
        }
        .tracklist {
          display: block;
        }
      }
      .track-content {
        display: block;
        float: none;
        width: 100%;
        .player {
          .waveform {
            width: 100%;
          }
        }
        .post-content {
          display: block;
        }  
      }
    }
  }
  .footer-table-row {
    display: none;
  }
}


// ***** 
// ***** Uncomment me for Cover / Waveform View
// ***** 

// @media only screen and (max-width: 600px) {
//   .main-table-row {
//     main {
//       width: 100%;
//       padding-top: 0;
//       padding-bottom: 0;
//       .playlist {
//         float: none;
//         width: 100%;
//         margin-right: 0;
//         .downloads-links {
//           display: none;
//         }
//         .tracklist {
//           display: none;
//         }
//       }
//       .track-content {
//         float: none;
//         width: 100%;
//         .player {
//           .waveform {
//             width: 100%;
//           }
//         }
//         .post-content {
//           display: none;
//         }  
//       }
//     }
//   }
//   .footer-table-row {
//     display: none;
//   }
// }

// ***** 
// ***** Uncomment me for Playlist View
// ***** 

//@media only screen and (max-width: 600px) {
//  .main-table-row {
//    main {
//      width: 100%;
//      padding-top: 0;
//      padding-bottom: 0;
//      .playlist {
//        float: none;
//        width: 100%;
//        margin-right: 0;
//        img {
//          display: none;
//        }
//        .downloads-links {
//          display: block;
//        }
//        .tracklist {
//          display: block;
//        }
//      }
//      .track-content {
//        display: none;
//        float: none;
//        width: 100%;
//        .player {
//          .waveform {
//            width: 100%;
//          }
//        }
//        .post-content {
//          display: none;
//        }  
//      }
//    }
//  }
//  .footer-table-row {
//    display: none;
//  }
//}

// ***** 
// ***** Uncomment me for Post View
// ***** 

//@media only screen and (max-width: 600px) {
//  .main-table-row {
//    main {
//      width: 100%;
//      padding-top: 0;
//      padding-bottom: 0;
//      .playlist {
//        float: none;
//        width: 100%;
//        margin-right: 0;
//        img {
//          display: none;
//        }
//        .downloads-links {
//          display: none;
//        }
//        .tracklist {
//          display: none;
//        }
//      }
//      .track-content {
//        display: block;
//        float: none;
//        width: 100%;
//        .player {
//          display: none;
//          .waveform {
//            width: 100%;
//          }
//        }
//        .post-content {
//          display: block;
//          hr {
//            display: none;
//          }
//        }  
//      }
//    }
//  }
//  .footer-table-row {
//    display: none;
//  }
//}
