@import "compass/reset";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "variables";
@import "post";
@import "player";
@import "greenfield/edit_post";

html,
body { height: 100%; }

body{
  display: table;
  width: 100%;
  background-color: $not-quite-white;
  font-family: $body-font;
  font-weight: 500;
  font-size:18px; // this defines em for the site.
  line-height: 1.5em;
}

.wrapper{
  margin: auto;
  max-width:650px;
  height: 100%;
}

input{
  font-size: 18px;
  font: $body-font;
  &[type="submit"]{
    background-color: transparent;
    border: 1px solid $not-quite-black;
    cursor: pointer;
    padding: .5em;
  }
}

header {
  margin-top: 4em;
  img {
    height: 83px;
    width: 83px;
  }
  h1, h1 > input{
    font-family: $bold-header-family;
    font-size:30px;
  }
  h1 > input{
    background-color: transparent;
    border: none;
    width: 100%;
    &:hover{
      background-color: $bright-highlight;
    }
  }
  h2{
    font-size:24px;
    font-family: $normal-header-family;
  }
}

footer {
  display: table-row;
  height: 1px;
  text-align:right;
  width:100%;
  line-height:34px;
  height: 34px;
  background-color: black;
  .footer_wrapper{
    width:650px;
    margin: auto;
    a{
      font-size: 12px;
      color: $not-quite-white;
      text-decoration: none;
    }
  }
}