@import "compass/reset";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "variables";
@import "login";
@import "post";
@import "player";
@import "greenfield/edit_post";
@import "greenfield/playlists";

html,
body { height: 100%; }

body{
  display: table;
  width: 100%;
  background-color: $not-quite-white;
  font-family: $body-font;
  font-weight: 500;
  font-size:18px;
  line-height: $baseline;  // 27px is our baseline
}

.wrapper{
  margin: auto;
  max-width:650px;
  height: 100%;
}

header {
  margin-top: $baseline * 2;
  img {
    height: 83px;
    width: 83px;
  }
  h1, h1 > input{
    font-family: $bold-header-family;
    font-size:30px;
    line-height: 36px; // $baseline * 1.3333;
  }
  h1 > input{
    background-color: transparent;
    border: none;
    width: 100%;
    &:hover{
      background-color: $bright-highlight;
    }
  }
  h2{
    font-size:24px;
    line-height: 22px; // $baseline * .815;
    font-family: $normal-header-family;
  }
}

footer {
  display: table-row;
  height: 1px;
  text-align:right;
  width:100%;
  line-height:34px;
  height: 34px;
  background-color: black;
  .footer_wrapper{
    width:650px;
    margin: auto;
    a{
      font-size: 12px;
      color: $not-quite-white;
      text-decoration: none;
    }
  }
}