
form {
  header {
    margin-top: 0;
  }
  .edit-post-content {
    min-height: 100px;
    margin-bottom: 0; // less space since we have more UI below
    textarea {
      width: 100%;
      min-height: 400px;
      margin-bottom: 0;
      padding: 10px;
      resize: vertical;
      border-bottom: 1px solid $light-gray;
      &#post_asset_attributes_credits {
        min-height: $baseline;
      }
      &:hover {
        background-color: $bright-highlight;
      }
      &:focus {
        background-color: $not-quite-white;
      }
    }
  }
  .errors {
    padding: 10px;
    border: 1px solid #000;
    background-color: #FAA;
    ul {
      padding-left: 20px;
      list-style-type: circle;
    }
  }
  input[type='submit'] {
    font: $body-font;
    font-family: $normal-header-family;
    font-size: 18px;
    font-size: 14px;
    font-weight: 300;
    display: inline-block;
    width: auto;
    margin-top: $baseline;
    padding: 5px $baseline / 2;
    cursor: pointer;
    text-decoration: none;
    color: $not-quite-white-opaque;
    border: 1px solid $not-quite-black;
    border-radius: 2px;
    background-color: transparent;
    background-color: $not-quite-black;
    i {
      margin-right: 10px;
    }
  }
  .file {
    width: 100%;
    text-align: left;
    &.complete {
      background-color: #E0F0FF;
    }
    &.errors {
      background-color: #FFCC80;
    }
    .name,
    .status {
      font-size: 14px;
      display: inline-block;
    }
    .name {
      text-indent: 8px;
    }
    .status {
      font-size: 12px;
      text-indent: 4px;
      color: $light-gray;
    }
  }
  .drag-and-drop-upload {
    clear: both;
    margin: 2em auto .5em auto;
    padding: 2em 0;
    text-align: center;
    border: 3px dashed $not-quite-black;
    &:hover {
      background-color: $bright-highlight;
    }
  }
  .supporting-file-list {
    width: 100%;
  }
  .mp3-upload {
    margin-bottom: 4em;
  }
  .edit-save {
    display: inline-block;
    float: right;
    clear: both;
  }
}
