
form .post_content{
  min-height: 100px;
  margin-bottom: 0; // less space since we have more UI below
  textarea{
    min-height:100px;
    margin-bottom: 0;
    resize:vertical;
  }
}

.post_content {
  textarea:hover{
    background-color: $bright-highlight;
  }
  
  textarea:focus{
    background-color: $not-quite-white;
  }
}

.edit_post, .new_post {
  .errors {
    padding: 10px;
    background-color: #faa;
    border: 1px solid #000;
    ul {
      padding-left: 20px;
      list-style-type: circle;
    }
  }

  input{
    font-size: 18px;
    font: $body-font;
    &[type="submit"]{
      background-color: transparent;
      border: 1px solid $not-quite-black;
      cursor: pointer;
      padding: ($baseline / 2) - 1;
    }
  }

  textarea {
    width: 100%;
    min-height: 400px;
    border-bottom: 1px solid $light-gray;
  }
}

.edit_save{
  float: right;
  display: inline-block;
  clear:both;
}

.file {
  width:100%;
  text-align: left;
  
  &.complete {
    background-color: #e0f0ff;
  }
  &.errors {
    background-color: #ffcc80;
  }
  .name, .status {
    font-size: 14px;
    display: inline-block;
  }
  .name{
    text-indent: 8px;
  }
  .status{
    text-indent: 4px;
    font-size: 12px;
    color: $light-gray;
  }
}

.drag_and_drop_upload{
  clear:both;
  &:hover{
    background-color: $bright-highlight;
  }
  margin: 2em auto .5em auto;
  text-align: center;
  padding: 2em 0em;
  border: 3px dashed $not-quite-black;
}

.supporting_file_list{
  width: 100%; 
}

.mp3_upload{
  margin-bottom: 4em;
}