.player {
  position: relative;
  display: block;
  height: ($baseline * 4) - 2px;
  margin-top: $baseline * .8;
  margin-bottom: $baseline + 7px;
  border-top: 1px solid $light-gray;
  border-bottom: 1px solid $light-gray;
  background-color: $not-quite-white-opaque;
  &.stuck {
    position: fixed;
    top: 0;
    width: 650px;
    height: ($baseline * 2.5);
    margin-top: 0;
    padding-top: 4px;
    border-top: 0;
    .waveform {
      height: 100%;
    }
    .play-button,
    .pause-button {
      margin-top: 5px;
      padding: 0;
      border: none;
    }
  }
  .time {
    font-size: 12px;
    position: absolute;
    right: 0;
    display: inline-block;
    color: $lightest-gray;
  }
  .play-button,
  .pause-button {
    display: inline-block;
    width: 54px;
    height: 54px;
    margin-top: $baseline / 2;
    padding: ($baseline / 2) - 1;
    cursor: pointer;
    vertical-align: middle;
    text-indent: 11px;
    color: $light-gray;
    border: 1px solid $light-gray;
    border-radius: 50%;
    &:hover {
      color: $black;
    }
  }
  .pause-button {
    text-indent: 4px;
    color: $light-gray;
  }
  .waveform {
    position: absolute;
    right: 0;
    display: inline-block;
    width: 540px;
    height: 100%;
    .seekbar {
      position: absolute;
      top: 0;
      width: 1px;
      height: 100%;
      background-color: #AAA;
    }
    &:hover .seekbar {
      display: block;
    }
    &:not(:hover) .seekbar {
      display: none;
    }
  }
  .download-button {
    font-size: 34px;
    display: inline-block;
  }
}
