.playlist {
  img {
    max-width: 100%;
  }
  h1 {
    font-family: $bold-header-family;
    font-size: 22px;
    line-height: $baseline;
    margin-top: $baseline / 2;
  }
  h2 {
    font-family: $normal-header-family;
    font-size: 20px;
    font-weight: 100;
    line-height: $baseline;
    margin-top: $baseline / 4;
    color: $light-gray;
  }
  div.downloads-links {
    font-family: Helvetica;
    color: $not-quite-black;
    text-align: center;
      font-size: 10px;
      color: $light-gray;
      line-height: $baseline / 2;
      a {
        i {
          margin-right: 2px;
          font-size: 8px;
          color: $lightest-gray;
          
        }
        color: $not-quite-black;
        text-decoration: none;
        &:hover {
          i {
            color: Green;
          }
          text-decoration: underline;
        }
      }
  }
  ul.tracklist {
    margin-top: $baseline / 2;
    li {
      clear: both;
      overflow: auto;
      margin-bottom: $baseline / 4;
      &:hover {
        a.play-button {
          color: LawnGreen;
        }
      }
      a.play-button {
        line-height: 8px;
        display: block;
        float: left;
        width: 12px;
        height: 12px;
        margin-right: 8px;
        padding: 5px 3px 6px 7px;
        border-radius: 3px;
        background-color: $light-gray;
        &:hover {
          color: LawnGreen;
        }
      }
      a {
        font-size: 12px;
        font-size: 12px;
        line-height: 23px;
        display: block;
        float: left;
        width: 80%;
        text-decoration: none;
        color: $black;
        .track {
          &.active {
            text-decoration: underline;
          }
        }
      }
    }
  }

}

.edit_playlist ul a[data-method=delete] {
  display: none;
}

.edit_playlist ol a[data-method=post] {
  display: none;
}

.edit_playlist li.empty-indicator:not(:last-child) {
  display: none;
}

.edit_playlist li.empty-indicator:last-child {
  font-style: italic;
  list-style-type: none;
  color: #AAA;
}
