.playlist {
  min-height:650px;
  position:relative;
  background-color: white;
  .small-cover {
    display: block;
    img {
      display: block;
      width: 100%;
    }
  }
  h1 {
    line-height: 22px;
    margin-top: 5px;
    text-align: center;
    &.cover {
      margin-top: 23px;
    }
    a {
      font-family: $bold-header-family;
      font-size: 18px;
      line-height: 18px;
      margin-top: 0;
    }
  }
  h2 {
    font-family: $normal-header-family;
    font-size: 16px;
    font-weight: 100;
    line-height: $baseline;
    margin-top: 0;
    text-align: center;
    color: $not-quite-black;
  }
  ul.tracklist {
    margin-top: $baseline;
    li {
      min-height: 35px;
      clear: both;
      overflow: auto;
      border-top: 1px solid $not-quite-white-opaque;
      &:last-child {
        border-bottom: 1px solid $not-quite-white-opaque;
      }
      &:hover,
      &.active {
        background-color: $not-quite-black;
        a.play-button {
          color: $not-quite-white;
          border-color: $not-quite-white;
        }
        a {
          color: $not-quite-white;
        }
      }
      a.play-button,
      a.pause-button {
        font-size: 12px;
        line-height: 9px;
        display: block;
        float: left;
        width: 10px;
        height: 10px;
        margin-top: 6px;
        margin-right: 8px;
        margin-left: 8px;
        padding: 4px 3px 5px 6px;
        color: #AAA;
        border: 1px solid #AAA;
        border-radius: 11px;
        &:hover {
          color: #FFF;
          border-color: #FFF;
        }
      }
      a.play-button {
        i {
          position: relative;
          top: -.5px;
        }
      }
      a.pause-button {
        width: 11px;
        padding: 4px 3px 5px 5px;
        i {
          position: relative;
          top: -.5px;
          left: -.5px;
        }
      }
      a {
        font-size: 14px;
        // line-height: ($baseline * 1.25) - 1px;
        display: block;
        float: left;
        width: 82%;
        text-decoration: none;
        color: $not-quite-black;
        padding-top: 7px;
        padding-bottom: 8px;
        line-height: 20px;

        span:first-child {
          display: block;
          float: left;
          width: 88%;
        }
        .time-text {
          float: right;
          color: $samo-gray;
          font-size: 10px;
        }
      }
    }
  }
  .sidebar-downloads {
    &.anchor-at-bottom{
      position:absolute;
      bottom:0;
      width:270px;
    }
    margin-top: $baseline;
    ul.downloads-links,
    ul.external-links, {
      li {
        a {
          font-family: $sans-serif-family;
          font-size: 12px;
          font-weight: 300;
          display: block;
          width: 100%;
          box-sizing: border-box;
          padding: 5px $baseline / 2;
          text-decoration: none;
          color: white;
          border-bottom: 1px solid black;
          background-color: $not-quite-black;
          i {
            font-size: 14px;
            margin-right: 11px;
          }
          &:hover {
            background-color: black;
          }
          .action-text {
            float: right;
            color: $samo-gray;
            font-size: 10px;
          }
        }
      }
    }
  }
}



.edit_playlist ul a[data-method=delete] {
  display: none;
}

.edit_playlist ol a[data-method=post] {
  display: none;
}

.edit_playlist li.empty-indicator:not(:last-child) {
  display: none;
}

.edit_playlist li.empty-indicator:last-child {
  font-style: italic;
  list-style-type: none;
  color: #AAA;
}
