.playlist {
  h1 {
    font-family: $bold-header-family;
    font-size: 30px;
    line-height: 36px; // $baseline * 1.3333;
  }
  h2 {
    font-family: $normal-header-family;
    font-size: 24px;
    font-weight: 100;
    line-height: 22px; // $baseline * .815;
    color: $light-gray;
  }
  ul {
    font-size: 12px;
    li a.play-button {
      line-height: 8px;
      display: inline-block;
      width: 10px;
      height: 10px;
      margin-right: 2px;
      padding: 5px 4px 6px 5px;
      background-color: $light-gray;
      &:hover {
        color: red;
      };
    }
    li a {
      text-decoration: none;
      color: $black;
    }
  }
  .track {
    font-size: 12px;
    &.active {
      text-decoration: underline;
    }
  }
}

.edit_playlist ul a[data-method=delete] {
  display: none;
}

.edit_playlist ol a[data-method=post] {
  display: none;
}

.edit_playlist li.empty-indicator:not(:last-child) {
  display: none;
}

.edit_playlist li.empty-indicator:last-child {
  font-style: italic;
  list-style-type: none;
  color: #AAA;
}
