.player {
  position: relative;
  height: $baseline * 3;
  margin-bottom: $baseline;
  background-color: white;
  // background-color: $not-quite-white-opaque;
  .play-button,
  .pause-button {
    font-size: $baseline;
    display: inline-block;
    margin-top: 7px;
    padding: 13px;
    cursor: pointer;
    margin-left: 10px;
    vertical-align: middle;
    text-indent: 6px;
    color: $black;
    border: 1px solid $samo-gray;
    border-radius: 50%;
    background-color: white;
    &:hover {
      border: 1px solid $black;
    }
  }
  .pause-button {
    text-indent: 2.5px;
    padding-right: 14.5px ;
  }
  .waveform {
    position: absolute;
    width:630px;
    top: 0;
    right: 0;
    background-color:white;
    padding-top:$baseline / 2;
    height: $baseline* 2.5;
    .seekbar {
      position: absolute;
      top: 0;
      width: 1px;
      height: 100%;
      background-color: #AAA;
    }
    &:hover .seekbar {
      display: block;
    }
    &:not(:hover) .seekbar {
      display: none;
    }
  }
  .time {
    font-size: 10px;
    display: block;
    margin-top: -3px;
    margin-left: 13px;
    color: $samo-gray;
  }
  .download-button {
    font-size: 20px;
    position: absolute;
    right: 0;
    bottom: -2px;
    a {
      color: $samo-gray;
      text-decoration: none;
    }
  }
}

.post-content .waveform {
  left: 75px;
  right: 0px;
  width: auto;
}

.player.stuck {
  position: fixed;
  top: 0;
  width: 650px;
  height: $baseline * 2.5;
  margin-top: 0;
  padding-top: 4px;
  border-top: 0;
  .waveform {
    height: 100%;
  }
  .play-button,
  .pause-button {
    margin-top: 5px;
    padding: 0;
    border: none;
  }
}
