.track-content {
  img {
    max-width: 100%;
  }
}
.post-content,
.post-content textarea {
  font-size: $body-font-size;
  margin-top: $baseline;
  margin-bottom: $baseline * 3;
  word-wrap: break-word;
  word-break: break-word;
  color: $not-quite-black;
  border: none;
  background-color: $not-quite-white;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  p {
    margin-bottom: $baseline;
    img {
      max-width: 648px;
      // not quite perfectly the same width
      margin-left: 1px;
    }
  }
  hr {
    font-family: 'FontAwesome';
    position: relative; // needed for icon
    width: 433px;
    margin: $baseline auto;
    text-align: center;
    border: 0;
    border-bottom: 1px solid $light-gray;
    &:after {
      position: absolute;
      top: -.55em;
      left: 207px;
      display: block;
      content: '\f025'; // with headphone icon
      color: $lightest-gray;
      background-color: $not-quite-white-opaque; // interrupt hr

      -webkit-font-smoothing: antialiased;
    }
  }
  h3 {
    // margin-bottom: 0px;
    font-family: $bold-header-family;
    font-size: 20px;
    margin-top: $baseline + 2px;
    margin-bottom: $baseline - 2px;
    color: $not-quite-black;
  }
}
