/* STYLES */

body {
  font-family: $body-font;
  font-size: $body-font-size;
  font-weight: 500;
  line-height: $baseline;  // 27px is our baseline
  background-color: #F9F9F9;
}

footer {
  line-height: 34px;
  text-align: right;
  background-color: $black;
  a {
    font-size: 12px;
    margin-right: 20px;
    text-decoration: none;
    color: $not-quite-white;
  }
}

h1,
h1 a,
h1 > input {
  font-family: $bold-header-family;
  font-size: $baseline;
  line-height: $baseline; // $baseline * 1.3333;
  width: 100%;
  text-decoration: none;
  color: $not-quite-black;
  border: none;
  background-color: transparent;
}

h1 > input {
  &:hover {
    background-color: $bright-highlight;
  }
}

h2 {
  font-family: $normal-header-family;
  font-size: 24px;
  line-height: 22px; // $baseline * .815;
  color: #CCC;
}

// Is this a shared style or just randomly here?
header {
  margin-top: $baseline * 2;
  img {
    width: 83px;
    height: 83px;
  }
}
