---
development: &defaults
  show_debug_info: true
  app_name: YourAppName
  url: yourapp.com
  greenfield_url: greenfield.dev
  email: support@yourapp.com
  secret: f041541efd6d104c7051041ec61e7aa5
  storage: filesystem
  play_dummy_mp3s: true # remove to play off s3
  bucket: # put your s3 bucket/domain here
  s3_host_alias: # put your cloudfront domain here
  cloudfront_enabled: false
  amazon_id:
  amazon_key:
  rakismet_key: "REPLACEME"
  defensio:
  chat_url:
  video_size: width="370" height="308"
  enable_defensio: false
  show_dummy_pics: true
  ga:
  get_clicky:
  typekit:
  postmark_api_key:

test:
  <<: *defaults
  storage: filesystem
  show_debug_info: false
  play_dummy_mp3s: true

production:
  <<: *defaults
  show_debug_info: false
  enable_defensio: true
  chat_url:

