<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>logging into <%= Alonetone.greenfield_url %></title>

    <%= javascript_include_tag 'jquery' %>
    <script type="text/javascript" src="//<%= Alonetone.url(request) %>/user_sessions/greenfield_login.js"></script>
  </head>

  <body>
    <h1>Logging in...</h1>
  </body>
</html>
