<% render :layout => 'pages/halp' do %>
  <h1>Latest grunts from the offices of alonetone</h1>
  <%= link_to '+ New update', new_update_path if admin? %>

  <%= render :partial => @updates %>
<% end %>