<div class='playlist-wrapper'>
	<div class='playlist-top'><div class='playlist-top-right'></div></div>
	<%= yield %>
	<div class='playlist-bottom'><div class='playlist-bottom-right'></div></div>
</div>