<div class="player">
  <div class="play-button-container" data-target="big-play.play" data-action="click->big-play#togglePlay">
    <div class='play-button play-control'>
      <%= link_to media_url(@asset), data: { target: 'single-playback.play' } do %>
      <svg data-target="big-play.playButton" class="largePlaySVG" viewBox="0 0 800 600" xmlns="http://www.w3.org/2000/svg">
        <defs>
        <clipPath id="dottyMask">
            <path class="dottyMask" d="M300,545C164.69,545,55,435.31,55,300S164.69,55,300,55,545,164.69,545,300,435.31,545,300,545Z" fill="red" stroke="#000" stroke-miterlimit="10" stroke-width="0"/>   
        </clipPath>
        </defs>
            <circle class="outline" cx="300" cy="300" r="245" fill="none" stroke="#000" stroke-miterlimit="10" stroke-width="15.68"/>

            <g clip-path="url(#dottyMask)">
              <circle class="dotty" cx="300" cy="300" r="245" fill="none" stroke="#000" stroke-miterlimit="10" stroke-linecap="butt" stroke-width="64" stroke-dasharray="68.99 187.58"/>
            </g>
            <path class="icon" d="M205.26,457.84,205,142.18a.64.64,0,0,1,1-.56L331.53,214l147.93,85.25a.63.63,0,0,1,0,1.1L206.21,458.39A.63.63,0,0,1,205.26,457.84Z"/>
            <circle class="centerCircle" cx="300" cy="300" r="123"/>
        <g class="pauseContainer">
            <g class="pauseLoopGroup" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="64">
              <line x1="245" y1="146" x2="245" y2="450" />
              <line x1="355" y1="146" x2="355" y2="450" />
            </g>
        </g>
            <g class="pauseGroup" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="64">
              <line x1="245" y1="156" x2="245" y2="430" />
              <line x1="355" y1="156" x2="355" y2="430" />
            </g> 
      </svg>
      <% end %>
    </div>
  </div>

  <div class="waveform" data-target='big-play.waveform' data-action='mousemove->big-play#skim click->big-play#seek'>
    <div class="seekbar" data-target="big-play.seekBar"></div>
  </div>

  <div class="time">
    <span class="index" data-target="big-play.time">0:00</span> of <%= @asset.length %>
  </div>

</div>
