<div class="player">
  <div class="play-button-container" data-target="big-play.play" data-action="click->big-play#togglePlay">
    <div class='play-button play-control'>
      <%= link_to media_url(@asset), data: { target: 'single-playback.play' } do %>
      <svg data-target="big-play.playButton" class="largePlaySVG" viewBox="0 0 800 600" xmlns="http://www.w3.org/2000/svg">
        <defs>
          <clipPath id="dottyMask">
              <path class="dottyMask" d="M300,545C164.69,545,55,435.31,55,300S164.69,55,300,55,545,164.69,545,300,435.31,545,300,545Z" fill="red" stroke="#000" stroke-miterlimit="10" stroke-width="0"/>
          </clipPath>
        </defs>
        <circle class="outline" cx="300" cy="300" r="245" fill="none" stroke="#999" stroke-miterlimit="10" stroke-width="15.68"/>
        <g clip-path="url(#dottyMask)" >
          <circle visibility="hidden" class="dotty" cx="300" cy="300" r="245" fill="none" stroke="#000" stroke-miterlimit="10" stroke-linecap="butt" stroke-width="64" stroke-dasharray="68.99 187.58"/>
        </g>
        <path class="icon new" d="M202.26 454.84 202 139.18C201.999 139.17 201.999 139.159 201.999 139.149 201.999 138.798 202.288 138.509 202.639 138.509 202.768 138.509 202.894 138.547 203 138.62L328.53 211 476.46 296.25C476.659 296.361 476.783 296.572 476.783 296.8 476.783 297.028 476.659 297.239 476.46 297.35L203.21 455.39C203.113 455.447 203.003 455.477 202.89 455.477 202.544 455.477 202.26 455.193 202.26 454.847 202.26 454.845 202.26 454.842 202.26 454.84Z" style="fill-rule:nonzero;"/>
        <circle visibility="hidden" class="centerCircle" cx="300" cy="300" r="123"/>
        <g class="pauseContainer" visibility="hidden">
            <g class="pauseLoopGroup" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="64">
              <line x1="245" y1="146" x2="245" y2="450" />
              <line x1="355" y1="146" x2="355" y2="450" />
            </g>
        </g>
        <g class="pauseGroup" visibility="hidden" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="64">
          <line x1="245" y1="156" x2="245" y2="430" />
          <line x1="355" y1="156" x2="355" y2="430" />
        </g>
      </svg>
      <% end %>
    </div>
  </div>

  <div class="waveform" data-target='big-play.waveform' data-action='mousemove->big-play#skim click->big-play#seek'>
    <div class="seekbar" data-target="big-play.seekBar"></div>
  </div>

  <div class="progress-container">
    <div class="progress-container-inner" data-target="big-play.progressContainerInner">
      <div class="line-progress">
      </div>
      <div class="time-progress">
        <span class="index" data-target="big-play.time">0:00</span>
      </div>
    </div>
  </div>

  

  <div class="time-total">
    <%= @asset.length %>
  </div>

</div>
