<% object = object.asset if object.respond_to?(:asset) -%>

<div id="comment_<%= object.unique_id%>" class="comment_asset footer_content">
  <div class="comment_form">
    <% form_for :comment, :url => user_track_comments_path(object.user, object) do |f| %>
     <%= f.text_area :body, :rows => 4, :cols => 40 %>
     <%= f.hidden_field :commentable_type, :value => 'asset'%>
      <div class="submit_wrapper">
        <div class="comment_waiting" >
          <div class="text"><!-- placeholder response text --></div>
        </div>
        <div class="small_spinner" style="display:none;"></div>
        <%= f.submit "send comment to #{h object.user.name}", :class => 'comment_submit',:id => "submit_#{object.unique_id}"%> 
      </div>
    <% end %>  
  </div>


</div>
