<table>
	<tbody>
	<tr>
		<td>Artist</td>
	  <td>Name</td>
	  <td></td>		
		<td>Length</td>
	  <td>Uploaded</td>				
	</tr>
<% for asset in @assets %>

  <tr>
		<td><%= link_to "#{asset.user.login}", user_path(asset.user)%>
    <td><%= link_to "#{asset.title}", user_track_path(asset.user, asset) %></td>
    <td><%= link_to_play asset %></td>		
		<td><%= asset.length_in_minutes %>
    <td><%= time_ago_in_words(asset.created_at, false) %> ago</td>				
  </tr>
<% end %>
</tbody>
</table>