<div class='playlist_cover_and_title'>
	<%= link_to(image_tag('jewel-case-125.png'), user_playlist_path(playlist.user.login, playlist), :class => 'jewel_case_125') %>

  <%= image_tag(playlist.cover(:large), :class => 'cover_125') %>
	<div class="small_playlist">
		<h3><%= link_to h(playlist.title), user_playlist_path(playlist.user.login, playlist)  %></h3>		
	</div>
</div>
