<% object = object.asset if object.respond_to?(:asset) -%>
<% id = object.unique_id.to_s %>

<div id="share_<%=id%>" class="panel no_border clearfix">
    <%= link_to "Home page", user_track_url(object.user, object.permalink) %> for this song:<br/>
    <%= text_field_tag "home_#{id}", user_track_url(object.user, object.permalink), :size => 40,:class => 'tabbed_input' %> <br/>    
    <br/>
    <br/><br/>
    <%= link_to "more sharing options", user_track_path(object.user,object.permalink), :class => 'view_more', :style => 'margin:0', :title => "#{object.name}" %>
</div>
