<% if @listeners.present? %>
  <h2 class="box">Recent Listeners</h2>
  <div id="recent_listeners" class="box static_content clearfix">
    <%= render :partial => 'shared/users_to_edge', :locals => {:users => @listeners} %>
    <div class="clear"></div>
  </div>
<div class="footer_box empty"> </div>
<% end %>
