<% if @listeners.present? %>
<h2 class="box">Recent Listeners</h2>
<div id="recent_listeners" class="box static_content">

    <%= render :partial => 'shared/small_user', :collection => @listeners %>

    <div class="clear"></div>
</div>
<% end %>