<div class="track_content" data-controller="big-play <%= "single-playback" unless @playlist %> " data-big-play-waveform="<%= @asset.audio_feature&.waveform&.join(', ') %>">
  <%= render partial: 'big_player' %>
  <%= render partial: 'edit', locals: { asset: @asset } %>
</div>