<% render(:layout => 'users/user') do %>

	<div id="user_tracks">
		<% if @user.assets_count > 0 %>

			<div id="stash" class="stash">
				<h2>All <%= pluralize @user.assets_count, 'tracks'%> by <%= @user.name %></h2>
					<%= render :partial => 'asset', :collection => @assets %>
			</div>
		<% else %>
		<h1>Looks like <%= @user.name %> hasn't uploaded anything yet!</h1>
	 <% end %>
	</div>
	

<% end %>