<div id="latest_playlists">
  
  <h2>Latest albums &amp; playlists</h2>
  <%= render :partial => 'shared/carousel' %>

</div>

<% content_for :left do%>
	<h2 class="box">Latest songs</h2>
  <div class="box">
    <%= render :partial => 'assets/asset', :collection => @assets %>
  </div>
<% end %>


<% content_for :right do %>

	<h2 class="box">Currently kicking ass</h2>
  <% @referer = 'home' %>
  <div class="box">
    <%= render :partial => 'assets/asset', :collection => @popular %>
  </div>
<% end %>