<% if params[:source] == 'latest' %>
    <h1><%= @page_title %></h1>
<% else %>
<h1>Wait, who said anything about a radio?</h1>
<% end %>

<% content_for :left do %>
<%= render :partial => 'assets/asset', :collection => @assets if @assets%>
<% end %>