.about-page, .stats-page {
  .box {
    @media #{$mobile} {
      width: 90%;
    }
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: none;
    background: transparent;
    box-sizing: border-box;
    margin-bottom: 26px;  
    h2 {
      color: #8b370d;
      box-shadow: none;  
      border-radius: 0;
      line-height: 20px;
      height: auto;
      padding-bottom: 12px;
      border-bottom: 1px solid #80604026;
    }
    .static_content {
      padding: 0 12px;
      margin: $baseline 0;
      line-height: 1.5em;
      font-size: 16px;
    }
  }
}