.about-page, .stats-page {
  .faq.box {
    padding-left: 0;
    padding-right: 0;
    max-width: 720px;
    h2.box {
      padding-left: $baseline / 2;
    }
    .static_content {
      padding-left: 12px;
      padding-right: 12px;
      margin: 4px 0px;
    }
  }
}