#admin_header {
	max-width: 960px;
	margin-right: auto;
	margin-left: auto;
}

#admin_columns {
	max-width: 960px;
	margin-right: auto;
	margin-left: auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	.admin_column_left {
		width: 15%;
	}
	.admin_column_right {
		width: 80%;
		min-width: 700px;
		background-color: #fff;
	}
}

