#admin_header {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
}

#admin_columns {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .admin_column_left {
    width: 15%;
    ul.admin_nav {
      margin: 0;
      li {
        line-height: 34px;
        display: block;
        &:hover {
          background: $samo-light-gray;
          text-decoration: none;
        }
        a {
          font-size: 14px;
          line-height: 34px;
          padding: 0 15px;
          width: 100%;
          display: block;
          &:hover {
            text-decoration: none;
          }
        }
      }
      > div {
        padding-left: 15px;
        line-height: 34px;
      }
      > ul {
        padding: 0 15px;
      }
    }
  }
  .admin_column_right {
    width: 80%;
    font-size: 13px;
    .pagy-nav {
      width: 100%;
      float: none;
    }
    .admin_column_right_inner {
      background-color: #fff;
      padding: $baseline / 2 0;
      margin-bottom: 0;
      padding-bottom: 5px;
      padding-left: 0;
      padding-right: 0;
      
      input[type=checkbox] {
        position: static;
      }

      .date_column {
        // font-family: $medium-sans-font;
        min-width: 60px;
      }

      .user_column {
        min-width: 120px;
        padding-right: 6px;
        div:first-child {
          margin-bottom: 5px;
          font-family: $medium-sans-font;
        }
        div:last-child {
          font-style: italic;
          font-size: 13px;
          line-height: 1.1;
        }
      }

      .track_column {
        flex: 1;
        padding-right: 6px;
        div:first-child {
          margin-bottom: 5px;
          font-family: $medium-sans-font;
        }
        div:last-child {
          font-style: italic;
          font-size: 13px;
          line-height: 1.1;
        }
      }

      .button_column {
        display: flex;
        form {
          input[type=submit] {
            margin-bottom: 0;
            padding: 6px 6px;
            height: auto;
            font-size: 11px;
            white-space: normal;
            line-height: 1.2;
            margin-left: 6px;
            margin-top: 3px;
          }
        }
      }

      header.admin_comments_header,
      header.admin_users_header,
      header.admin_assets_header {
        display: flex;
        border-bottom: 1px solid $samo-light-gray;
        padding-left: $baseline / 2;
        padding-right: $baseline / 2;

        div {
          font-weight: bold;
          padding-bottom: $baseline / 2;
        }
      }

      .admin_comment_rows,
      .admin_users_rows,
      .admin_assets_rows {
        > div {
          display: flex;
          border-top: 1px solid $light-gray;
          padding: $baseline / 2 0;
          padding-left: $baseline / 2;
          padding-right: $baseline / 2;

          &:first-child {
            border-top: 0;
          }
          > div {
            
            
          }
        }
      }
    }
  }
}
