body {
  background-color: $body-background-color;
}

ul {
  padding-left: 0;
  list-style: none;
}

/* STACKED ASSETS */

.box > h2 {
  font-weight: bold;
  line-height: 45px;
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 42px;
  margin-top: 0;
  margin-bottom: 1px;
  padding: 4px 7px 44px 44px;
  color: $samo-orange;
  border-bottom: 1px solid $light-gray;
  background-color: transparent;
}

.box {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: $baseline * 2;
  background-color: $white;

  justify-content: space-between;
  @include samo-shadow-and-radius();

  // For Recently Favorited
   > .favorited_by {
    font-size: 11px;
    line-height: 25px;
    height: 20px;
    margin-top: 10px;
    padding-left: 46px;
    border-bottom: 1px solid $light-gray;
    background-color: $samo-background-gray;
    @include samo-shadow-and-radius();
    &:hover {
      text-decoration: none;
    }
     > .artist {
      font-weight: bold;
    }
  }
}

.footer_box {
  margin-bottom: $baseline;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: right;
  background-color: $box-background-color;
}

a.view_all {
  font-size: 11px;
  position: absolute;
  top: 16px;
  right: 0;
  color: $samo-gray;
  border: 0;

  @include default_button();
  &:hover {
    color: $samo-orange;
    border: 0;
  }
}

/* NOTIFICATIONS */

.notice, .errorExplanation {
  margin-bottom: 20px;
  padding: 20px 30px;
  border-top: 1px solid #6f6f6f;
  border-bottom: 1px solid #7e807e;
}

.errorExplanation p, .notice h2 {
  font-size: 20px;
  font-weight: bold;
}

.notice a.hide_notice {
  font-size: 12px;
  font-weight: bold;
  float: right;
  margin-top: -31px;
  margin-right: 0;
  color: $orange;
}

.notice li {
  margin-bottom: 5px;
}

.notice ol {
  margin-top: 8px!important;
}

.flash {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.2em;
  position: relative;
  z-index: 3;
  padding: 15px 0;
  text-align: center;
  color: $white;
  background-color: $orange_background;
  .flash_stats {
    font-size: 14px;
    a {
      text-decoration: underline;
    }
  }
}

/* PAGINATION */

.pagination {
  position: relative;
  display: block;
  float: right;
  height: 32px;
  text-align: right;
  em, a, span, a:visited {
    font-size: 12px;
    line-height: 14px;
    display: block;
    float: left;
    height: 12px;
    padding: 10px 10px;
  }
  em, a:hover, span.current {
    text-decoration: none;
    background-color: $orange_background;
  }
  em {
    font-weight: bold;
    font-style: normal;
  }
  span.gap {
    padding: 10px 0;
  }
  span.disabled {
    opacity: .4;
  }
}

.mini_paginator, .forum_paginator {
  position: relative;
  height: 32px;
  background-color: #eee;
  .pagination {
    float: left;
    width: 500px;
  }
}

.forum_paginator {
  width: 890px;
  margin-top: 0;
  .button_wrapper {
    clear: none;
    border: none;
  }
}

/* USER LISTS */

#user_index {
  display: flex;

  @include match-variable-site-width();
  flex-wrap: wrap;
  justify-content: space-between;
  #static_header {
    width: 30%;
    @media #{$mobile} {
      width: 100%;
    }
    #links {
      width: 230px;
      li {
        display: block;
        float: none;
        a {
          float: none;
        }
      }
    }
  }
  #large_users_grid {
    display: flex;
    width: 70%;
    margin-top: 52px;

    flex-wrap: wrap;
    justify-content: space-between;
    @media #{$mobile} {
      width: 100%;
    }
    div.clear {
      display: none;
    }
    div.user {
      position: relative;
      width: 150px;
      margin-bottom: 30px;
      text-align: center;
      img.cover {
        width: 125px;
        height: 125px;
      }
      .name {
        font-size: 13px;
        display: block;
        margin-top: 4px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

#user_search_results {
  display: flex;
  margin-top: 60px;

  @include match-variable-site-width();
  flex-wrap: wrap;
  justify-content: space-between;
  div.user {
    position: relative;
    width: 150px;
    margin-bottom: 30px;
    text-align: center;
    img.cover {
      width: 125px;
      height: 125px;
    }
    .name {
      font-size: 13px;
      display: block;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

/* LISTENS */

.listen {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  margin-top: 10px;
  padding-right: $baseline;
  padding-left: $baseline;
  background-color: $box-background-color;
  .listen_user {
    float: left;
    margin-right: 10px;
    img {
      width: 40px;
      height: 40px;
    }
  }
  .listen_details {
    font-size: 10px;
    line-height: 10px;
    float: left;
    overflow: hidden;
    height: 40px;
    min-height: 25px;
    a {
      font-size: 10px;
      font-weight: bold;
    }
  }
}

/* LISTENERS */

#follows, #mostly_listens_to, #recent_listeners {
  width: 420px;
  margin: 0;
  padding: 0;
  background: none;
  div {
    float: left;
    margin: 0;
    padding: 0;
    &.edge_to_edge_large {
      width: 105px;
      height: 105px;
      img {
        width: 105px;
        height: 105px;
      }
    }
    &.edge_to_edge_small {
      width: 70px;
      height: 70px;
      img {
        width: 70px;
        height: 70px;
      }
    }
    &.edge_to_edge_tiny {
      width: 42px;
      height: 42px;
      img {
        width: 42px;
        height: 42px;
      }
    }
  }
}

/* FAVORITES */

a.add_to_favorites, a.favorited {
  position: absolute;
  z-index: 2;
  right: $baseline;
  display: block;
  width: 50px;
  height: 25px;
}
