body {
	background-color: $body-background-color;
}

ul {
	padding-left: 0;
	list-style: none;
}

.box {
	position: relative;
	display: flex;
	flex-direction: column;
	margin-bottom: $baseline * 2;
	background-color: $white;
	justify-content: space-between;
	@include samo-shadow-and-radius();
	h1, h2 {
    font-family: $medium-sans-font;
    font-weight: normal;
		line-height: 42px;
		display: block;
		box-sizing: border-box;
		width: 100%;
		height: 42px;
		margin-top: 0;
		margin-bottom: 1px;
		padding: 0 0 0 $baseline / 2;
		color: $samo-orange;
		border-bottom: 1px solid $light-gray;
		background-color: transparent;
		&.static_content_heading {
			padding-left: $baseline / 2;
		}
	}
}

.below_box {
	text-align: right;
	a.view_all {
		font-size: 15px;
		font-weight: normal;
		font-family: $medium-sans-font;
		color: #868686;
		border: 0;
		margin-right: 4px;
		display: inline-block;
		margin-top: 12px;
		text-align: right;
		padding-left: 20px;
		padding-right: 6px;
		height: 32px;
		line-height: 33px;
		@include samo-shadow-and-radius();
		background-color: #FFF;
		box-shadow: none;
		span {
			vertical-align: top;
			display: inline-flex;
		}
		i.icon_caret {
			position: relative;
			top: 5px;
			svg {
				height: 20px;
			}
		}
		.icon_caret_path {
			stroke: $samo-orange;
		}
		&:hover {
			text-decoration: none;
			span {
				color: $samo-orange;
				text-decoration: none;
				.icon_caret_path {
					stroke: $samo-orange;
				}
			}
		}
	}
}

/* PROGRESS INDICATOR (COMMENT POSTING) */
div.small_spinner {
  display: none;
  background: image-url('svg/icon_spinner.svg') no-repeat center center;
  height: 20px;
  width: 20px;
  background-size: 100%;
}