
// playlists page?
a.edit {
  display: block;
  float: left;
  width: 31px;
  height: 20px;
  text-indent: -1000px;
  background: image-url('icons/edit.png') no-repeat left center;
  &.right {
    position: relative;
    top: 0;
    float: right;
    margin-top: -37px;
    margin-right: 25px;
  }
}


// playlists page?
.asset div.button a.remove,
.asset.hover div.button a.remove,
a.button.remove {
  width: 30px;
  height: 30px;
  // background: image-url('icons/remove.png') no-repeat center top;
}
