.comment {
  position: relative;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid $light_gray;
  &:last-child {
    border-bottom: 0;
  }
  div.private_comment {
    position: absolute;
    z-index: 4;
    top: 51px;
    left: -4px;
    width: 25px;
    height: 25px;
    background: image-url('icons/private.png') no-repeat top left;
  }
  .comment_user {
    a.alonetoner,
    img {
      float: left;
      width: 50px;
      margin-top: 1px;
      margin-right: 10px;
    }
  }
  .comment_user_text {
    font-size: 12px;
    font-weight: normal;
    margin-left: 72px;
    padding-top: 10px;
    a,
    a:visited {
      font-size: 12px;
      font-weight: bold;
      text-decoration: underline;
    }
  }
  .comment_body,
  .body {
    margin-bottom: 1px;
    margin-left: 72px;
    padding: 0 20px 30px 0;
    p {
      line-height: 18px;
      margin: 16px 0 0 0;
      margin-top: 13px;
    }
    .comment_controls {
      font-weight: normal;
      float: right;
      margin-top: 15px;
      a {
        @include default_button("admin");
      }
    }
    h1,
    h2,
    h3 {
      font-size: 16px;
      font-weight: bold;
      margin-top: 32px;
      margin-bottom: 12px;
    }
  }
}

.comment_form {
  overflow: hidden;
  .comment_as {
    font-size: 14px;
    font-weight: normal;
    line-height: 25px;
    height: 25px;
    margin-bottom: 5px;
    img {
      float: left;
      margin-right: 5px;
    }
  }
  textarea {
    height: 60px;
    margin-bottom: 5px;
    padding: 5px;
    width: 100%;
  }
  .private_check_box {
    float: left;
    clear: both;
    margin-top: 2px;
    font-size: 11px;
  }
}

.comment_header {
  a {
    font-size: 16px;
    line-height: 40px;
    margin-left: -10px;
  }
}
