// Sorta sketchy to write something this obscure, probably the HTML could be changed
h2#latest_comments + div.box {
  background-color: transparent;
  .asset {
    background-color: #FFFFFF;
    border-bottom:0;
  }
}

#home_comments_area, #user_comments_area {
  .asset {
    border-bottom: 0;
    border-top: 1px solid #EEEEEE;
  }
  h2 + .asset {
    border-top: 0;
  }
}

.comment {
  &:before {
    content:"\A";
    border-style: solid;
    border-width: 0 9px 13px 9px;
    border-color: transparent transparent $samo-background-gray transparent;
    position: absolute;
    top: -13px;
    left: 47%;
  }
  position: relative;
  padding: $baseline;
  padding-top: 10px;
  background-color: $samo-background-gray;
  @include samo-shadow-and-radius();
  box-shadow: none;
  margin: 6px 10px 10px 10px;
  &:last-child {
    border-bottom: 0;
  }
  .comment_user {
    position: absolute;
    top: -6px;
    a.alonetoner,
    img {
      float: left;
      width: 30px;
      height: 30px;
      margin-top: 14px;
      margin-right: 10px;
    }
  }
  .comment_user_text {
    font-size: 11px;
    font-weight: normal;
    padding-top: 16px;
    margin-left: 40px;
    a,
    a:visited {
      font-weight: bold;
      text-decoration: none;
    }
    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .comment_body {
    font-family: $serif-font;
    i {
      float: left;
      margin-right: 8px;
    }
    p {
      line-height: 18px;
      margin: 16px 0 0 0;
      margin-top: 13px;
    }
    .comment_controls {
      font-weight: normal;
      float: right;
      margin-top: 15px;
      a {
        @include default_button();
      }
    }
    h1,
    h2,
    h3 {
      font-size: 16px;
      font-weight: bold;
      margin-top: 32px;
      margin-bottom: 12px;
    }
  }
}