form#reset-password {
  input[type="text"] {
    border: 1px solid #fff;
    border-radius: 4px;
    background-color: #f5f5f5;
    margin-right: 10px;
    &:focus {
      border: 1px solid #a6abab;
    }
  }
}

.settings-box {
  h2 {
    margin-bottom: $baseline;
  }
  .static_content {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    &:last-child {
      padding-top: $baseline !important;
    }
  }
  select {
    margin-top: 6px;
  }
}

.edit-your-profile-box {
  .static_content {
    &:last-child {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }
  }
}

.change-your-picture-box {
  br {
    display: none;
  }
  form {
    margin-top: $baseline;
    input:last-child {
      display: block;
      margin-top: $baseline;
    }
  }
}

.your-account-box {
  .static_content:last-child {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    .static_content {
      padding: 0 !important;
      padding-bottom: $baseline !important;
      input:last-child {
        margin-top: $baseline !important;
      }
    }
  }
}