footer#site_footer {
  font-size: 13px;
  font-weight: normal;
  line-height: 20px;
  width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
  color: #333;
  background-color: #272727;
  .author_name {
    font-size: 11px;
    font-weight: bold;
    position: relative;
    top: -3px;
  }
  .footer_inner {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    @include match-dynamic-site-width();
    flex-wrap: wrap;
    justify-content: space-between;
    .footer_column {
      width: 23%;
      min-width: 150px;
      background-color: #353535;
      color: #ffffff;
      line-height: 20px;
      padding: 16px;
      @media #{$tablet} {
        font-size: 17px;
        line-height: 32px;
        width: 100%;
        h3.footer_column_header {
          font-size: 18px;
          margin-bottom: 12px;
        }
      }
      .footer_column_header {
        color: #eb7b0c;
        font-size: 14px;
        line-height: 1.2em;
        margin-bottom: 10px;
        font-family: $medium-sans-font;
        font-weight: normal;
      }
    }
  }
}
