form {
  input[type="search"],
  input[type="text"],
  input[type="password"],
  input[type="email"],
  textarea {
    outline: 0;
    -webkit-appearance: none;
  }
  input[type="search"],
  input[type="text"],
  input[type="password"],
  input[type="email"] {
    width: 280px;
  }
  input[type="submit"] {
    cursor: pointer;
    @include default-button();
  }
  input[type="file"] {
    background-color: transparent;
  }
  br {
    display: none;
  }
  label {
    margin-bottom: 2px !important;
    font-family: $medium-sans-font;
    font-size: 12px;
    display: block;
    margin: 2px 0;
    text-align: left;
    text-transform: uppercase;
    color: $new-samo-gray;
    abbr {
      display: none;
    }
  }
  input,
  textarea,
  select {
    box-sizing: border-box;
    margin-bottom: $baseline;
    border: 1px solid #fff;
    border-radius: 4px;
    background-color: $samo-alternate-background-gray;
    font-size: 14px;
    &:focus {
      border: 1px solid $new-samo-gray;
    }
  }
  input {
    padding: 9px 10px 6px 10px;
    font-family: $medium-sans-font;
  }
  textarea {
    font-family: $sans-font;
    width: 100%;
    padding: 8px;
  }
}

/* VALIDATION FEEDBACK */

.field_with_errors {
  input {
    border: 1px dotted $samo-dark-orange;
  }
}

/* PLACEHOLDER TEXT COLOR */

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: $samo-gray;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: $samo-gray;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: $samo-gray;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: $samo-gray;
}

/* CUSTOM SVG CHECKBOX REPLACEMENT */

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
  > span {
    position: relative;
    top: 3px;
  }
}

[type="checkbox"]:not(:checked) + label:hover:before {
  border: 1px solid $new-samo-gray !important;
}

[type="checkbox"]:not(:checked) + label:active:before,
[type="checkbox"]:checked + label:active:before {
  border: 1px solid #d46a00 !important;
  background-color: $samo-orange !important;
}

[type="checkbox"]:not(:checked) + label:active:after {
  position: absolute;
  top: 3px;
  left: 3px;
  content: image-url("svg/icon_checkmark.svg");
  display: block;
}

[type="checkbox"]:not(:checked) + label:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 14px;
  height: 14px;
  content: "";
  border: 1px solid $samo-light-gray;
  border-radius: 2.5px;
  background-color: $samo-alternate-background-gray !important;
}

[type="checkbox"]:checked + label:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 14px;
  height: 14px;
  content: "";
  border: 1px solid #888;
  border-radius: 2.5px;
  background-color: #888;
}

[type="checkbox"]:not(:checked) + label:after {
  position: absolute;
  top: 3px;
  left: 3px;
  content: image-url("svg/icon_checkmark.svg");
  display: none;
}

[type="checkbox"]:checked + label:after {
  position: absolute;
  top: 3px;
  left: 3px;
  content: image-url("svg/icon_checkmark.svg");
  display: block;
}