
/* INPUT STYLES */

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
  > span {
    position: relative;
    top: 4px;
  }
}

[type="checkbox"]:not(:checked) + label:hover:before {
  border: 1px solid #A6ABAB!important;
}

[type="checkbox"]:not(:checked) + label:active:before,
[type="checkbox"]:checked + label:active:before {
  border: 1px solid #D46A00!important;
  background-color: #EB7B0C!important;
}


/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 14px; height: 14px;
  border: 1px solid #D7DBDB;
  background: #fff;
  border-radius: 2.5px;
}

/* checkbox aspect */
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 14px; height: 14px;
  border: 1px solid #888888;
  background-color: #888888;
  border-radius: 2.5px;
}

/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: image-url('checkmark.svg');
  position: absolute;
  top: 3px;
  left: 3px;

}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  // opacity: 0;
  // transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  // opacity: 1;
  // transform: scale(1);
}

/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 2px dotted blue;
}



// .simple_form {

  div.input {
    clear: both;
    width: 265px;
    margin-bottom: 10px;
    text-align: left;

    /* Required for Webkit, but not for Gecko */
  }

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $lightest-gray;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: $lightest-gray;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: $lightest-gray;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: $lightest-gray;
  }

  .error {
    display: block;
    clear: both;
    color: white;
  }
  .hint {
    font-style: italic;
    display: block;
    clear: left;
    text-align: right;
    color: #555;
  }

  label {
    font-size: 12px;
    display: block;
    margin: 2px 0;
    text-align: left;
    text-transform: uppercase;
    color: #a6abab;
    abbr {
      display: none;
    }
  }

  textarea {
    font-family: $sans-font;
    height: 200px;
    padding: 8px;
    border: 0;
    border: 1px solid #fff;
    border-radius: 4px;
    background-color: #f5f5f5;
    &:focus {
      border: 1px solid #a6abab;
    }
  }
  input {
    font-size: 1em;
    margin: 0;
    padding: 8px;
    &.string, &.password {
      width: 250px;
      border: 0;
      border: 1px solid #fff;
      border-radius: 4px;
      background-color: white;
      background-color: #f5f5f5;
      &:focus {
        border: 1px solid #a6abab;
      }
    }
    &.radio {
      margin-right: 5px;
      vertical-align: -3px;
    }
    &.check_boxes {
      margin-left: 3px;
      vertical-align: -3px;
    }
    &.btn {
      font-size: 1.4em;
      margin-right: 0;
      padding: 10px;
    }
  }
// }

input[type="submit"] {
  @include default-button();
  cursor: pointer;
}





div.boolean label {
  float: none;
  margin: 0;
  // margin-left: 10px;
}

div.boolean label input {
  // float: none;
  // margin: 0;
  margin-right: 5px;
}

label.collection_radio_buttons {
  float: none;
  margin: 0;
  margin-right: 10px;
  margin-left: 2px;
  vertical-align: -2px;
}

.field_with_errors {
  width: 310px;
  margin-left: -10px;
  padding: 5px;
  padding-left: 10px;
  background-color: #e66d29;
  label {
    color: white;
  }
}


label.collection_check_boxes {
  float: none;
  margin: 0;
  margin-left: 2px;
  vertical-align: -2px;
}
