.header_inner {
  width: 940px;
}

.header_logo {
  position: absolute;
  top: 8px;
  left: 49px;
  display: block;
  width: 69px;
  height: 54px;
  background: transparent image-url('alonetone_big-notext.png') no-repeat;
  background-size: 100%;
}

.header_nav {
  display: none;
}

.header_login {
  float: right;
}

.header_search {
  position: relative;
  top: -354px;
  left: -180px;
  float: right;
  height: 50px;
  padding-top: 4px;
  #search_form {
    display: block;
    float: left;
    #query {
      font-size: 15.1px;
      width: 220px;
      height: 30px;
      padding: 3px 12px;
      color: #666666;
      border: 1px solid $light_gray;
      &.focused {
        color: white;
      }
    }
  }
  #search_button {
    display: block;
    float: left;
    width: 18px;
    height: 18px;
    margin-top: 15px;
    margin-left: 12px;
    img {
      width: 18px;
      height: 18px;
    }
  }
}

.user_dropdown {
  float: right;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  background-color: #FFFFFF;
  .profile_link {
    font-family: $header_font;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    z-index: 3;
    display: block;
    height: 26px;
    padding-bottom: 8px;
    color: $black;
    background-color: #FFFFFF;
    span {
      line-height: 34px;
      display: block;
      float: left;
      min-width: 65px;
      padding: 0 10px 0 15px;
      text-align: left;
      &:hover {
        text-decoration: underline;
      }
    }
    img {
      width: 34px;
      height: 34px;
    }
  }
  .user_dropdown_menu {
    position: absolute;
    z-index: 2;
    top: -90px;
    a {
      font-family: $header_font;
      font-size: 14px;
      font-weight: 500;
      line-height: 26px;
      display: block;
      height: 26px;
      padding-left: 10px;
      color: $black;
    }
    :nth-child(odd) {
      // background-color: #555555;
    }
  }
  .user_dropdown_menu:nth-child(odd) {
    background-color: $box_background_even;
  }
}
