.latest-playlists-header {
  margin-right: auto;
  margin-left: auto;
  color: $samo-orange;
  @media #{$efficient} {
    width: $efficient-site-width-wide;
  }
}

.latest-playlists-header + ul.playlists {
  margin-right: auto;
  margin-bottom: 40px;
  margin-left: auto;
  // justify-content: space-between;
  li.playlist {
    // margin-right: 0;
  }
  @media #{$efficient} {
    width: $efficient-site-width-wide;
    margin-bottom: 20px;
  }
  @media only screen and (max-width: 710px) and (min-width: 440px) {

    li {
      display: none;
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3) {
        display: block;
      }
    }
  }
  @media only screen and (max-width: 440px) {
    li {
      display: none;
      &:nth-child(3) {
        display: none;
      }
      &:nth-child(1),
      &:nth-child(2) {
        display: block;
      }
    }
  }
}




#home_grid {
  display: grid;
  margin: 0 auto;
  grid-template-columns: 45% 45%;
  max-width: 1100px;
  justify-content: space-around;
  grid-template-areas:
     'playlists playlists'
     'latest popular'
     'comments favorites'
     'follows ......';
  @media #{$widescreen} {
    grid-template-columns: 31% 31% 31%;
    max-width: none;
    grid-template-areas:
       'playlists playlists comments'
       'latest popular comments'
       'favorites follows .....'
  }

  @media #{$mobile} {
    display: flex;
    flex-direction: column;
    > * {
      width: 100%;
    }
  }

  #home_playlists_area {
    grid-area: playlists;
  }
  #home_latest_area {
    grid-area: latest;
  }
  #home_popular_area {
    grid-area: popular;
  }
  #home_follows_area {
    grid-area: follows;
  }
  #home_comments_area {
    grid-area: comments;
  }
  #home_favorites_area {
    grid-area: favorites;
  }
  > * {
    min-width: 320px;
  }
}