  ul.playlists_row { // name this home perhaps or move it to a homepage scss
    font-size: 11px;
    display: flex;
    margin-bottom: 40px;
    justify-content: space-between;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    @media only screen and (max-width: 640px) and (min-width: 420px) {
      li {
        display: none;
        &:nth-child(1), &:nth-child(2), &:nth-child(3) {
          display: block;
        } 
      }
    }
    @media only screen and (max-width: 420px) {
      li {
        display: none;
        &:nth-child(3) {
          display: none;
        }
        &:nth-child(1), &:nth-child(2) {
          display: block;
        } 
      }
    }

    li {
      position: relative;
      width: 178px;
      text-align: center;
      a.overlay {
        margin-left: 20px;
        opacity: 1;
      }
      img {
        width: 125px;
        height: 125px;
        margin-top: 4px;
        margin-left: -1px;
      }
    }
}

.latest-playlists-header {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
