body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  main {
    width: 100%;
    margin: $baseline auto 0 auto;
    padding-bottom: $baseline * 3;
    flex: 1;
    > h1 {
      @include match-variable-site-width();
      margin-left: auto;
      margin-right: auto;
    }
    #playlist-and-track-content {
      display: flex;
      justify-content: center;
      @include match-variable-site-width('narrow');
      margin-left: auto;
      margin-right: auto;
      flex-wrap: wrap;
      .playlist-sidebar {
        width: 300px;
      }
      .track-content {
        margin-left: $baseline;
        max-width: 700px;
        @media #{$mobile} {
          margin-left: auto;
        }
        flex: 1;
      }      
    }
    #columns {
      display: flex;
      max-width: 1100px;
      margin-right: auto;
      margin-left: auto;
      justify-content: space-around;
      flex-wrap: wrap;
      > div {
        width: 45%;
        min-width: 320px;
        max-width: 450px;
        h2.box {
          box-shadow: none;
          border-radius: 0;
        }

        .static_content {
          padding: $baseline $baseline / 2;
          font-size: 13px;
          label {
            display: block;
            margin-bottom: -4px;
          }
        }
        @media #{$mobile} {
          width: 100%;
        }
      }
    }
  }
}
