body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  main {
    width: $desktop_fixed_width;
    margin: 40px auto 0 auto;
    padding-bottom: $baseline * 3;

    flex: 1;
    @media only screen and (max-width: 600px) {
      width: 100%;
    }
    .playlist {
      float: left;
      width: $baseline * 10;
    }
    .track-content {
      float: left;
      margin-left: $baseline;
    }
    #columns {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      #left {
        width: 45%;
        min-width: 320px;
        max-width: 420px;
      }
      #right {
        width: 45%;
        min-width: 320px;
        max-width: 420px;
      }
    }
    #static {
      width: 600px;
      height: 1%;
    }
    .sidebar {
      float: right;
      width: 240px;
    }
  }
}
