/* UPLOADING */

#uploader {
  form {
    .filefields {
      li {
        list-style: none;
        margin-bottom: $baseline / 4;
      }
    }
  }
  .uploading {
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    height: 100px;
    text-align: center;
  }
}

dl.group {
  dd {
    margin-left: 0;
  }
}


#fineprint.box {
  .static_content {
    padding-top: $baseline / 2;
    padding-bottom: $baseline / 2;
  }
}

/* REPORT A USER */

.user_report .comment_user {
  .title {
    span.box_title {
      font-size: 16px;
      line-height: 30px;
      padding-top: 8px;
      a {
        font-weight: 16px;
      }
    }
  }
}

/* SUDO BAR */

.sudo_bar {
  font-size: 12px;
  line-height: 25px;
  height: 25px;
  padding-left: 55px;
  text-align: left;
  color: #FFFFFF;
  background-color: red;
  a {
    text-decoration: underline;
    color: white;
  }
}