
// /home, /user, /playlists capsules
ul.playlists {
  display: flex;

  flex-wrap: wrap;
  &.three_or_less_playlists {
    justify-content: flex-start;
    li.playlist {
      margin-right: $baseline;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  li.playlist {
    font-size: 11px;
    width: 200px;
    margin-right: $baseline * 1.5;
    margin-bottom: $baseline * 1.5;
    padding-bottom: $baseline / 4;
    text-align: center;
    background-color: $white;

    @include samo-shadow-and-radius();
    a {
      display: block;
      img {
        display: block;
        width: 200px;
        border-radius: 4px 4px 0 0;
      }
      svg {
        display: block;
        border-radius: 4px 4px 0 0;
      }
    }
    a.small_playlist_title {
      font-weight: bold;
      display: block;
      overflow: hidden;
      margin-top: 10px;
      padding: 0 6px;
      text-align: center;
    }
    a:last-child {
      font-weight: normal;
      display: block;
      margin-top: 5px;
      padding: 0 6px;
      color: $samo-gray;
    }
  }
}

// This!!
#static_header + ul.playlists {
  @include match-dynamic-site-width();
  li {
    margin-bottom: 30px;
  }
}

// playlists/new

body.has-details {
  .playlists-new {
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    padding: $baseline / 2 $baseline;
    background-color: #fff;
    @include match-dynamic-site-width('narrow');
    @include samo-shadow-and-radius();
    @media #{$mobile} {
      width: 90%;
    }
    h1 {
      font-weight: bold;
      line-height: 42px;
      display: block;
      box-sizing: border-box;
      width: 100%;
      height: 42px;
      margin-top: 0;
      margin-bottom: 1px;
      padding: 0 0 0 0;
      color: $samo-orange;
      border-bottom: 1px solid $light-gray;
      background-color: transparent;
      &.static_content_heading {
        padding-left: $baseline / 2;
      }
    }
    h2.spacey {
      font-size: 13px;
      width: 100%;
      margin-right: auto;
      margin-left: auto;
    }
    .errorExplanation {
      margin: 0;
      padding: 0;
      p {
        font-size: inherit;
      }
    }
    .container.static_content {
      width: 100%;
      padding: 0;
      background-color: $white;
      box-shadow: none;
      strong {
        font-weight: normal;
      }
    }
  }
}

// editing, woo hoo!

#edit_playlist {
  .playlist {
    .tracks {
      position: relative;
    }
    #drop_here {
      display: none;
    }
    .playlist_title {
      a.edit {
        display: none;
      }
    }
    &.adding {
      #drop_here {
        font-size: 20px;
        line-height: 50px;
        display: block;
        width: 100%;
        height: 50px;
        text-align: center;
        color: $orange;
        border-top: 1px solid #000;
        background-color: $playlist_box_silver;
      }
    }
  }
}

#playlist_source_options {
  overflow: auto;
  margin-left: $baseline / 2;
  li {
    float: left;
    margin-right: 10px;
    text-decoration: underline;
  }
}

#sort_playlists {
  position: relative;
  width: 100%;
  height: 1000px;
  li.small_playlists {
    margin-bottom: 20px;
  }
}

#edit_playlist {
  position: relative;
  .playlist_title {
    h3 {
      margin-left: $baseline / 2;
    }
  }
  .info {
    padding-right: $baseline / 2;
    padding-left: $baseline / 2;
  }
  .asset .asset_top div.title {
    display: block;
  }
}

#edit_playlist_info {
  form p {
    font-size: 14px;
  }
  input {
    font-size: 13px;
  }
  textarea {
    width: 100%;
  }
  .edit_playlist_columns {
    display: flex;
     > div {
      width: 50%;
    }
  }
}

.playlist_delete_button {
  font-size: 10px;
  font-weight: normal;
  line-height: 35px;
  position: relative;
  top: 10px;
  display: block;
  float: right;
  width: 110px;
  height: 30px;
  margin-top: 20px!important;
  margin-right: -25px;
  margin-left: 10px;
  background: image-url('icons/delete.png') no-repeat center top;
}

.playlist_edit_button {
  float: right!important;
  margin: 0!important;
  margin-right: 20px!important;
}

.edit_playlist_button_row {
  position: absolute;
  right: 20px;
  bottom: 20px;
  overflow: hidden;
}

.playlists_hidden_blurb {
  font-size: 12px;
  margin: 5px 0 14px 0;
}


// I think this will all go away, for the multi-playlist view that has gone away?

// .playlist {
// div.box {
// margin-bottom: 1px;
// padding-top: 9px;
// padding-left: 25px;
// background-color: $light_gray;
// h2 {
// font-size: 20px;
// font-weight: normal;
// line-height: 20px;
// margin: 0;
// margin-bottom: 4px;
// padding-right: 40px;
// }
// h3 {
// font-size: 12px;
// font-weight: normal;
// margin: 0;
// padding-bottom: 8px;
// }
// }
// div.info {
// position: relative;
// display: block;
// padding: 15px 15px 15px 20px;
// background-color: $playlist_box_silver;
// div.cover {
// position: relative;
// float: left;
// overflow: hidden;
// width: 148px;
// height: 136px;
// }
// p.description {
// float: left;
// font-size: 12px;
// width: 360px;
// margin-left: 20px;
// }
// .play_time {
// font-weight: bold;
// }
// }
// .empty {
// position: relative;
// margin-bottom: 1px;
// padding: 10px 20px 10px 20px;
// background-color: $orange_background;
// a {
// font-weight: bold;
// text-decoration: underline;
// }
// }
// }
