
.draggable-mirror {
  z-index: 99999;
  border:1px solid #000000;
}

.edit_playlist_left_column {
  .cover img{
    width:250px
  }
}
.playlist_asset {
  .asset_top {

  }
  .add, .remove{
    background-color:red;
    width:50px;
    height:50px;
    position: absolute;
    top:0px;
    right:0px;
    z-index:999999;
  }
  .add{
    background-color:green;
  }
  .remove {
    .remove-inner {
      width: 29px;
      height: 29px;
      border-radius: 4px;
      background-color: #C4C4C4;
    }
  }
}