// /home, /user, /playlists capsules

ul.playlists {
  display: flex;
  flex-wrap: wrap;
  &.three_or_less_playlists {
    justify-content: flex-start;
    li.playlist {
      margin-right: $baseline;
    }
  }
  li.playlist {
    &:last-child {
      margin-right: 0;
    }
    font-size: 11px;
    width: 220px;
    margin-right: 26.66px;
    margin-bottom: $baseline * 1.5;
    padding-bottom: $baseline / 4;
    text-align: center;
    background-color: $white;
    border-radius: 6px;
    box-shadow: 0px 1.5px 2.75px rgba(0, 0, 0, 0.15);
    > a:first-child {
      height: 220px;
      @media #{$tablet} {
        height: auto;
      }
    }
    a {
      display: block;
      img {
        display: block;
        width: 220px;
        border-radius: 6px 6px 0 0;
      }
      svg {
        display: block;
        border-radius: 6px 6px 0 0;
      }
    }
    a.small_playlist_title {
      font-weight: bold;
      display: block;
      overflow: hidden;
      margin-top: 16px;
      line-height: 11px;
      padding: 0 6px;
      text-align: center;
    }
    a.small_playlist_user {
      color: $black;
      font-size: 10px;
    }
    a:last-child {
      font-weight: normal;
      display: block;
      margin-top: 4px;
      padding: 0 8px 8px 8px;
    }
  }
  @media #{$mobile} {
    display: flex;
    flex-direction: row;
    width: $mobile-site-width-wide;
    margin-bottom: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
    li.playlist {
      display: block !important;
      width: 45%;
      margin: 0;
      margin-bottom: 18px;
      a {
        img {
          width: 100%;
        }
      }
    }
  }
}

.playlists_container {
  @include match-dynamic-site-width();
  max-width: 960px;
  ul.playlists {
    margin-right: -36px;
    li {
      margin-bottom: 30px;
    }
  }
}

.playlist {
  div.box {
    margin-bottom: 1px;
    padding-top: 9px;
    padding-left: 25px;
    background-color: $light_gray;
    h2 {
      font-size: 20px;
      font-weight: normal;
      line-height: 20px;
      margin: 0;
      margin-bottom: 4px;
      padding-right: 40px;
    }
    h3 {
      font-size: 12px;
      font-weight: normal;
      margin: 0;
      padding-bottom: 8px;
    }
  }
  div.info {
    position: relative;
    display: block;
    padding: 15px 15px 15px 20px;
    background-color: $playlist_box_silver;
    div.cover {
      position: relative;
      float: left;
      overflow: hidden;
      width: 148px;
      height: 136px;
    }
    p.description {
      float: left;
      font-size: 12px;
      width: 360px;
      margin-left: 20px;
    }
    .play_time {
      font-weight: bold;
    }
  }
  .empty {
    position: relative;
    margin-bottom: 1px;
    padding: 10px 20px 10px 20px;
    background-color: $orange_background;
    a {
      font-weight: bold;
      text-decoration: underline;
    }
  }
}
