.playlists-new {
  @include match-dynamic-site-width("narrow");
  @include samo-shadow-and-radius();
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  padding: $baseline / 2 $baseline;
  padding-left: 0;
  padding-right: 0;
  background-color: #fff;
  @media #{$mobile} {
    width: 100%;
  }
  h1 {
    font-weight: bold;
    line-height: 42px;
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 42px;
    margin-top: 0;
    margin-bottom: 1px;
    padding: 0 0 0 0;
    border-radius: 0;
    line-height: 20px;
    height: auto;
    padding-bottom: 12px;
    padding-left: $baseline / 2;

    color: $samo-orange;
    border-bottom: 1px solid $light-gray;
    background-color: transparent;
    &.static_content_heading {
      padding-left: $baseline / 2;
    }
  }
  h2.spacey {
    font-size: 13px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: $baseline / 2;
    padding-right: $baseline / 2;
    box-sizing: border-box;
  }
  .errorExplanation {
    margin: 0;
    padding: 0;
    p {
      font-size: inherit;
    }
  }
  .container.static_content {
    width: 100%;
    padding: 0;
    padding-left: $baseline / 2;
    padding-right: $baseline / 2;
    background-color: $white;
    box-sizing: border-box;
    box-shadow: none;
    strong {
      font-weight: normal;
    }
  }
}