.track-content {
  .post-content, .edit-track, .track-credits {
    position: relative;
    max-width: 650px;
    min-height: $baseline * 3;
    margin-bottom: $baseline * 3;
    padding: $baseline ($baseline * 3) ($baseline * 2) ($baseline * 3);
    padding-bottom: $baseline;
    background-color: white;
    table {
      font-size: 12px;
      thead {
        tr {
          th {
            text-align: center;
            img {
              width: 50%;
              height: auto;
              opacity: .4;

              filter: alpha(opacity=40);
            }
          }
        }
      }
      tbody {
        tr {
          td {
            text-align: center;
          }
        }
        tr:first-child {
          td {
            font-weight: bold;
            line-height: 12px;
            height: 20px;
            vertical-align: top;
          }
        }
        tr:last-child {
          td {
            line-height: 12px;
            vertical-align: top;
            color: $gray;
          }
        }
      }
    }
  }

  .track-credits {
    width: 680px;
    padding-right: 10px;
    padding-left: 10px;
  }

  h1 {
    font-family: $black-font;
    font-size: $baseline;
    line-height: $baseline;
    padding-bottom: $baseline;
  }
}

.post-content, .edit-track textarea {
  position: relative;
  width: 100%;
  margin-top: $baseline;
  margin-bottom: $baseline * 3;
  word-wrap: break-word;
  word-break: break-word;
  color: $not-quite-black;
  border: none;
  background-color: white;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  p {
    font-family: $serif-font;
    font-size: 18px;
    line-height: $baseline;
    margin-bottom: $baseline;
    img {
      max-width: 550 + ($baseline * 6);
      margin-top: $baseline;
      // not quite perfectly the same width
      margin-left: -$baseline * 3;
    }
  }
  .edit-link {
    position: absolute;
    top: $baseline;
    right: $baseline *1.5;
    text-decoration: none;
    color: $light-gray;
    &:hover {
      color: $black;
    }
  }
  hr {
    font-family: 'FontAwesome';
    position: relative; // needed for icon
    width: 550px;
    margin: ($baseline * 1.5) auto;
    text-align: center;
    border: 0;
    border-bottom: 1px solid #aaa;
    &:after {
      position: absolute;
      top: -.55em;
      left: 265px;
      display: block;
      content: '\f025'; // with headphone icon
      color: #aaa;
      background-color: white; // interrupt hr

      -webkit-font-smoothing: antialiased;
    }
  }
  h3 {
    font-family: $serif-font;
    font-size: 20px;
    font-weight: bold;
    margin-top: $baseline + 2px;
    margin-bottom: $baseline - 2px;
    color: $not-quite-black;
  }
}

.track-content-edit {
  @include match-variable-site-width();

  .edit-track {
    max-width: none;

    textarea {
      position: relative;
      width: 100%;
      height: 300px;
      margin-top: $baseline;
      margin-bottom: $baseline;
      padding: $baseline / 2;
      word-wrap: break-word;
      word-break: break-word;
      color: $not-quite-black;
      border: none;
      background-color: $light-gray;
    }
  }
  .edit-track-bottom {
    position: relative;
    width: 100%;
    max-width: none;
    margin-top: $baseline;
    margin-bottom: $baseline * 3;
    padding: 27px 81px 54px 81px;
    word-wrap: break-word;
    word-break: break-word;
    color: $not-quite-black;
    border: none;
    background-color: white;
    box-sizing: border-box;

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    .edit-save {
      margin-top: $baseline;
    }
  }
}
