h2.stats {
  margin-top: 1.5em;
  margin-bottom: .5em;
  text-indent: 45px;
}

#total_playsDiv {
  width: 800px;
  margin: auto;
  text-align: left;
  background-color: $silver;
}

.static_content#stats,
.static_content.stats {
  width: 800px;
  margin: 0 auto;
  padding: 0;
}

.secretz {
  margin: 0;
  padding: 0;
}
h2.table {
  margin-bottom: .3em;
  padding-top: 2em;
}
#statstable,
.statstable {
  width: 100%;
  thead tr {
    height: 25px;
    border-bottom: 3px solid #37392B;
    th {
      font-size: 12px;
      font-weight: bold;
      line-height: 25px;
      padding-right: 10px;
      padding-left: 15px;
      text-align: left;
      background: #C7C8C7;
    }
  }
  tbody {
    overflow-y: scroll;
    height: 350px;
  }
  tr {
    width: 100%;
  }
  tr td {
    font-size: 12px;
    line-height: 20px;
    height: 20px;
    padding-left: 15px;
    background-color: $box-background-color;
    &.uploader {
      min-width: 200px;
    }
    a,
    a:hover,
    a:visited {
      font-size: 12px;
      line-height: 20px;
    }
    img {
      width: 25px;
    }
  }
  tr:nth-child(odd) td {
    background-color: $box_background_even;
  }
}

.highlight {
  background-color: yellow;
}

.static_content.big_stats {
  font-size: 14px;
  line-height: 1.5em;
  strong {
    font-size: 18px;
  }
}
