div.tabs,
div.big_tabs {
  position: relative;
  float: none;
  clear: both;
  width: 100%;
}

div.tabs {
  width: 420px;
}


.favorite_panel {
  position: relative;
  height: 25px;
  margin-bottom: -20px;
  padding-top: 10px;
  padding-right: 10px;
  background: #E1E2E1;
  a {
    float: right;
  }
}

a,
a:visited {
  color: $text_color;
}
textarea {
  width: 100%;
}
.tabbed_input {
  width: 360px;
  height: 20px;
  margin-left: 10px;
}
.home_page_link {
  text-align: right;
}
input.comment_submit {
  @include default_button();
  background-color: transparent;
}
.comment_waiting {
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  bottom: 10px;
  left: 19px;
  text-align: center;
  text-align: center;
  color: $orange;
  background-color: $tab_box_silver;
  div.ajax_success,
  div.ajax_fail {
    line-height: 30px;
    height: 30px;
    text-indent: 35px;
    background: transparent image-url('icons/ok.png') no-repeat top left;
  }
  div.ajax_success {
    color: $green;
  }
  div.ajax_fail {
    background: transparent image-url('icons/not_ok.png') no-repeat top left;
  }
}
.no_border {
  border: none;
}
p {
  color: $text_color;
}
.alonetoner {
  float: left;
  width: 50px;
  height: 50px;
  margin-right: 10px;

  a {
    overflow: hidden;
    width: 50px;
    height: 50px;
  }
  a img {
    width: 50px;
    height: 50px;
    border: 1px solid #9FA28D;
    &.no_border {
      border: none;
    }
  }
}

.description {
  font-size: 12px;
  line-height: 17px;
  padding-top: 5px;
  .user_description {
    p {
      margin-bottom: 1em;
    }
  }
  p img {
    max-width: 290px;
  }
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
  .description_more p  a {
    font-size: 12px!important;
    font-weight: bold!important;
    margin-bottom: 1em;
    text-decoration: none!important;
  }
}

.comment_track {
  margin-top: 20px;
  clear: both;
}

.stats {
  font-size: 10px;
  line-height: 14px;
  font-family: $header_font;
  font-weight: normal;
}
.admin {
  font-size: 10px;
  line-height: 12px;
  padding-top: 20px;
  color: #666666;
}


.description_panel {
  font-size: 12px;
  padding-top: 5px;
  p {
    padding-right: 30px;
  }
}


.show_to_admin {
  display: none;
  float: none;
  clear: both;
}

.show_to_admin_or_owner {
  display: none;
}

.track_links {
  float: right!important;
  margin-top: 15px;
}

#single_track .track_links {
  left: -9px;
}

.ui-tabs-loading em {
  padding: 0 0 0 20px;
  background: url(loading.gif) no-repeat 0 50%;
}

//auto clear, @ IE 6 & IE 7 Quirks Mode
* html .ui-tabs-nav {
  display: inline-block;
}

*:first-child + html .ui-tabs-nav {
  display: inline-block;
}
