div.tabs,
div.big_tabs {
  position: relative;
  float: none;
  clear: both;
  width: 100%;
}

div.tabs {
  width: 420px;
}

.content ul.ui-tabs-nav {
  width: 100%;
  height: 35px;
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    float: left;
    // be nice to Opera
    min-width: 100px;
    height: 35px;
    margin: 0;
  }
  a {
    font-family: $header_font;
    font-size: 15px;
    font-weight: bold;
    line-height: 35px;
    display: block;
    height: 35px;
    padding: 0 25px;
    text-align: center;
    // required in IE 6
    white-space: nowrap;
    text-decoration: none;
    // position relative makes opacity fail for disabled tab in IE
    color: $text_color2;
    // prevent dotted border in Firefox
    outline: 0;
    background-color: $medium_gray;
  }
  .ui-state-active a {
    position: relative;
    z-index: 2;
    top: 0;
    margin-top: 0;
    color: $text_color;
    background-color: $light_gray;
    background-position: -420px 0;
  }
}

// clearing without presentational markup, IE gets extra treatment
.ui-tabs-navafter {
  display: block;
  clear: both;
  content: ' ';
}

.ui-tabs-hide {
  display: none;
}

// hide from IE 6
* > .ui-tabs-nav a span {
  width: auto;
  height: auto;
}

.ui-tabs-nav .ui-tabs-selected a span {
  padding-bottom: 1px;
}

.ui-tabs-nav .ui-tabs-selected a,
.ui-tabs-nav a:hover,
.ui-tabs-nav a:focus,
.ui-tabs-nav a:active {
  background-position: -420px 0;
}

.ui-tabs-nav a,
.ui-tabs-nav .ui-tabs-disabled a:hover,
.ui-tabs-nav .ui-tabs-disabled a:focus,
.ui-tabs-nav .ui-tabs-disabled a:active {
  background-position: 0 0;
}

.ui-tabs-nav .ui-tabs-selected a span,
.ui-tabs-nav a:hover span,
.ui-tabs-nav a:focus span,
.ui-tabs-nav a:active span {
  background-position: 0 -50px;
}

.ui-tabs-nav a span,
.ui-tabs-nav .ui-tabs-disabled a:hover span,
.ui-tabs-nav .ui-tabs-disabled a:focus span,
.ui-tabs-nav .ui-tabs-disabled aactive span {
  background-position: 0 0;
}

/* @ Opera, use pseudo classes otherwise it confuses cursor... */
.ui-tabs-nav .ui-tabs-selected a:link,
.ui-tabs-nav .ui-tabs-selected a:visited,
.ui-tabs-nav .ui-tabs-disabled alink,
.ui-tabs-nav .ui-tabs-disabled a:visited {
  cursor: text;
}

.ui-tabs-nav a:hover,
.ui-tabs-nav a:focus,
.ui-tabs-nav a:active,
.ui-tabs-nav .ui-tabs-unselect a:hover,
.ui-tabs-nav .ui-tabs-unselect a:focus,
.ui-tabs-nav .ui-tabs-unselect a:active {
  cursor: pointer;
}

.ui-tabs-disabled {
  opacity: .4;
}

.favorite_panel {
  position: relative;
  height: 25px;
  margin-bottom: -20px;
  padding-top: 10px;
  padding-right: 10px;
  background: #E1E2E1;
  a {
    float: right;
  }
}

.ui-tabs-panel {
  position: relative;
  clear: both;
  width: 380px;
  padding: 15px 20px 10px 20px;
  // again, NO position:relative, it makes IE fail
  // declare background color for container to avoid distorted fonts in IE while fading
  a,
  a:visited {
    // text-decoration: underline;
    color: $text_color;
  }
  textarea {
    width: 374px;
  }
  .tabbed_input {
    width: 360px;
    height: 20px;
    margin-left: 10px;
  }
  .home_page_link {
    text-align: right;
  }
  .comment_waiting {
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    bottom: 10px;
    left: 19px;
    text-align: center;
    text-align: center;
    color: $orange;
    background-color: $tab_box_silver;
    div.ajax_success,
    div.ajax_fail {
      line-height: 30px;
      height: 30px;
      text-indent: 35px;
      background: transparent image-url('icons/ok.png') no-repeat top left;
    }
    div.ajax_success {
      color: $green;
    }
    div.ajax_fail {
      background: transparent image-url('icons/not_ok.png') no-repeat top left;
    }
  }
  .panel {
    line-height: 15px;
    overflow: hidden;
    width: 380px;
    margin-left: -20px;
    padding: 10px 20px;
    border-top: 1px solid black;
    border-top-color: $body_background;
    &.no_border {
      border: none;
    }
    &.description_panel {
      position: relative;
      min-height: 60px;
      p {
        color: $text_color;
      }
      .alonetoner {
        position: absolute;
        left: 15px;
        height: 100%;
        a {
          overflow: hidden;
          width: 50px;
          height: 50px;
        }
        a img {
          width: 50px;
          height: 50px;
          border: 1px solid #9FA28D;
          &.no_border {
            border: none;
          }
        }
      }
      .description {
        font-size: 14px;
        line-height: 17px;
        width: 304px;
        margin-left: 60px;
        .user_description {
          p {
            margin-bottom: 1em;
          }
        }
        p img {
          max-width: 290px;
        }
        p {
          margin-top: 0;
          margin-bottom: 0;
        }
        .description_more p  a {
          font-size: 12px!important;
          font-weight: bold!important;
          margin-bottom: 1em;
          text-decoration: none!important;
        }
      }
      .stats {
        font-size: 12px;
        line-height: 14px;
      }
      .admin {
        font-size: 10px;
        line-height: 12px;
        padding-top: 20px;
        color: #666666;
      }
    }
  }
  .description_panel {
    font-size: 12px;
    padding-top: 5px;
    p {
      padding-right: 30px;
    }
  }
}

.show_to_admin {
  display: none;
  float: none;
  clear: both;
}

.show_to_admin_or_owner {
  display: none;
}

.track_links {
  float: right!important;
  margin-top: 15px;
}

#single_track .track_links {
  left: -9px;
}

.ui-tabs-loading em {
  padding: 0 0 0 20px;
  background: url(loading.gif) no-repeat 0 50%;
}

//auto clear, @ IE 6 & IE 7 Quirks Mode
* html .ui-tabs-nav {
  display: inline-block;
}

*:first-child + html .ui-tabs-nav {
  display: inline-block;
}
