.mass_edit_content {
  @include match-dynamic-site-width("narrow");
  div.track_options {
    a {
      position: absolute;
      float: none;
      right: 8px;
      z-index: 1;
      margin-top: 8px;
      @include default_button();
    }
  }
  > div.box {
    > .static_content {
      padding: $baseline / 2 $baseline;
      box-sizing: border-box;
    }
    h2.box {
      padding-left: $baseline / 2;
      padding-right: $baseline / 2;
      margin-top: 0;
      box-shadow: none;
      border-radius: 0;
      box-sizing: border-box;
    }
    form {
      padding: $baseline / 2 $baseline;
      box-sizing: border-box;
      input#asset_title {
        font-family: $black-font;
        font-size: 24px;
        box-sizing: border-box;
        width: 100%;
        padding: 10px;
      }
      textarea {
        font-size: 16px;
        line-height: 23px;
        position: relative;
        box-sizing: border-box;
        width: 100%;
        height: 300px;
        margin-top: $baseline;
        margin-bottom: $baseline;
        padding: $baseline / 2;
        word-wrap: break-word;
        color: $dark-gray;
        border: 1px solid $samo-light-gray;
        background-color: transparent;
        @media #{$one-column} {
          font-size: 16px;
        }
      }
    }
  }
}
