.asset, .track {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 50px;
  border-bottom: 1px solid $light-gray;
  background-color: $white;
  &.hover {
    #playIconSymbol {
      fill: $samo-orange;
    }
    .asset_top {
      .title_left_column_top {
        color: $samo-orange;
      }
      .time {
        color: $samo-orange!important;
      }
    }
  }
  &:last-child {
    border-bottom: 0;
  }
  .button, .title {
    float: left;
  }
  .seekbar {
    clear: both;
    height: 9px;
    .loaded {
      overflow: hidden;
      height: 5px;
      padding-top: 2px;
      padding-bottom: 2px;
      background-color: $samo-background-gray;
    }
    .played {
      height: 5px;
      background-color: $samo-orange;
    }
  }
  &:not(.open) {
    .seekbar {
      display: none;
    }
  }
  .asset_top {
    display: flex;
    div.button {
      width: 50px;
      height: 50px;
      a {
        width: 50px;
        height: 50px;
        display: block;
        svg {
          pointer-events: none;
          width: 28px;
          height: 28px;
          margin-top: 11px;
          margin-left: 8px;
        }
      }
    }
    div.title {
      display: flex;
      overflow: hidden;
      box-sizing: border-box;
      width: auto;
      height: 50px;
      padding-top: 13px;

      flex-grow: 1;
      .title_left_column {
        flex-grow: 1;
        a.track_link {
          line-height: 1.1em;
          display: block;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
      .title_right_column {
        position: relative;
        width: 50px;
        height: 100%;
        .counter {
          font-size: 15px;
          font-weight: bold;
          position: absolute;
          right: 14px;
          bottom: 20px;
          text-align: right;
        }
        div.time {
          font-size: 12px;
          position: absolute;
          right: 15px;
          bottom: 7px;
          display: block;
          text-align: right;
          color: #8c8c8c;
        }
      }
      a {
        font-size: 15px;
        font-weight: bold;
        text-decoration: none;

        -webkit-font-smoothing: antialiased;
      }
      .title_left_column_bottom {
        clear: both;
        margin-top: -2px;
        a {
          -webkit-font-smoothing: subpixel-antialiased;
        }
      }
      span.by {
        font-size: 11px;
      }
      a.artist {
        font-size: 11px;
        font-weight: normal;
        color: $samo-gray;
        &:hover {
          text-decoration: underline;
        }
      }
      span.track_play, span.latest, span.popular {
        font-size: 12px;
        margin-left: 20px;
      }
      .listen_count {
        font-size: 11px;
        font-weight: bold;
        position: relative;
        top: -3px;
        margin-left: 5px;
        color: $orange;
      }
    }
    &.hover, &.open {
      div.button, div.title {
        background-color: #eee;
      }
    }
    &.playing {
      div.button, div.title {
        background-color: #eee;
      }
      div.button {
        a {
          background-position: -100px 0;
        }
      }
      div.title {
        div.counter {
          opacity: .99;
        }
        div.time {
          color: #fecda6;
        }
      }
    }
  }
  .tracks_reveal {
    overflow: auto;
    box-sizing: border-box;
    padding-top: $baseline;
    padding-right: 17px;
    padding-left: 17px;
    box-shadow: inset 0 1px 3px #f2f2f2;
    @media #{$tablet} {
      padding-right: $baseline / 2;
      padding-left: $baseline / 2;
    }
    a.add_to_favorites, a.favorited {
      position: absolute;
      z-index: 2;
      right: 4px;
      top: 68px;
      display: block;
      width: 50px;
      height: 25px;
    }
    .tracks_reveal_top {
      display: flex;
      .alonetoner {
        width: 50px;
        height: 50px;
        margin-right: $baseline;
        a {
          overflow: hidden;
          width: 50px;
          height: 50px;
        }
        a img {
          width: 50px;
          height: 50px;
          border: 1px solid #9fa28d;
          &.no_border {
            border: none;
          }
        }
      }
      .description {
        font-size: 14px;
        line-height: 17px;
        margin-right: 60px;
        .user_description {
          font-family: $serif-font;
          word-wrap: break-word;
          span.hint {
            font-size: 14px;
            display: block;
            margin-bottom: $baseline / 2;
            color: $black;
            .hint {
              font-size: 14px;
              text-decoration: underline;
              color: $black;
              &:hover {
                color: $orange;
              }
            }
          }
          p {
            margin-bottom: 1em;
          }
        }
        p img {
          max-width: 290px;
        }
        p {
          margin-top: 0;
          margin-bottom: 0;
        }
        .description_more p  a {
          font-size: 12px!important;
          font-weight: bold!important;
          margin-bottom: 1em;
          text-decoration: none!important;
        }
        .stats {
          font-size: 10px;
          line-height: 14px;
        }
      }
    }
    .comment_track {
      clear: both;
      margin-top: 20px;
      .comment_form {
        overflow: hidden;
        form {
          .comment_as {
            font-size: 12px;
            line-height: 37px;
            overflow: auto;
            img {
              float: left;
              width: 27px;
              height: 27px;
              margin-right: 10px;
            }
          }
          textarea {
            font-family: $serif-font;
            box-sizing: border-box;
            width: calc(100% - 6px );
            margin-right: 3px;
            margin-bottom: 15px;
            margin-left: 3px;
            padding: $baseline / 4;
            @media #{$tablet} {
              font-size: 16px;
            }
          }
          .private_check_box {
            font-size: 11px;
            float: left;
            clear: both;
            margin-top: 2px;
          }
          span.private {
              font-size: 11px !important;
              display: block;
              margin-top: 4px;
              margin-bottom: 30px;
              margin-left: 17px;
              color: $red;
              img {
                display: none;
              }
          }
          div.submit_wrapper {
            position: relative;
            top: -3px;
            .comment_waiting {
              font-size: 11px;
              margin-top: -5px;
              text-align: right;
              color: $orange;
              font-weight: bold;
              div.ajax_success, div.ajax_fail {
                line-height: 30px;
                height: 30px;
              }
              div.ajax_success {
                color: $green;
              }
              div.ajax_fail {
                color: $red;
              }
            }
          }
          input.comment_submit {
            float: right;
            cursor: pointer;
            background-color: transparent;

            @include default_button();
          }
        }
      }
    }
    .track_links {
      float: right;
      margin-bottom: $baseline;
      margin-top: 5px;
      a {
        float: right;
        margin-left: 4px;
        margin-top: 10px;
        @include default_button();
        &.show_to_admin_or_owner {
          display: none;
        }
      }
    }
  }
}
