.player {
  position: relative;
  display: flex;
  width: 100%;
  height: $baseline * 3;
  margin-bottom: 22px;
  background-color: $white;
  .play-button-container {
    min-width: 80px;
    height: 80px;
    .play-button, .pause-button {
      position: relative;
      top: 6px;
      left: 15px;
      width: 66px;
      height: 66px;   
      cursor: pointer;
    }
  }
  > i {
    display: none !important;
  }
  .waveform {
    top: 0;
    right: 0;
    height: $baseline* 2.5;
    padding-top: $baseline / 2;
    background-color: white;
    margin-right: $baseline / 2;
    flex-grow: 1;
    position: relative;
     > canvas {
      width: 100%!important;
    }
    .seekbar {
      position: absolute;
      top: 0;
      width: 1px;
      height: 100%;
      background-color: #aaa;
    }
    &:hover .seekbar {
      display: block;
    }
    &:not(:hover) .seekbar {
      display: none;
    }
  }
  .time {
    font-size: 10px;
    position: absolute;
    bottom: 4px;
    display: block;
    width: 80px;
    text-align: center;
    color: $gray;
  }
  .download-button {
    font-size: 20px;
    position: absolute;
    right: 0;
    bottom: -2px;
    a {
      text-decoration: none;
      color: $gray;
    }
  }
}

.player.stuck {
  position: fixed;
  top: 0;
  width: 650px;
  height: $baseline * 2.5;
  margin-top: 0;
  padding-top: 4px;
  border-top: 0;
  .waveform {
    height: 100%;
  }
  .play-button, .pause-button {
    margin-top: 5px;
    padding: 0;
    border: none;
  }
}
