.asset,
.track {
  position: relative;
  overflow: hidden;
  min-height:50px;
  width: 100%;
  border-bottom: 1px solid $light-gray;
  &:last-child {
    border-bottom: 0;
  }
  .button,
  .title {
    float: left;
  }
  .seekbar {
    clear: both;
    height: 9px;
    .loaded {
      overflow: hidden;
      height: 5px;
      padding-top: 2px;
      padding-bottom: 2px;
      background-color: $samo-background-gray;
      // cursor: pointer;

    }
    .played {
      height: 5px;
      background-color: $samo-orange;
    }
  }
  &:not(.open) {
    .seekbar {
      display: none;
    }
  }
  .asset_top {
    display: flex;
    div.button {
      width: 50px;
      height: 50px;
      a {
        display: block;
        margin-top: 13px;
        margin-left: 8px;
        width: 28px;
        height: 28px;
        svg {
          pointer-events: none;
        }
      }
    }
    div.title {
      overflow: hidden;
      box-sizing: border-box;
      width: auto;
      height: 50px;
      padding-top: 13px;
      flex-grow: 1;
      display: flex;
      .title_left_column {
        flex-grow: 1;
        a.track_link {
          text-overflow: ellipsis;
          line-height: 1.1em;
          overflow: hidden;
          white-space: nowrap;
          display: block;
        }
      }
      .title_right_column {
        width: 50px;
        height: 100%;
        position: relative;
        .counter {
          font-size: 15px;
          font-weight: bold;
          position: absolute;
          right: 14px;
          bottom: 20px;
          text-align: right;
        }
        div.time {
          font-size: 12px;
          position: absolute;
          right: 15px;
          bottom: 7px;
          display: block;
          text-align: right;
          color: #8C8C8C;
        }
      }
      a {
        font-size: 15px;
        text-decoration: none;
        font-weight: bold;

        -webkit-font-smoothing: antialiased;
      }
      .title_left_column_bottom {
        clear: both;
        margin-top: 2px;
        a {
          -webkit-font-smoothing: subpixel-antialiased;
        }
      }
      span.by {
        font-size: 11px;
      }
      a.artist {
        font-size: 11px;
        font-weight: normal;
        color: $samo-gray;
      }
      span.track_play,
      span.latest,
      span.popular {
        font-size: 12px;
        margin-left: 20px;
      }
      .listen_count {
        font-size: 11px;
        font-weight: bold;
        position: relative;
        top: -3px;
        margin-left: 5px;
        color: $orange;
      }
    }
    &.hover,
    &.open {
      div.button,
      div.title {
        background-color: #EEEEEE;
      }
    }
    &.playing {
      div.button,
      div.title {
        background-color: #EEEEEE;
      }
      div.button {
        a {
          background-position: -100px 0;
        }
      }
      div.title {
        div.counter {
          opacity: .99;
        }
        div.time {
          color: #FECDA6;
        }
      }
    }
  }
  .tracks_reveal {
    overflow: auto;
    box-sizing: border-box;
    padding-top: $baseline;
    padding-right: $baseline;
    padding-left: $baseline;
    @media #{$mobile} {
      padding-right: $baseline / 2;
      padding-left: $baseline / 2;
    }

    box-shadow: inset 0 1px 3px #F2F2F2;
    .tracks_reveal_top {
      display: flex;
      .alonetoner {
        width: 50px;
        height: 50px;
        margin-right: $baseline;
        a {
          overflow: hidden;
          width: 50px;
          height: 50px;
        }
        a img {
          width: 50px;
          height: 50px;
          border: 1px solid #9FA28D;
          &.no_border {
            border: none;
          }
        }
      }
      .description {
        font-size: 14px;
        line-height: 17px;
        margin-right: 60px;
        .user_description {
          span.hint {
            display: block;
            font-size: 14px;
            margin-bottom: $baseline / 2;
            color: $black;
            .hint {
              font-size: 14px;
              text-decoration: underline;
              color: $black;
              &:hover {
                color: $orange;
              }
            }
          }
          font-family: $serif-font;
          p {
            margin-bottom: 1em;
          }
        }
        p img {
          max-width: 290px;
        }
        p {
          margin-top: 0;
          margin-bottom: 0;
        }
        .description_more p  a {
          font-size: 12px!important;
          font-weight: bold!important;
          margin-bottom: 1em;
          text-decoration: none!important;
        }
        .stats {
          font-size: 10px;
          line-height: 14px;
        }
      }
    }
    .tabbed_input {
      width: 360px;
      height: 20px;
      margin-left: 10px;
    }
    .home_page_link {
      text-align: right;
    }
    .comment_waiting {
      font-size: 14px;
      font-weight: bold;
      position: absolute;
      bottom: 10px;
      left: 19px;
      text-align: center;
      color: $orange;
      background-color: $tab_box_silver;
      div.ajax_success,
      div.ajax_fail {
        line-height: 30px;
        height: 30px;
        text-indent: 35px;
        background: transparent image-url('icons/ok.png') no-repeat top left;
      }
      div.ajax_success {
        color: $green;
      }
      div.ajax_fail {
        background: transparent image-url('icons/not_ok.png') no-repeat top left;
      }
    }
    .no_border {
      border: none;
    }
    .comment_track {
      clear: both;
      margin-top: 20px;
      .comment_form {
        overflow: hidden;
        .comment_as {
          font-size: 12px;
          line-height: 37px;
          overflow: auto;
          img {
            float: left;
            width: 27px;
            height: 27px;
            margin-right: 10px;
          }
        }
        .private_check_box {
          font-size: 11px;
          float: left;
          clear: both;
          margin-top: 2px;
        }
      }
      .comment_header {
        a {
          font-size: 16px;
          line-height: 40px;
          margin-left: -10px;
        }
      }
      textarea {
        box-sizing: border-box;
        width: calc(100% - 6px );
        margin-right: 3px;
        margin-bottom: 15px;
        margin-left: 3px;
      }
      input.comment_submit {
        float: right;
        cursor: pointer;
        background-color: transparent;

        @include default_button();
      }
    }
    .admin {
      font-size: 10px;
      line-height: 12px;
      padding-top: 20px;
      color: #666666;
    }
    .show_to_admin {
      display: none;
      float: none;
      clear: both;
    }
    .show_to_admin_or_owner {
      display: none;
    }
    .track_links {
      float: right;
      margin-top: 15px;
      margin-bottom: $baseline;
      a {
        float: right;
        margin-left: 4px;

        @include default_button();
      }
    }
  }
}

#single_track {
  h1 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
    text-shadow: none;
  }
  #track_details {
    position: relative;
    display: block;
    padding: 15px 15px 15px 20px;
    background-color: $playlist_box_silver;
    p img {
      max-width: 385px;
    }
  }
  textarea {
    width: 380px;
    margin-top: 10px;
  }
  .seekbar {
    display: block;
    background-color: $playlist_box_silver;
    &:not(.initialized) {
      -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
              box-sizing: border-box;
      border-top: 1px solid $body_background_color;
    }
  }
  &.descriptionless {
    .seekbar {
      background-color: $tab_box_silver;
    }
  }
}

div.track_options {
  display: relative;
  width: 100%;
  height: 32px;
}

#radio_tracks {
  margin-bottom: 3px;
}

#single_track .track_links {
  left: -9px;
}
.asset.played {
  opacity: .2;
}


.asset.hover {
  #playIconSymbol {
    fill: $samo-orange;
  }
  .asset_top {
    .title_left_column_top {
      color: $samo-orange;
    }
    .time {
       color: $samo-orange!important;
    }
  }
}
