body {
  font-family: $serif_font;
  font-size: 14px;
  line-height: 1em;
  color: $text_color;
  text-rendering: optimizeLegibility;
}

a,
a:visited {
  line-height: 16px;
  text-decoration: none;
  color: $text_color;
  &:hover {
    text-decoration: underline;
    background-color: transparent;
  }
}

img a,
img a:visited {
  color: transparent;
  &:hover {
    color: none;
  }
}

h1 {
  font-family: $sans_font;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 25px;
  color: $text_color;
  &.user,
  &.static,
  &.notice {
    margin: 0;
    color: $text_color;
  }
}

h2 {
  font-family: $sans_font;
  font-size: 18px;
  font-weight: bold;
  line-height: 2em;
  margin-bottom: 1em;
  color: $text_color2;
}

h2.box {
  font-family: $sans_font;
  font-weight: bold;
  line-height: 45px;
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 42px;
  margin-bottom: 1px;
  padding-left: 7px;
  color: $text_color;
  background-color: $box_background;
}

h2.box.small {
  font-size: 16px;
  line-height: 25px;
  height: 25px;
  margin-bottom: 3px;
}

h2.box.static {
  margin-bottom: 1px;
}

h3.box.static {
  margin-top: 1px;
  text-indent: 25px;
}

h2.box_title,
main h2.box_title a {
  font-size: 20px;
  line-height: 20px;
  margin: 0 0 0 0;
  color: $text_color;
}

.box,
.comment,
.user_report .body,
.update .body,
.notice, {
  a,
  a:visited {
    color: $text_color;
    &:hover {
      color: #191A13;
    }
  }
  p {
    color: $text_color;
    img {
      max-width: 550px;
    }
  }
  ol li {
    list-style-position: inside;
    list-style-type: decimal;
  }
}

.user_report .body,
.update .body,
.notice,
.static_content,
.comment_body {
  font-size: 13px;
  a,
  a:visited {
    font-weight: bold;
  }
  ul {
    margin-top: 10px;
    margin-bottom: 20px;
    li {
      line-height: 18px;
      margin-left: 20px;
      list-style: square inside none;
    }
  }
}

span.note {
  font-size: 11px;
}

#user-index #static_header h1.static {
  // padding-left: 27px;
  background-image: image-url('icons/user.png');
  background-repeat: no-repeat;
  background-position: -4px -3px;
}

.sprites-latest-uploaded {
  display: none;
}

.sprites-stars {
  display: none;
}

.errorExplanation h2 {
  // display: none;
}

.errorExplanation p,
.notice h2 {
  font-size: 20px;
  font-weight: bold;
  color: $text_color;
}

div.flash {
  font-family: $sans_font;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  z-index: 3;
  padding: 15px 0;
  text-align: center;
  color: $white;
  background-color: $orange_background;
  div.flash_stats {
    font-size: 14px;
    a {
      text-decoration: underline;
    }
  }
}

a.view_all {
  border: 0;
  @include default_button();
  &:hover {
    border: 0;
  }
}

div.notice a.hide_notice {
  font-size: 12px;
  font-weight: bold;
  float: right;
  margin-top: -31px;
  margin-right: 0;
  color: $orange;
}

div.notice li {
  margin-bottom: 5px;
}

div.notice ol {
  margin-top: 8px!important;
}


a.edit_green,
a.delete_green {
  display: block;
  float: right;
  height: 32px;
  margin-left: 10px;
}

a.edit_green {
  width: 73px;
  background: transparent image-url('icons/edit_green.png') no-repeat 0 0;
  &:hover {
    background-position: -73px 0;
  }
  &:active {
    background-position: -146px 0;
  }
}

a.delete_green {
  width: 97px;
  background: transparent image-url('icons/delete_green.png') no-repeat 0 0;
  &:hover {
    background-position: -97px 0;
  }
  &:active {
    background-position: -194px 0;
  }
}

span.orange {
  color: $orange;
}

// for example the sort url and add url on edit playlists
a.hidden {
  display: none;
}

.fieldWithErrors input,
.fieldWithErrors textarea {
  border: $orange 2px solid;
}

small {
  font-size: 11px;
}

textarea.private {
  border: 1px solid black;
  border-color: $red;
}

span.private {
  font-size: 11px!important;
  display: block;
  margin-top: -2px;
  margin-bottom: 10px;
  margin-left: 20px;
  color: $red;
  img {
    margin-bottom: -3px;
  }
}

// icon links (add/delete/etc)

a.track_about_link {
  float: right;
  margin-left: 4px;
  @include default_button();
}

a.edit {
  display: block;
  float: left;
  width: 31px;
  height: 20px;
  text-indent: -1000px;
  background: image-url('icons/edit.png') no-repeat left center;
  &.right {
    position: relative;
    top: 0;
    float: right;
    margin-top: -37px;
    margin-right: 25px;
  }
}

a.edit_profile {
  display: block;
  float: right;

  @include default_button();
  > div {
    display: none;
  }
}

a.follow {
  font-family: $sans_font;
  font-size: 10px;
  line-height: 20px;
  top: 1px;
  display: block;
  float: right;
  width: 48px;
  height: 48px;
  margin-right: 2px;
  text-align: center;
  text-decoration: none;
  color: $black;
  border: 1px solid $black;
  border-radius: 5px;
  > .sprites-pencil-big {
    display: none;
    margin: 0 auto;
    margin-top: 9px;
  }
  > .sprites-heart-with-plus {
    margin: 0 auto;
    margin-top: 5px;
  }
  > .sprites-heart-broken {
    margin: 0 auto;
    margin-top: 6px;
  }
}

a.edit_profile {
  right: 2px;
  &.admin {
    right: 50px;
  }
}

.button_wrapper {
  float: right;
  height: 32px;
  margin-left: 20px;
}

/* PLAYLIST BUTTONS */

#create_new_playlist {
  @include default_button();
}

#change_playlist_order {
  @include default_button();
  img {
    display: none;
  }
}

/* FORUM BUTTONS */

#create_new_topic {
  display: block;
  float: right;
  width: 164px;
  height: 32px;
  margin-top: -40px;
  background: transparent image-url('icons/create_new_topic.png') no-repeat 0 0;
  &:hover {
    background-position: -164px;
  }
  &:active {
    background-position: -328px;
  }
}

#create_new_forum {
  display: block;
  width: 174px;
  height: 32px;
  margin-top: -15px;
  background: transparent image-url('icons/create_new_forum.png') no-repeat 0 0;
  &:hover {
    background-position: -174px;
  }
  &:active {
    background-position: -348px;
  }
}

a.button {
  &.unspam,
  &.spam,
  &.delete_comment {
    position: absolute;
    top: 0;
    right: 1px;
    width: 48px;
    height: 48px;
    &:hover {
      background-position: -48px 0;
    }
    &:active {
      background-position: -96px 0;
    }
  }
  &.unspam {
    right: 50px;
    background: transparent image-url('icons/spam.png') no-repeat 0 0;
  }
  &.spam {
    right: 50px;
    background: transparent image-url('icons/spam.png') no-repeat 0 0;
  }
  &.delete_comment {
    background: transparent image-url('icons/delete_comment.png') no-repeat 0 0;
  }
  &.add,
  &.new,
  &.sort {
    font-weight: bold;
    line-height: 33px;
    display: block;
    float: right;
    height: 30px;
    text-indent: 30px;
    color: $text_color;
    background: image-url('icons/new.png') no-repeat left center;
  }
  &.sort {
    background: image-url('icons/latest.png') no-repeat left center;
  }
  &.delete,
  &.remove {
    font-size: 10px;
    font-weight: normal;
    line-height: 35px;
    position: absolute;
    top: 5px;
    right: 10px;
    display: block;
    height: 30px;
    padding-top: 8px;
    background: image-url('icons/delete.png') no-repeat center top;
  }
}

.asset div.button a.remove,
.asset.hover div.button a.remove,
a.button.remove {
  width: 30px;
  height: 30px;
  background: image-url('icons/remove.png') no-repeat center top;
}

#footer {
  a {
    text-decoration: underline;
  }
}

.static_content h3,
.panel h3 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 3px;
}

span.hint,
main a.hint,
main a.hint:visited {
  font-size: 12px;
  color: $orange;
}

blockquote {
  width: 80%;
  margin-bottom: 15px;
  margin-left: 0;
  padding: 1px 10px;
  border: 1px solid;
  border-color: $box_background;
  border-left: 3px solid;
  background: $box_background_even;
}

/* PRESS LOGOS */

div.logo {
  font-size: 10px;
  font-weight: normal;
  line-height: 12px;
  float: left;
  width: 133px;
  margin-top: 43px;
  text-align: center;
  a,
  a:visited {
    font-size: 11px;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}
