body {
  font-size: 14px;
  font-family: $sans-font;
  line-height: 1em;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    text-decoration: underline;
  }
}

h1 {
  font-size: 24px;
  font-family: $black-font;
}

h2 {
  font-size: 18px;
}