#uploader {
  form {
    .filefields {
      li {
        list-style: none;
        margin-bottom: $baseline / 4;
      }
    }
  }
  .uploading {
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    height: 100px;
    text-align: center;
  }
}

dl.group {
  dd {
    margin-left: 0;
  }
}

#fineprint.box {
  .static_content {
    padding-top: $baseline / 2;
    padding-bottom: $baseline / 2;
  }
}

input#asset_data_ {
  border: 1px solid #fff;
  border-radius: 4px;
  background-color: #f5f5f5;
  margin-right: 10px;
  &:focus {
    border: 1px solid #a6abab;
  }
}