#uploader {
  form {
    .filefields {
      li {
        list-style: none;
        margin-bottom: $baseline / 4;
      }
    }
  }
  .uploading {
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    height: 100px;
    text-align: center;
  }
}

dl.group {
  dd {
    margin-left: 0;
  }
}

#fineprint.box {
  .static_content {
    padding-top: $baseline / 2;
    padding-bottom: $baseline / 2;
  }
}
