main {
  .user_playlists {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
    ul.playlists {
      margin-right: -36px;
      li {

        &.sortable-ghost {
          opacity: .2;
        }
        &.private {
          background-color: $dark-gray;
          position: relative;
          .private_playlist_padlock {
            display: block;
            content: '';
            background-image: image-url("svg/icon_lock.svg");
            background-size: 30px 30px;
            margin-left: 4px;
            height: 26px;
            width: 26px;
            position: absolute;
            bottom: 9px;
          }
          a.small_playlist_title {
            color: $white;
            position: relative;
            &:after {
            }
          }
        }
      }
    }
  }
}