#user_index {
  display: flex;
  
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  max-width: 1032px;
  padding: 0 $baseline * 1.5;
  margin-left: auto;
  margin-right: auto;

  #static_header {
    width: 30%;
    line-height: 1.1;
    padding-left: 0;
    @media #{$one-column} {
      width: 100%;
    }
    #links {
      ul.links {
        li {
          line-height: 34px;
          float: left;
          display: block;
          height: 32px;
          width: 230px;
          a {
            font-size: 14px;
            font-weight: 400;
            line-height: 34px;
            display: block;
            float: left;
            padding: 0 15px;
          }
          a:hover {
            text-decoration: none;
            background: $light_gray;
          }
        }
        li.current {
          padding: 0 15px;
          background: $gray;
        }
      }
    }
  }
  #large_users_grid {
    display: flex;
    width: 70%;
    margin-top: 52px;
    flex-wrap: wrap;
    margin-right: -18px;
    @media #{$one-column} {
      width: 100%;
    }
    div.clear {
      display: none;
    }
    div.user {
      position: relative;
      width: 150px;
      margin-bottom: 30px;
      text-align: center;
      margin-right: 18px;
      img.cover {
        width: 125px;
        height: 125px;
      }
      .name {
        font-size: 13px;
        display: block;
        margin-top: 4px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
