main {
  #user_header {
    @include match-variable-site-width();
    margin: 0 auto $baseline auto;
    display: flex;
    img {
      width: 62px;
      height: 62px;
      display: block;
    }
    .user_name_and_location {
      margin-left: $baseline/2;
      align-self: flex-end;
      h1.user_name{
        margin-bottom: 6px;
      }
      .user_location{}
    }
    a.follow {
      align-self: flex-end;
      font-size: 10px;
      line-height: 20px;
      display: block;
      width: 48px;
      height: 48px;
      text-align: center;
      border-radius: 5px;
      > .sprites-heart-with-plus {
        margin: 0 auto;
        margin-top: 5px;
      }
      > .sprites-heart-broken {
        margin: 0 auto;
        margin-top: 6px;
      }
    }
    a.edit_profile {
      @include default_button('admin');
      > div {
        display: none;
      }
      display: block;
      margin-left: auto;
    }
  }
  #user_home {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 45% 45%;
    max-width: 1100px;
    justify-content: space-around;
    grid-template-areas:
       'playlists playlists'
       'latest favorites'
       'listens comments'
       'card card'
       'plays .....';
    @media #{$mobile} {
      display: flex;
      flex-direction: column;
      > * {
        width: 100%;
      }
    }

    #user_playlists_area {
      grid-area: playlists;
      margin-bottom: 40px;
    }
    #user_latest_area {
      grid-area: latest;
    }
    #user_favorites_area {
      grid-area: favorites;
    }
    #user_listens_area {
      grid-area: listens;
    }
    #user_comments_area {
      grid-area: comments;
    }
    #user_card_area {
      grid-area: card;
    }
    #user_plays_area {
      grid-area: plays;
    }
    > * {
      min-width: 320px;
    }
    .user_playlists_buttons {
      margin-bottom: 15px;
      #create_new_playlist {
        @include default_button("admin");
      }

      #change_playlist_order {
        @include default_button("admin");
        img {
          display: none;
        }
      }
    }
    .user_playlists {

    }
    #user_card_area {
      background-color: $box-background-color;
      margin-bottom: $baseline;
      display: flex;
      @media #{$mobile} {
        flex-direction: column;
      }
      img {
        display: block;
        max-width: 100%;
      }
      .user_card_content {
        padding: $baseline;
        margin-left: $baseline;
        @media #{$mobile} {
          margin-left: 0;
        }

        p {
          margin-bottom: 10px;
          word-break:break-all;
        }
        .user_card_bio {
          font-family: $serif-font;
        }
      }
    }
  }
  a.delete_green {
    display: block;
    float: right;
    @include default_button('admin');
  }
}
