$baseline: 24px; // used for various layout spacing

// media tiers

$mobile: 'only screen and (max-width: 420px)';
$two-column-narrow: 'only screen and (min-width: 749px) and (max-width: 952px)';
$one-column: 'only screen and (max-width: 748px)';

// fonts
@font-face {
  font-family: 'Alright-v2-Normal';
  src: url('https://cdn.alonetone.com/fonts/Alright-v2-Normal-Regular-latin1-tnum.woff2') format('woff2');
  font-weight: normal;
}

@font-face {
  font-family: 'Alright-v2-Normal';
  src: url('https://cdn.alonetone.com/fonts/Alright-v2-Normal-Bold-latin1-tnum.woff2') format('woff2');
  font-weight: bold;
}

@font-face {
  font-family: 'Alright-v2-Normal-Medium';
  src: url('https://cdn.alonetone.com/fonts/Alright-v2-Normal-Medium-latin1-tnum.woff2') format('woff2');
  font-weight: normal;
}

@font-face {
  font-family: 'Alright-v2-Normal-Black';
  src: url('https://cdn.alonetone.com/fonts/Alright-v2-Normal-Black-latin1-tnum.woff2') format('woff2');
  font-weight: normal;
}

$sans-font: 'Alright-v2-Normal', sans-serif; // "Alright Sans Bold" exists using font-weight: bold or <strong> on this fontface
$medium-sans-font: 'Alright-v2-Normal-Medium', sans-serif;
$black-font: 'Alright-v2-Normal-Black', sans-serif;

// site colors

$body-background-color: #f4f4f4;

// colors

$black: #000; // 17 uses
$footer-bottom-background-gray: #272727; // 2 uses
$dark-gray: #353535; // 27 uses
$comment-text-gray: #4f4d4d; // 9 uses
$samo-gray: #868686; // 33 uses
$gray: #999; // 6 uses
$comment-label-gray: #969393; // 2 uses 
$new-samo-gray: #a6abab; // 22 uses
$samo-light-gray: #d7dbdb; // 13 uses
$playlist-button-background-gray: #c4c4c4;  // 4 uses
$light-gray: #eeeeee; // 21 uses
$samo-background-gray: #f1f2f2; // 3 uses
$samo-alternate-background-gray: #f5f5f5; // 11 uses
$lightest-gray: #f9f9f9; // 5 uses
$white: #ffffff; // 53 uses

$private-red: #f04e1a; // 1 use
$red: #d3220c; // 2 uses
$private-orange: #e02a02; // 2 uses
$dark-orange: #8b370d; // 1 use
$footer-orange: #de6a00; // 3 uses
$samo-background-orange: #bda8a0; // 1 use
$orange: #da6d25; // 3 uses
$samo-orange: #eb7b0c; // 46 uses
$light-orange: #ffd1b0; // 2 uses
$samo-dark-orange: #f04e1a; // 2 uses
$waveform-playing: #302f2f; // 1 use

$ajax-fail-border-red: #ff1f75; // 1 use
$ajax-fail-text-red: #b20035; // 1 use

$ajax-success-border-green: #67c906; // 1 use
$ajax-success-text-green: #2b8800; // 1 use


@mixin samo-shadow-and-radius() {
  border-radius: 6px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15)
}

@mixin default-button($type: '') {
  font-family: $sans-font;
  font-size: 12px;
  font-weight: bold;
  line-height: 28px;
  display: inline-block;
  box-sizing: border-box;
  height: 26px;
  padding: 0 16px;
  text-align: center;
  text-decoration: none;
  color: $white;
  border: 0;
  border-radius: 4px;
  background-color: $new-samo-gray;
  box-shadow: none;
  &:hover {
    background-color: $samo-gray;
  }
  &:active {
    background-color: #eb7b0c;
  }
}