$static_width: 1020px; //  unused, but perhaps for setting footer, content, header widths for static desktop


$body_background: #FFFFFF;

// in-content boxes
$box_background: #FFFFFF;
$box_background_even: #FFFFFF;

// text
$header_font: 'Alright Sans', sans-serif;
$text_color: #000000;
$text_color2: #000000;
$nav_item_color: #C1C9B4;
$tab_box_silver: #FFFFFF;
$playlist_box_silver: #FFFFFF;
$black: #000000;
$white: #FFFFFF;
$medium_gray: #666666;
$light_medium_gray: #888888;
$light_gray: #EEEEEE;
$silver: #C7C8C7;
$orange: #DA6D25;
$orange_background: #E66D29;
$red: #D3220C;
$green: #66A410;
$disabled: #8C8E86;
$body_link_hover: #1A1D13;


@mixin default_button() {
  font-family: $header_font;
  font-size: 13px;
  font-weight: normal;
  line-height: 30px;
  display: inline-block;
  height: 28px;
  padding: 0 14px;
  text-align: center;
  text-decoration: none;
  color: $text_color;
  border: 1.25px solid $light_medium_gray;
  border-radius: 6px;
  &:hover {
    transition: border-color .1s ease-in-out;
    text-decoration: none;
    border: 1.25px solid $black;
  }
}
