// layout

$desktop-site-width-wide: 90%;
$mobile-site-width-wide: 96%;
$desktop-site-width-narrow: 66%;
$mobile-site-width-narrow: 96%;

@mixin match-dynamic-site-width($type: '') {
  width: $desktop-site-width-wide;
  margin-right: auto;
  margin-left: auto;
  @media #{$mobile} {
    width: $mobile-site-width-wide;
  }
  @if $type == 'narrow' {
    width: $desktop-site-width-narrow;
    @media #{$mobile} {
      width: $mobile-site-width-narrow;
    }
  }
}

$baseline: 24px; // Used for various layout spacing

// media tiers

$mobile: 'only screen and (max-width: 420px)';
$tablet: 'only screen and (max-width: 640px)';
$widescreen: 'only screen and (min-width: 1500px)';

// fonts

$black-font: 'Alright Sans Black', sans-serif;
$sans-font: 'Alright Sans', sans-serif; // "Alright Sans Bold" exists for font-weight: bold or <strong>
$medium-sans-font: 'Alright Sans Medium', sans-serif;
$serif-font: 'Harriet Text', serif;

// site colors

$body-background-color: #f4f4f4;
$box-background-color: #fff;
$box-background-even: #fff;

// colors

$black: #000;
$not-quite-black: #353535;
$medium-gray: #666;
$samo-gray: #868686;
$gray: #999;
$new-samo-gray: #a6abab;
$samo-medium-gray: #d7dbdb;
$light-gray: #eee;
$samo-background-gray: #f1f2f2;
$not-quite-white: #f9f9f9;
$white: #fff;

$red: #d3220c;
$orange: #da6d25;
$samo-orange: #eb7b0c;
$samo-dark-orange: #f04e1a;
$waveform-playing: #302f2f;

@mixin samo-shadow-and-radius() {
  border-radius: 6px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15)
}

@mixin default-button($type: '') {
  font-family: $sans-font;
  font-size: 12px;
  font-weight: bold;
  line-height: 28px;
  display: inline-block;
  box-sizing: border-box;
  height: 26px;
  padding: 0 16px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border: 0;
  border-radius: 4px;
  background-color: $new-samo-gray;
  box-shadow: none;
  @if $type == 'admin' {
  }
  @if $type == 'jumbo' {
    height: 60px;
    line-height: 60px;
    font-size: 16px;
  }
  &:hover {
    background-color: #888;
  }
  &:active {
    background-color: #eb7b0c;
  }
}
