<%= render :partial => 'users/user' %>
<div class="alonetone_plus box">
<h2 id="alonetone_plus" class="box">Welcome to alonetone plus (ghetto version)</h2>
<div class="static_content">
    Right click the filenames and "Download linked file as" or "Save file as" or "Save link as" 
    unless you want to open these bad boys in your browser (not recommended) <br/><br/>
<table>
  <tr>
  </tr>

<% for source_file in @source_files %>
  <tr style="height:20px;">
    <td>
    <div class="download-button button">
    <%= link_to ' ', user_source_file_path(@user, source_file), :class=> 'download button' %>
    </div>
    </td>
        
    <td><%= link_to "#{source_file.filename}", user_source_file_path(@user, source_file) %></td>
    
    <td width='200px' align = "center">Downloaded <%= source_file.downloads_count || '0' %> times</td>

  </tr>
<% end %>
</table>
</div>
</div>
