/* COMMENTS WITHIN ACCORDIONS */

#home_comments_area,
#user_comments_area,
.comments_area {
  .asset {
    border-top: 1px solid $border-color-four;
    border-bottom: 0;
  }
}

/* RECENT COMMENTS PAGE */

.comments_columns {

  .columns_header {
    max-width: $site_max_width;
    box-sizing: border-box;
    padding: 0 36px;
    margin-left: auto;
    margin-right: auto;
    @media #{$mobile} {
      padding-left: 0;
    }
  }

  h2 {
    padding-left: 16px;
    color: $accent;
    margin-bottom: 16px;
    margin-top: 0px;
    line-height: 1;
  }
  .comments_area {
    margin-bottom: 0;
  }
  #left {
    @media #{$one-column} {
      margin-bottom: $baseline * 2;
    }
  }
}

/* ADDING COMMENTS */

.comment_track {
  position: relative;
  clear: both;
  margin-top: 0;
  margin-right: 10px;
  margin-left: 10px;
  &::before {
    position: absolute;
    top: 24px;
    left: 49%;
    content: "\A";
    border-width: 0 9px 13px 9px;
    border-style: solid;
    border-color: transparent transparent #d7dbdb transparent;
    @media #{$mobile} {
      display: none;
    }
    @media #{$two-column-narrow} {
       display: none;
    }
  }
  .comment_asset {
    div.submit_wrapper {
      position: relative;
      top: -18px;
      display: flex;
      flex-direction: row;
      clear: both;
      justify-content: flex-end;
      margin-left: 110px;
      @media #{$mobile} {
        display: block;
        .ajax_waiting {
          margin-right: 0;
          float: right;
          border-width: 0;
          &.ajax_fail, &.ajax_success {
            margin-bottom: 12px;
            border-width: 1px;

          }
        }
      }
      @media #{$two-column-narrow} {
        display: block;
        .ajax_waiting {
          margin-right: 0;
          float: right;
          border-width: 0;
          &.ajax_fail, &.ajax_success {
            margin-bottom: 12px;
            border-width: 1px;
          }
        }
      }
    }
  }
}

.track-content .comment_asset {
  padding-top: 20px;
  padding-right: 15px;
  padding-left: 15px;
  background-color: $background-color-three;
  box-shadow: none;
  border-radius: 0 0 6px 6px;
  position: relative;
  z-index: 2;
  top: -6px;
  .comment_form {
    textarea {
      background-color: $background-color-one;
    }
    div.submit_wrapper {
      position: relative;
      top: -18px;
      display: flex;
      flex-direction: row;
      clear: both;
      justify-content: flex-end;
      margin-left: 110px;
      @media #{$one-column} {
        display: block;
        .ajax_waiting {
          margin-right: 0;
          float: right;
          border-width: 0;
          &.ajax_fail, &.ajax_success {
            margin-bottom: 12px;
            border-width: 1px;
          }
        }
      }
    }
  }
}

/* SHARED BY TRACK AND TRACK_CONTENT */

.comment_asset {
  .comment_form.private_banner_visible {
    form textarea {
      border-radius: 6px 6px 0 0;
    }
  }
  .comment_form {
    overflow: hidden;
    form {
      > .comment_as {
        font-size: 12px;
        line-height: 20px;
        overflow: auto;
        color: $font-color-four;
        font-family: $medium-sans-font;
        margin-top: 9px;
        padding-left: 10px;
        span.comment_as_guest {
          text-transform: capitalize;
          color: $font-color-three;
        }
        span.comment_as_user {
          color: $font-color-three;
        }
        a {
          color: $accent;
        }
        img {
          float: left;
          width: 27px;
          height: 27px;
          margin-right: 10px;
        }
      }
      textarea {
        font-family: $sans-font;
        display: block;
        box-sizing: border-box;
        width: 100%;
        margin-bottom: 15px;
        padding: $baseline / 4;
        margin-top: 8px;
        resize: none;
        color: $font-color-three;
        border: 1px solid $border-color-three;
        border-radius: 6px;
        background-color: $background-color-two;
        @media #{$one-column} {
          font-size: 16px;
        }
        &:focus {
          border: 1px solid $border-color-two;
        }
      }
      .private_check_box {
        font-size: 11px;
        float: left;
        clear: both;
        position: relative;
        top: 1px;
        label {
          user-select:none;
          text-transform: lowercase;
          color: $font-color-three;
          margin-bottom: 2px!important;
        }
      }
      span.private {
        font-size: 12px !important;
        position: relative;
        top: -15px;
        display: block;
        height: auto;
        line-height: 17px;
        margin-top: 0;
        padding-left: 20px;
        padding-top: 8px;
        padding-bottom: 8px;
        color: $private-message-warning-text;
        border-color: $private-message-warning-border;
        border-radius: 0 0 6px 6px;
        background-color: $private-message-warning-background;
        &.hidden {
          display: none;
        }
        .only_user_name,
        .only_alonetone_mods {
          font-weight: bold;
          color: $font-color-seven;
        }
      }
      input.comment_submit {
        margin-bottom: 0;
        float: right;
        clear: right;
        @include default_button();
      }
    }
  }
}

.comment {
  position: relative;
  background-color: $background-color-two;
  &:last-child {
    border-bottom: 0;
    border-radius: 0 0 6px 6px;
  }
  .comment_user {
    position: absolute;
    top: 18px;
    left: 10px;
    img {
      float: left;
      width: 40px;
      height: 40px;
      border-radius: 5px 0 0 5px;
    }
  }
  .comment_right {
    @include samo-shadow-and-radius();
    position: relative;
    margin: 18px 10px 18px 50px;
    padding: 16px 16px 10px 16px;
    border-radius: 0 4px 4px 4px;
    background-color: $background-color-one;
    box-shadow: none;
    &::before {
      position: absolute;
      z-index: 1;
      top: -13px;
      left: 47%;
      content: "\A";
      border-width: 0 9px 13px 9px;
      border-style: solid;
      border-color: transparent transparent #fff transparent;
    }
    .comment_user_text {
      font-size: 11px;
      font-weight: normal;
      color: $font-color-four;
      a,
      a:visited {
        font-weight: bold;
        text-decoration: none;
      }
      a {
        color: $font-color-three;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .comment_body {
      overflow: hidden;
      i {
        float: left;
        margin-right: 8px;
      }
      p {
        line-height: 18px;
        margin: 16px 0 0 0;
        margin-top: 13px;
        color: $font-color-three;
      }
      div.private_message {
        font-size: 9px;
        font-weight: bold;
        line-height: 15px;
        position: relative;
        top: 29px;
        width: 96px;
        height: 14px;
        text-align: center;
        text-transform: uppercase;
        color: $private-message-flag-text;
        border-radius: 2px;
        background-color: $private-message-flag-background;
        text-indent: 0;
      }
      @media only screen and (max-width: 375px) {
        .private_message {
          margin-left: auto;
        }
        .private_message + .comment_controls {
          float: none;
          margin-top: 40px;
          text-align: right;
        }
      }
      @media #{$two-column-narrow} {
        .private_message {
          margin-left: auto;
        }
        .private_message + .comment_controls {
          float: none;
          margin-top: 40px;
          text-align: right;
        }
      }
      .comment_controls {
        font-size: 12px;
        font-weight: normal;
        float: right;
        margin-top: 15px;
        text-transform: capitalize;
        margin-bottom: 1px;
        a:first-child {
          font-weight: bold;
          margin-right: 22px;
          color: $accent;
        }
        a:last-child {
          font-weight: bold;
          color: $warning;
        }
      }
      h1,
      h2,
      h3 {
        font-size: 16px;
        font-weight: bold;
        margin-top: 32px;
        margin-bottom: 12px;
      }
    }
  }
}
