.edit_profile {
  box-sizing: border-box;
  max-width: $site_max_width;
  padding: 0 $baseline * 1.5;
  margin-left: auto;
  margin-right: auto;

  h1 {
    @include title24();
    border-bottom: 0;
    line-height: 1;
    height: $baseline * (8/3);
    padding-left: $baseline * (3/2);
    padding-top: 24px;
  }

  .edit_profile_top {
    padding: $baseline * 1.5;

    display: flex;
    .edit_profile_top_left {
      margin-right: 58px; 
      .user_avatar {
        border: 1px dashed $border-color-three;
        padding: 4px;
        display: inline-block;
        img {
          width: 240px;
          display: block;
        }

      }
      
      
    }
    .edit_profile_top_right {
      a {
        @include default-button();
      }

    }
  }
  .edit_profile_separator {
    height: 1px;
    background-color: $grey100;
  }

  .edit_profile_socials {
    .edit_profile_socials_columns {
      display: flex;
    }

  }

  .edit_profile_settings {  

    .edit_profile_settings_columns {
      display: flex;
    }
  }

  .edit_profile_change_your_login {

  }

  .edit_profile_delete_your_account {

  }
  
}




form#reset-password {
  input[type="text"] {
    border: 1px solid $border-color-six;
    border-radius: 4px;
    background-color: $background-color-three;
    margin-right: 10px;
    &:focus {
      border: 1px solid $border-color-two;
    }
  }
}

.settings-box {
  h2 {
    margin-bottom: $baseline;
  }
  .static_content {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    &:last-child {
      padding-top: $baseline !important;
    }
  }
  select {
    margin-top: 6px;
    max-width: 100%;
  }
}

.edit-your-profile-box {
  .static_content {
    &:last-child {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }
    input[type="text"] {
      width: 190px;
    }
    select {
      max-width: 100%;
    }
  }
}

.change-your-picture-box {
  br {
    display: none;
  }
  form {
    margin-top: $baseline;
    input:last-child {
      display: block;
      margin-top: $baseline;
    }
  }
}

.your-account-box {
  .static_content:last-child {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    .static_content {
      padding: 0 !important;
      padding-bottom: $baseline !important;
      input:last-child {
        margin-top: $baseline !important;
      }
    }
  }
}