form {

  .form_heading {
    @include title18();
    margin-bottom: $baseline;
    color: $forms-heading-text;
  }

  .form_row {
    display: flex;
    flex-wrap: wrap;
    > div:first-child {
      width: 50%;
    }
  }

  input[type="search"],
  input[type="text"],
  input[type="password"],
  input[type="email"],
  textarea {
    outline: 0;
    -webkit-appearance: none;
  }
  input[type="search"],
  input[type="text"],
  input[type="password"],
  input[type="email"] {
    width: 280px;
  }
  input[type="submit"] {
    cursor: pointer;
    @include default-button();
  }
  input[type="file"] {
    background-color: transparent;
  }
  br {
    display: none;
  }
  label {
    margin-bottom: 8px !important;
    font-family: $medium-sans-font;
    font-size: 12px;
    display: block;
    margin: 2px 0;
    text-align: left;
    color: $forms-label-text;
    abbr {
      display: none;
    }
  }
  input,
  textarea,
  select {
    box-sizing: border-box;
    margin-bottom: $baseline;
    border: 1px solid $forms-border;
    border-radius: 4px;
    background-color: $forms-background;
    font-size: 14px;
    color: $forms-input-text;
    &:focus {
      border: 1px solid $accent;
    }
  }
  input {
    padding: 9px 10px 6px 10px;
    outline: none;
    font-family: $medium-sans-font;
  }
  textarea {
    font-family: $medium-sans-font;
    width: 100%;
    padding: 9px 10px 6px 10px;
  }
}


/* PLACEHOLDER TEXT COLOR */

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: $forms-placeholder-text;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: $forms-placeholder-text;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: $forms-placeholder-text;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: $forms-placeholder-text;
}

/* CUSTOM SVG CHECKBOX REPLACEMENT */

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
  > span {
    position: relative;
    top: 3px;
  }
}

[type="checkbox"]:not(:checked) + label:hover:before {
  border: 1px solid $checkbox-not-checked-border !important;
}

[type="checkbox"]:not(:checked) + label:active:before,
[type="checkbox"]:checked + label:active:before {
  border: 1px solid #d46a00 !important;
  background-color: $accent !important;
}

[type="checkbox"]:not(:checked) + label:active:after {
  position: absolute;
  top: 3px;
  left: 4.5px;
  content: image-url("svg/icon_checkmark.svg");
  display: block;
}

[type="checkbox"]:not(:checked) + label:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  content: "";
  border: 1px solid $checkbox-not-checked-border;
  border-radius: 2.5px;
  background-color: $checkbox-not-checked-background !important;
}

[type="checkbox"]:checked + label:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  content: "";
  border: 1px solid $checkbox-checked-border;
  border-radius: 2.5px;
  background-color: $checkbox-checked-background;
}

[type="checkbox"]:not(:checked) + label:after {
  position: absolute;
  top: 3px;
  left: 4.5px;
  content: image-url("svg/icon_checkmark.svg");
  display: none;
}

[type="checkbox"]:checked + label:after {
  position: absolute;
  top: 3px;
  left: 4.5px;
  content: image-url("svg/icon_checkmark.svg");
  display: block;
}

.form_radio_group {

  margin-bottom: 12px;

  input[type='radio'] {
    margin-bottom: 16px;
  }
  input[type='radio'] + label {
    display: inline;
    margin-left: 12px;
  }

  .field_with_errors {
    display: inline;
  }

  .field_with_errors + label {
    display: inline;
    margin-left: 12px;
  }

}

#error_explanation {
  background-color: #FFEADF;
  padding-left: $baseline * 1.5;
  padding-right: $baseline * 1.5;
  h3 {
    @include title18();
    color: $red1000;
    margin-top: $baseline;
  }
  ol {
    counter-reset: listNumbering;
    padding-left: 0px;
    li {
      list-style: none;
      counter-increment: listNumbering;
      color: $red1100;
      margin-bottom: 12px;
      &:before {
        content: counter(listNumbering);
        font-variant-numeric: tabular-nums;
        font-size: 14px;
        font-weight: bold;
        color: $white;
        margin-right: 12px;
        width: 22px;
        height: 22px;
        background-color: $red600;
        border-radius: 3px;
        display: inline-block;
        text-align: center;
        position: relative;
        top: -1px;
        line-height: 22px;
      }
    }
  }
}