.get_an_account_container {
  background-image: image-url("illustrations/backgrounds/contributor.png");
  background-repeat: no-repeat;
  background-size: 100%;
  .blank_slate {
    height: 300px;
    display: flex;
    padding-right: 100px;
    padding-left: 100px;
    .blank_slate_illustration {
      background-image: image-url("illustrations/contributors/originals/ben-intro.png");
      background-size: cover;
      width: 230px;
      background-repeat: no-repeat;
    }
    .blank_slate_text {
      margin-left: 66px;
      @include paragraph18();
      padding-top: 70px;
      color: #000;
      .contributor_name {
        font-style: italic;
        color: $orange600;
      }
      .contributor_title {
        font-style: italic;
        font-size: 12px;
        color: $grey900;
      }
    }
  }

  max-width: $site_max_width;
  box-sizing: border-box;
  padding: 0 36px;
  margin-left: auto;
  margin-right: auto;
  .box {
    @include shadow6();
    h2 {
      border-bottom: 0;
      height: 64px;
      @include title24();
      line-height: 1;
      padding-left: $baseline * 1.5;
      padding-top: 26px;
    }
    #error_explanation {
      background-color: #FFEADF;
      padding-left: $baseline * 1.5;
      padding-right: $baseline * 1.5;
      h3 {
        @include title18();
        color: $red1000;
        margin-top: $baseline;
      }
      ol {
        counter-reset: listNumbering;
        padding-left: 0px;
        li {
          list-style: none;
          counter-increment: listNumbering;
          color: $red1100;
          margin-bottom: 12px;
          &:before {
            content: counter(listNumbering);
            font-variant-numeric: tabular-nums;
            font-size: 14px;
            font-weight: bold;
            color: $white;
            margin-right: 12px;
            width: 22px;
            height: 22px;
            background-color: $red600;
            border-radius: 3px;
            display: inline-block;
            text-align: center;
            position: relative;
            top: -1px;
            line-height: 22px;
          }
        }
      }
    }
    form {
      padding-left: $baseline * 1.5;
      padding-right: $baseline * 1.5;
      padding-top: 60px;
      // Move these to form.scss if they are indeed universal
      .form_heading {
        @include title18();
        margin-bottom: $baseline;
      }
      .form_row {
        display: flex;
        flex-wrap: wrap;
        > div:first-child {
          width: 50%;
        }
      }
      input[type='radio'] {
        margin-bottom: 16px;
      }
      input[type='radio'] + label {
        display: inline;
        margin-left: 12px;
      }
      label {
        max-width: 434px;
      }
      textarea {
        max-width: 434px;
      }
      .inline_form_error {
        color: $red800;
        position: relative;
        top: -14px;
        max-width: 434px;
      }
      input[type="submit"] {
        @include default_button("primary");
      }
    }
  }
}