.history {
  .columns_header {
    @media #{$mobile} {
      padding-left: 0;
    }
  }
  h2 {
    padding-left: 16px;
    padding-right: 16px;
    color: $accent;
    margin-bottom: 16px;
    margin-top: 0px;
    line-height: 1;
    display: flex;
    .name {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  #left {
    @media #{$one-column} {
      margin-bottom: $baseline * 2;
    }
  }
  #right {
    .box {
      overflow: hidden;
      margin-bottom: 0;
      > :last-child {
        margin-bottom: 10px;
      }
    }
  }
}
