.gift {
  margin: 0 auto 0 auto;
  max-width: 960px;
  h1 {
    @include title36();
    color: $static-page-heading-text;
    text-align: center;
    padding: 0px;
    margin: 0;
  }
  h2 {
    @include title18();
    text-align: center;
  }
  img {
    margin: 0 auto;
    max-width: 960px;
    display: block;
  }
}

body.not_found,
body.error,
body.no_results {
  main {
    background-color: #f04e1a;
    padding-bottom: 0px;
  }
  footer#site_footer {
    padding-top:0;
  }
}

body.error {
  main {
    background-color: #e02a02;
    .gift_image {
      background-image: image-url("illustrations/500.png");
      width: 100%;
      padding-bottom: 58.4%;
      background-size: contain;
    }
  }
}

body.no_results{
  main {
    background-color: #fed1b0;
  }
}