.blank_slate {
  display: flex;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 50px;
  @media #{$one-column} {
    padding-left: $baseline / 2;
    padding-right: $baseline / 2;
  }
  .left {
    @media only screen and (max-width: 540px) {
      width: 40%!important; 
      padding-bottom: 20px;
      align-self: center;
    }
    .blank_slate_illustration {
      background-size: 100%;
      background-repeat: no-repeat;
      height: 100%;
      min-width: 238px;
      @media only screen and (max-width: 540px) {
        min-width: auto;
        height: 0;
        padding-bottom: 144%;
      }
    }
    .contributor_name.mobile_only, .contributor_title.mobile_only {
      display: none;
      @media only screen and (max-width: 540px) {
        display: block;
        padding-left: $baseline;
      }
    }
  }
  .blank_slate_text {
    margin-left: 9%;
    padding-bottom: 50px;
    padding-top: 70px;
    @include paragraph18();
    color: #000;
    @media only screen and (max-width: 850px) {
      font-size: 16px;
    }
    @media #{$one-column} {
      padding-top: $baseline * 1.5;
      padding-bottom: $baseline * 1.5;
      width: 54%;
      margin-left: 20px;
    }
    @media only screen and (max-width: 540px) {
      font-size: 14px;
      .contributor_name, .contributor_title {
        display: none;
      }
    }
  }
  .contributor_name {
    font-style: italic;
    color: $orange600;
  }
  .contributor_title {
    font-style: italic;
    font-size: 12px;
    color: $grey900;
  }
}


// I might re-think the use of this div for the background
// Or maybe this becomes general class for container_with_illustration
.get_an_account_container {
  background-image: image-url("illustrations/backgrounds/contributor-less-noise.jpg");
  background-repeat: no-repeat;
  background-size: $site_max_width;
  background-position-x: 50%;
  position: relative;
  top: -48px;  
  .left {
    .blank_slate_illustration {
      background-image: image-url("illustrations/contributors/alec-talking.png");
    }
  }
}