#what-you-get {
	box-shadow: none;
	margin-bottom: 0;
	h2 {
	  font-size: 14px;
	  margin-bottom: 30px;
	  text-shadow: none;
	  text-align: center;
	  padding: 0;
	}
	img {
	  align-self: center;
	}
}
  
#login, #signup {
	a:hover {
		color: $samo-orange;
	}
}

#login {
	#reset-password {
		display: none;
	}
}
  
body main #columns  {
	#login.box, #signup.box, #signup-questions.box {
	  margin-bottom: 0;
	  box-shadow: none;
		padding-top: $baseline / 2;
		padding-bottom: $baseline / 2;
	  label {
			margin-bottom: 2px!important;
		} 
		a {
			text-decoration: underline;
		}
	}
}