.password_reset {
  margin-right: auto;
  margin-left: auto;
  max-width: 720px;
  .static_content {
    padding: $baseline $baseline / 2;
  }
  br {
    display: block;
  }
  input[type=submit] {
    margin-bottom: 0;
  }
}