#edit_playlist {
  position: relative;
  .playlist_title.box {
    margin-bottom: 0;
    h3 {
      margin-left: $baseline / 2;
    }
    a {
      @include default-button();
    }
  }
  .info {
    padding-right: $baseline / 2;
    padding-left: $baseline / 2;
    .cover {
      display: none;
    }
  }
  .asset .asset_top div.title {
    display: block;
  }
  .delete-button {
    margin-right: 5px;
    font-size: 12px;
    .remove.button {
      line-height: 50px;
    }
  }
}

#sort_playlists {
  position: relative;
  width: 100%;
  height: 1000px;
  li.small_playlists {
    margin-bottom: 20px;
  }
}

.playlist_edit_button {
  float: right !important;
  margin: 0 !important;
  margin-right: 20px !important;
}

.edit_playlist_button_row {
  position: absolute;
  right: 20px;
  bottom: 20px;
  overflow: hidden;
}

.playlists_hidden_blurb {
  font-size: 12px;
  margin: 5px 0 14px 0;
}
