#edit_playlist_info {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 20px;
  padding-top: 0;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  @media #{$one-column} {
    width: 96%;
  }
  > h2 {
    padding-left: 59px;
    height: 50px;
    line-height: 53px;
    font-family: $medium-sans-font;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    @media #{$one-column} {
      padding-left: 12px;
    }
  }
  form p {
    font-size: 14px;
  }
  #pic_pic {
    padding-left: 0;
    font-size: 12px;
    line-height: 14px;
  }
  .edit_playlist_info_columns {
    display: flex;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 25px;
    @media #{$one-column} {
      padding-left: $baseline / 2;
      padding-right: $baseline / 2;
      flex-direction: column-reverse;
    }
    flex-wrap: wrap;
    .edit_playlist_info_left_column {
      min-width: 220px;
      width: 20%;
      @media #{$one-column} {
        width: 100%;
        margin-top: $baseline;
      }
      .cover {
        display: block;
        border: 1px dashed $border-color-three;
        padding: 4px;
        margin-top: 10px;
        text-align: center;
        max-width: 150px;
        pointer-events: none;
        img {
          max-width: 150px;
          border-radius: 6px;
          display: inline-block;
        }
        div.no_pic {
          svg {
            border-radius: 6px;
            display: block;
          }
        }
      }
      form {
        input {
          margin-bottom: 8px;
        }
        input#pic_pic {
          font-weight: normal;
          font-family: $sans-font;
        }
      }
      p {
        font-size: 12px;
        color: $font-color-five;
        margin-top: 0;
      }
    }
    .edit_playlist_info_right_column {
      flex: 1;
      display: flex;
      flex-wrap: wrap;
      width: 75%;
      @media #{$one-column} {
        width: 100%;
      }
      div.input {
        width: 100%;
      }
      > .edit_playlist_info_right_column_title_and_year {
        display: flex;
        flex-direction: row;
        width: 100%;
        @media #{$one-column} {
          flex-direction: column;
        }
        > :nth-child(1) {
          flex: 1;
          input {
            width: 100%;
          }
          margin-right: 30px;
          @media #{$one-column} {
            margin-right: 0;
          }
        }
        > :nth-child(2) {
          width: 140px;
          input {
            width: 100%;
          }
        }
      }
      > .edit_playlist_info_right_column_links {
        display: flex;
        flex-direction: row;
        width: 100%;
        @media #{$one-column} {
          flex-direction: column;
        }
        > :nth-child(1) {
          flex: 1;
          input {
            width: 100%;
          }
          margin-right: 30px;
          @media #{$one-column} {
            margin-right: 0px;
          }
        }
        > :nth-child(2) {
          flex: 1;
          input {
            width: 100%;
          }
        }
      }
      > .edit_playlist_info_right_column_credits {
        display: flex;
        width: 100%;
        textarea {
          width: 100%;
          height: 66px;
        }
      }
      > .edit_playlist_info_right_column_private_and_hidden {
        display: flex;
        flex-direction: row;
        width: 100%;
        font-size: 12px;
        position: relative;
        height: 54px;
        @media #{$one-column} {
          flex-direction: column;
        }
        div.input {
          width: auto;
        }
        label {
          text-transform: none;
          color: $font-color-three;
        }
        span.private_notice {
         color: $font-color-five;
         font-family: $medium-sans-font;
         margin-left: 4px;
         margin-top: 5px;
        }
      }
    }
  }
  .edit_playlist_info_bottom {
    border-top: 1px solid $border-color-five;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
    @media #{$one-column} {
      padding-left: 12px;
      padding-right: 12px;
    }
    input {
      float: right;
      @include default-button();
      cursor: pointer;
    }
    a:first-child {
      @include default-button();
      background-color: transparent;
      color: $accent;;
      font-size: 14px;
      padding: 0;
      font-family: $medium-sans-font;
      font-weight: normal;
      &:hover {
        color: $accent;;
        text-decoration: underline;
        background-color: transparent;
      }
    }
  }
}
.edit_playlist_columns {
  #left {
    .left_column_box_header {
      display: flex;
      flex-direction: row;
      border-bottom: 1px solid $border-color-four;
      h2 {
        border-bottom: 0;
        width: auto;
        margin-right: auto;
        text-overflow: ellipsis;
        overflow-x: hidden;
        white-space: nowrap;
      }
      div {
        margin-top: 16px;
        font-family: $medium-sans-font;
        font-size: 13px;
        margin-right: 20px;
        white-space: nowrap;
        span.playlist_track_size {
          color: $font-color-four;
        }
        span.playlist_dash {
          color: $border-color-four;
        }
        span.playlist_total_time {
          color: $accent;
        }
      }
    }
    .playlist_asset:last-child {
      border-bottom: 1px solid $border-color-four;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    .playlist_size {
      border-radius: 4px;
      background-color: $background-color-two;
      font-size: 13px;
      color: $font-color-four;
      text-align: center;
      height: 30px;
      line-height: 30px;
      margin: 130px 10px 10px 10px;
      font-family: $medium-sans-font;
    }
    .small_spinner {
      position: absolute;
      bottom: 14px;
      top: unset;
      right: 15px;
    }
    .playlist_asset {
      .add {
        display: none;
      }
      .remove {
        display: flex;
      }
    }
  }
  #right {
    #playlist_sources {
      .right_column_box_header {
        display: flex;
        flex-direction: row;
        h2 {
          margin-bottom: 0;
          width: auto;
          border-bottom: 0;
        }
        .available_tracks_total {
          margin-top: 16px;
          font-family: $medium-sans-font;
          font-size: 13px;
          margin-right: 20px;
          color: $font-color-four;
          margin-left: auto;
        }
      }
      #playlist_tabs {
        display: flex;
        background-color: $background-color-three;
        height: 36px;
        box-sizing: border-box;
        #playlist_source_options {
          margin-left: $baseline / 2;
          display: flex;
          flex-direction: row;
          margin-top: 5px;
          li {
            margin-right: 10px;
            text-decoration: underline;
            &:first-child {
              a {
                background-color: $accent;;
                border: 1px solid #DE6A00;
                color: $font-color-seven;
                &:hover {
                  background-color: $accent;;
                  border: 1px solid #DE6A00;
                  color: $font-color-seven;
                }
              }
            }
            a {
              @include default-button();
              background-color: $background-color-one;
              color: $font-color-four;
              font-family: $medium-sans-font;
              font-weight: normal;
              height: 26px;
              &:hover {
                background-color: $edit-playlist-track-button-background-hover;
                color: $font-color-seven;
              }
            }
          }
        }
      }
      .mini_paginator {
        border-bottom: 1px solid $border-color-four;
        border-radius: 0;
      }
    }
    .playlist_asset {
      a.track_link {
        margin-right: 50px;
      }
      .add {
        display: flex;
      }
      .remove {
        display: none;
      }
    }
    
  }
  .left_instructions,
  .right_instructions {
    color: $font-color-four;
    padding: 0 10px;
    line-height: 1.5em;
    min-height: 42px;
    @media only screen and (min-width: 749px) and (max-width: 830px) {
      min-height: 64px;
    }
    .remove-inner-inline {
      display: inline-flex;
      width: 15px;
      height: 15px;
      position: relative;
      top: -3px;
      border-radius: 4px;
      background-color: $edit-playlist-track-button-background;
      align-items: center;
      justify-content: center;
      svg {
        position: relative;
        width: 7px;
        height: 7px;
      }
    }
    .add-inner-inline {
      display: inline-flex;
      width: 15px;
      height: 15px;
      position: relative;
      top: -3px;
      border-radius: 4px;
      background-color: $edit-playlist-track-button-background;
      align-items: center;
      justify-content: center;
      svg {
        position: relative;
        width: 7px;
        height: 7px;
      }
    }
  }
  .asset .asset_top .asset_top_row div.title .title_right_column {
    display: none;
  }
  .playlist_asset {
    a.track_link {
      margin-right: 50px;
    }
    &.sortable-ghost {
      background-color: rgb(205, 237, 255);
      .asset_top {
        background-color: rgb(205, 237, 255);
      }
    }
    .add,
    .remove {
      position: absolute;
      z-index: 5;
      top: 0;
      right: 0;
      display: flex;
      width: 50px;
      height: 50px;
      align-items: center;
      justify-content: center;
    }
    .add {
      &:hover {
        .add-inner {
          background-color: $edit-playlist-track-button-background-hover;
        }
      }
      &:active {
        .add-inner {
          background-color: $accent;;
        }
      }
      .add-inner {
        display: flex;
        width: 29px;
        height: 29px;
        border-radius: 4px;
        background-color: $edit-playlist-track-button-background;
        align-items: center;
        justify-content: center;
        svg {
          position: relative;
        }
      }
    }
    .remove {
      &:hover {
        .remove-inner {
          background-color: $edit-playlist-track-button-background-hover;
        }
      }
      &:active {
        .remove-inner {
          background-color: $accent;;
        }
      }
      .remove-inner {
        display: flex;
        width: 29px;
        height: 29px;
        border-radius: 4px;
        background-color: $edit-playlist-track-button-background;

        align-items: center;
        justify-content: center;
        svg {
          position: relative;
        }
      }
    }
  }
}

.draggable-mirror {
  z-index: 99999;
  border: 1px solid $border-color-one;
}

.edit_playlist_pro_upload {
  .upload_zip {
    @include default-button("jumbo");
    float: right;
  }
}
