#radio_title + #columns {
  flex-wrap: wrap-reverse;
}

#radio_tracks {
  margin-bottom: 0;
}

body main #columns {
  #radio {
    overflow: hidden;
    box-shadow: none;
    h2 {
      margin-bottom: 0;
    }
    #radio_controls {
      position: relative;
      display: flex;
      flex-direction: column;
      margin-bottom: 0;
      justify-content: space-between;
      overflow: hidden;
      box-shadow: none;
      padding: 0;
      ul {
        margin-top: 0;
        margin-bottom: 0;
        li {
          font-size: 14px;
          width: 100%;
          line-height: 40px;
          height: 40px;
          text-indent: 15px;
          display: block;
          box-sizing: border-box;
          border-bottom: 1px solid $light-gray;
          color: $white;
          background-color: $samo-orange;
          a {
            display: block;
            width: 100%;
            color: $dark-gray;
            background-color: $white;
            text-decoration: none;
            &:hover {
              background-color: $light-gray;
            }
          }
        }
      }
    }
  }
}
