// for use on home playlists area

$gutter-width: 26.66px;
$three-column-cutoff: "only screen and (max-width: 800px)";
$two-column-cutoff: "only screen and (max-width: 550px)";

ul.responsive_grid {
  margin-bottom: 0;
  li {
    margin-bottom: 0;
    width: calc(25% - 20px);
    margin-right: $gutter-width;
    &:last-child {
      margin-right: 0;
    }
    a {
      span {
        display: none;
      }
    }
  }
  @media #{$three-column-cutoff} {
    li {
      width: calc(33.33333% - 17.77px);
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3) {
        display: block;
      }
      &:nth-child(3) {
        margin-right: 0 !important;
      }
      &:nth-child(4) {
        display: none;
      }
    }
  }
  @media #{$two-column-cutoff} {
    margin-bottom: -$baseline * 1.5; // seems too specific, probably best for homepage!
    li {
      display: block !important;
      width: calc(50% - 13.33px);
      margin-bottom: $baseline * 1.5;
      margin-right: $gutter-width !important;
      &:nth-child(3) {
        margin-right: $gutter-width !important;
      }
      &:nth-child(2n) {
        margin-right: 0 !important;
      }
      img {
        width: 100%;
      }
      svg {
        width: 100%;
      }
    }
  }
  @media #{$mobile} {
    width: calc(100% - 32px);
    margin-left: auto;
    margin-right: auto;
    //   margin-bottom: -$baseline * .75;
    //   justify-content: space-around;
  }
}
