body {
  background-color: $body-background;
}

.page_container {
  max-width: $site_max_width;
  margin-left: auto;
  margin-right: auto;
  padding: 0 $baseline * 1.5;
  box-sizing: border-box;
  @media #{$mobile} {
    padding-left: 0;
    padding-right: 0;
  }
}

.box {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: $baseline * 2;
  background-color: $box-background;
  justify-content: space-between;
  @include samo-shadow-and-radius();
  h1,
  h2 {
    font-family: $medium-sans-font;
    font-weight: normal;
    line-height: 42px;
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 42px;
    margin-top: 0;
    margin-bottom: 1px;
    padding: 0 0 0 $baseline / 2;
    color: $theme-accent;
    border-bottom: 1px solid $box-h2-bottom-border;
    background-color: transparent;
  }
  .static_content {
    line-height: 1.3;
    padding: $baseline $baseline / 2;
    font-size: 13px;
    label {
      display: block;
      margin-bottom: -4px;
    }
  }
}

.below_box {
  text-align: right;
  a.view_all {
    font-size: 15px;
    font-weight: normal;
    font-family: $medium-sans-font;
    border: 0;
    margin-right: 4px;
    margin-left: 4px;
    margin-top: 12px;
    padding-left: 20px;
    padding-right: 6px;
    height: 32px;
    line-height: 33px;
    @include samo-shadow-and-radius();
    background-color: $view-all-background;
    box-shadow: none;
    font-size: 15px;
    font-family: $medium-sans-font;
    display: inline-block;
    color: $view-all-text;
    span {
      i.icon_caret {
        position: relative;
        top: 5px;
        margin-left: -3.5px;
        svg {
          height: 20px;
          .icon_caret_path {
            stroke: $accent;
          }
        }
      }
    }
    &:hover {
      text-decoration: none;
      color: $accent;
    }
  }
}

.back_to_button,
.back_to_artist_link,
.back_to_track_link,
.back_to_playlist_link {
  height: 26px;
  border-radius: 3px;
  background-color: $back-to-background;
  color: $back-to-text;
  display: inline-flex;
  margin-bottom: 32px;
  // @include shadow1();
  &:hover {
    text-decoration: none;
  }
  .caret {
    background-color: $back-to-caret-background;
    display: block;
    width: 26px;
    height: 26px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    i.icon_caret {
      position: relative;
      top: 5px;
      margin-left: 1px;
      svg {
        transform: rotate(180deg);
        height: 16px;
      }
    }
  }
  .text {
    font-family: $medium-sans-font;
    padding: 8px 12px 0 12px;
    font-size: 12px;
    line-height: 1;
    span {
      color: $back-to-span-text;
    }
  }
}

.private_warning {
  font-size: 12px !important;
  font-family: $medium-sans-font;
  position: relative;
  display: block;
  height: auto;
  line-height: 17px;
  margin-top: 0;
  padding: 8px 20px;
  color: $private-message-warning-text;
  border-color: $private-message-warning-border;
  background-color: $private-message-warning-background;
  &.hidden {
    display: none;
  }
  .only_user_name,
  .only_alonetone_mods {
    color: $white;
  }
}

ul {
  padding-left: 0;
  list-style: none;
}

.hidden {
  display: none;
}