header#site_header {
  background-color: $background-color-one;
  box-shadow: 0 3px 4px -2px #65666627;
  height: 60px;
  .header_inner {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    max-width: $site_max_width;
    padding: 0 36px;
    box-sizing: border-box;
    @media #{$mobile} {
      width: 100%;
      padding: 0 8px;
    }
    .header_logo {
      position: absolute;
      top: 12px;
      display: block;
      width: 51.59px;
      height: 40px;
      background: transparent image-url('alonetone_big-notext-flat.png') no-repeat;
      background-size: 100%;
    }
    .headway {
      position:absolute;
      top: 16px;
      left: 95px;
      width: 15px;
      height: 35px;
    }
    .header_nav {
      display: none;
    }
    .header_login {
      float: right;
      li {
        list-style: none;
        display: flex;
        align-items: center;
        height: 40px;
        a {
          @include default_button();
        }
      }
    }
    .user_dropdown {
      position: relative;
      float: right;
      background-color: $background-color-three;
      color: $font-color-one;
      .profile_link {
        font-size: 14px;
        position: relative;
        z-index: 100;
        display: block;
        box-sizing: border-box;
        height: 40px;
        padding-top: 3px;
        background-color: $background-color-one;
        span {
          line-height: 34px;
          display: block;
          float: left;
          min-width: 122px;
          padding: 0 10px 0 15px;
          text-align: right;
          position: relative;
          top: 1px;
          &:hover {
            text-decoration: underline;
          }
        }
        img {
          width: 34px;
          height: 34px;
        }
      }
      .user_dropdown_menu {
        position: absolute;
        top: -116px;
        margin-top: 40px;
        width: 100%;
        z-index: 99;
        a {
          font-size: 14px;
          font-weight: normal;
          line-height: 26px;
          display: block;
          height: 26px;
          padding-right: 15px;
          padding-left: 15px;
          background-color: $background-color-one;
          &:hover {
            background-color: $background-color-three;
            text-decoration: none;
          }
        }
      }
    }
  }
  .header_search {
    position: relative;
    float: right;
    margin-right: $baseline;
    display: flex;
    height: $baseline * 1.5;
    padding-top: $baseline / 2;
    @media #{$one-column} {
      display: none;
    }
    #search_form {
      display: block;
      height: 100%;
      #query {
        margin-bottom: 0;
        height: 100%;
        font-size: 14px;
        font-family: $medium-sans-font;
        width: 160px;
        padding: 0;
        padding-left: 8px;
        color: $font-color-two;
        border-radius: 3px;
        &:focus {
          border: 0;
          width: 256px;
        }
      }
    }
    #search_button {
      display: block;
      width: 18px;
      height: 18px;
      position: relative;
      left: -27px;
      top: 9px;
      img {
        width: 18px;
        height: 18px;
      }
    }
  }
}

#HW_frame_cont {
  @media #{$mobile} {
    max-width: 320px;
  }
}