header#site_header {
  background-color: $background-color-one;
  box-shadow: 0 3px 4px -2px #65666627;
  height: 60px;
  > .header_search {
    display: none !important; // Temporarily hide dark theme search that wasn't inside the #site_header
  }
  .header_inner {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    max-width: $site_max_width;
    padding: 0 36px;
    box-sizing: border-box;
    display: flex;
    @media #{$mobile} {
      width: 100%;
      padding: 0 8px;
    }
    .header_logo {
      margin-top: 12px;
      display: block;
      width: 51.59px;
      height: 40px;
      background: transparent image-url("alonetone_big-notext-flat.png")
        no-repeat;
      background-size: 100%;
    }
    .headway {
      position: absolute;
      top: 16px;
      left: 95px;
      width: 15px;
      height: 35px;
    }
    > .header_search {
      position: relative;
      margin-left: auto;
      margin-right: $baseline;
      display: flex;
      height: $baseline * 1.5;
      margin-top: $baseline / 2;
      margin-top: 12px;
      box-sizing: border-box;
      @media #{$one-column} {
        display: none;
      }
      #search_form {
        display: block;
        height: 100%;
        #query {
          margin-bottom: 0;
          height: 100%;
          font-size: 14px;
          font-family: $medium-sans-font;
          width: 160px;
          padding: 0;
          padding-left: 8px;
          background-color: $background-color-three;
          color: $font-color-two;
          border: 0;
          border-radius: 3px;
          &:hover {
            border-width: 0px;
            width: 256px;
          }
        }
      }
      #search_button {
        display: block;
        width: 18px;
        height: 18px;
        position: absolute;
        right: 12px;
        top: 9px;
        img {
          width: 18px;
          height: 18px;
        }
      }
    }
    .login_button {
      @include default_button(primary);
      height: 36px;
      line-height: 38px;
  
      margin-top: 12px;
    }
    .user_dropdown {
      position: relative;
      @media #{$one-column} {
        margin-left: auto;
      }
      .profile_link {
        z-index: 100;
        display: block;
        box-sizing: border-box;
        width: 56px;
        margin-top: $baseline / 2;
        height: 36px;
        padding: 2px;
        border-radius: 3px;
        background-color: $background-color-three;
        background-image: image-url("svg/icon_profile_link_down_arrow.svg");
        background-repeat: no-repeat;
        background-position: right 6px center;
        img {
          width: 32px;
          height: 32px;
        }
      }
      .user_dropdown_menu {
        position: absolute;
        right: 0;
        z-index: 99;
        width: 1000px;
        max-width: 350px;
        background-color: white;
        box-shadow: 0px 6px 24px rgba(134, 134, 134, 0.75);
        border-radius: 0px 0px 6px 6px;
        color: $font-color-two;
        @media #{$mobile} {
          width: 300px;
        }
        .user_dropdown_menu_header {
          height: 60px;
          display: flex;
          padding-left: $baseline;
          font-size: 16px;
          line-height: 60px;
          img {
            display: block;
            margin-left: auto;
            margin-right: 16px;
            margin-top: $baseline / 2;
            height: 36px;
            width: 36px;
            border-radius: 2px;
          }
        }
        .user_dropdown_menu_items {
          padding-left: $baseline;
          margin-top: $baseline / 3;
          a {
            display: block;
            font-size: 14px;
            font-weight: normal;
            line-height: 40px;
            display: block;
            height: 40px;
          }
        }
        .user_dropdown_menu_bottom_links {
          display: flex;
          justify-content: space-between;
          padding-left: 16px;
          padding-right: 16px;
          padding-top: $baseline;
          margin-bottom: 10px;
          a.admin_item {
            @include default_button();
            height: 28px;
            line-height: 30px;
            background-color: $background-color-one;
            border: 1px solid $accent;
            color: $accent;
            width: 100px;
            &:hover {
              background-color: $background-color-one;
              color: $accent;
            }
          }
          a.logout_item {
            @include default_button();
            height: 28px;
            line-height: 30px;
            width: 100px;
          }
        }
      }
    }
  }
}

#HW_frame_cont {
  @media #{$mobile} {
    max-width: 320px;
  }
}
