.static_page {
  margin-top: -48px;
  .sub_nav {
    background-color: transparent;
    position: static;
    background-color: $static-page-heading-background;
  }
  h1.static_page_heading {
    @include title36();
    color: $static-page-heading-text;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;
    margin: 0;
    background-color: $static-page-heading-background;
  }
  .static_page_content {
    background-color: $static-page-content-background;
    position: relative;
    top: -$baseline * 1.5;
    max-width: $content_max_width;
    margin-left: auto;
    margin-right: auto;
    @include shadow2();
    border-radius: 6px;
    padding-bottom: $baseline;
    h2 {
      @include title24();
      color: $static-page-h2-text;
      box-shadow: none;
      border-radius: 0;
      line-height: 20px;
      padding-top: $baseline * (7/3);
      padding-bottom: 12px;
      padding-left: $baseline * 2;
      padding-right: $baseline * 2;
      margin-top: 0;
      border-top: 1px solid $static-page-content-seperator;
      &:first-child {
        // padding-top: 0px;
      }
    }
    p {
      @include paragraph18();
      color: $static-page-paragraph-text;
      line-height: 1.5;
      padding-left: $baseline * 2;
      padding-right: $baseline * 2;
    }
  }
}