.sub_nav {
    width: 100%;
    position: relative;
    top: -48px;
    background-color: $background-color-four; // white
    height: $baseline * 1.5;
    .sub_nav_inner {
        box-sizing: border-box;
        display: grid;
        max-width: $site_max_width;
        padding: 0 $baseline * 1.5;
        margin: 0 auto;
        ul {
            display: flex;
            margin-top: 0;
            margin-bottom: 0; 
            padding-top: $baseline / 4;
            justify-content: center;
            li {
                margin-right: $baseline / 2;
                &:last-child {
                  margin-right: 0;
                }
                &.current {
                    background-color: $accent;
                    @include shadow-one-inner();
                }
                @include default_button(sub_nav); // is this right, or styles go here?
                
                @include shadow-one();
                overflow: hidden;
                
                color: $white;

                a {
                  display: block;
                   width: 100%;
                   height: 100%;
                   background-color: $white;
                   color: $black;

                    // @include default_button(sub_nav);
                    // overflow: hidden;
                }
            }
        }
    }
}