body {
  font-size: 14px;
  font-family: $sans-font;
  color: $body-font;
  line-height: 1;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    text-decoration: underline;
  }
}

h1 {
  font-size: 24px;
  font-family: $black-font;
  font-weight: normal;
}

h2 {
  font-size: 18px;
  &.box {
    box-shadow: none;
    border-radius: 0;
  }
}