body {
  font-size: 14px;
  font-family: $sans-font;
  color: $body-text;
  line-height: 1;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    text-decoration: underline;
  }
}

h1 {
  font-size: 24px;
  font-family: $black-font;
  font-weight: normal;
}

h2 {
  font-size: 18px;
  &.box {
    box-shadow: none;
    border-radius: 0;
  }
}


.markdown {
  ul {
    padding-left: 24px;
    li {
      list-style-type: disc;
    }
  }
  ol {
    counter-reset: listNumbering;
    padding-left: 6px;
    li {
      list-style: none;
      counter-increment: listNumbering;
      &:before {
        content: counter(listNumbering) ".";
        font-variant-numeric: tabular-nums;
        font-size: 14px;
        color: inherit;
        margin-right: 6px;
      }
    }
  }
  hr {
    position: relative;
    width: 90%;
    margin: ($baseline * 1.5) auto;
    text-align: center;
    border: 0;
    border-bottom: 1px solid $track-content-hr-background;
  }
}

