.user_tracks {
  .columns_header {
    max-width: 1032px;
    box-sizing: border-box;
    padding: 0 36px;
    margin-left: auto;
    margin-right: auto;
    @media #{$mobile} {
      padding-left: 0;
    }
  }
  #left {
    .box {
      margin-bottom: 0;
    }
    @media #{$one-column} {
      margin-bottom: $baseline * 2;
    }
  }
  h2 {
    padding-left: 16px;
    color: $accent;
    margin-bottom: 16px;
    margin-top: 0px;
    line-height: 1;
  }
}