$baseline: 24px; // used for various layout spacing

// media tiers

$mobile: 'only screen and (max-width: 420px)';
$two-column-narrow: 'only screen and (min-width: 749px) and (max-width: 952px)';
$one-column: 'only screen and (max-width: 748px)';

// fonts
@font-face {
  font-family: 'Alright-v2-Normal';
  src: url('https://cdn.alonetone.com/fonts/Alright-v2-Normal-Regular-latin1-tnum.woff2') format('woff2');
  font-weight: normal;
}

@font-face {
  font-family: 'Alright-v2-Normal';
  src: url('https://cdn.alonetone.com/fonts/Alright-v2-Normal-Bold-latin1-tnum.woff2') format('woff2');
  font-weight: bold;
}

@font-face {
  font-family: 'Alright-v2-Normal-Medium';
  src: url('https://cdn.alonetone.com/fonts/Alright-v2-Normal-Medium-latin1-tnum.woff2') format('woff2');
  font-weight: normal;
}

@font-face {
  font-family: 'Alright-v2-Normal-Black';
  src: url('https://cdn.alonetone.com/fonts/Alright-v2-Normal-Black-latin1-tnum.woff2') format('woff2');
  font-weight: normal;
}

$sans-font: 'Alright-v2-Normal', sans-serif; // "Alright Sans Bold" exists using font-weight: bold or <strong> on this fontface
$medium-sans-font: 'Alright-v2-Normal-Medium', sans-serif;
$black-font: 'Alright-v2-Normal-Black', sans-serif;

@mixin samo-shadow-and-radius() {
  border-radius: 6px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15)
}

@mixin default-button($type: '') {
  font-family: $sans-font;
  font-size: 12px;
  font-weight: bold;
  line-height: 28px;
  display: inline-block;
  box-sizing: border-box;
  height: 26px;
  padding: 0 16px;
  text-align: center;
  text-decoration: none;
  color: $font-color-seven;
  border: 0;
  border-radius: 4px;
  background-color: $default-button-background;
  box-shadow: none;
  &:hover {
    background-color: $default-button-background-hover;
  }
  &:active {
    background-color: #eb7b0c;
  }
}