<div id="admin_columns">
  <div class="admin_column_left box">
    <h2>Admin</h2>
    <%= render partial: 'admin/navigation' %>
  </div>
  <div class="admin_column_right">
    <div class="admin_column_right_inner box">
      <h2>Create a new reserved word</h2>
    
      <%= render 'form' %>
    </div>
  </div>
</div>
