@import "compass/reset";

header {
  img {
    height: 83px;
    width: 83px;
  }

  h1, h2 {
    display: inline;
  }
}

.player {
  .play-button {
    font-size: 34px;
    display: inline-block;

    &:after {
      content: "PLAY";
    }
  }

  .pause-button {
    font-size: 34px;
    display: inline-block;

    &:after {
      content: "PAUSE";
    }
  }

  .waveform {
    display: inline-block;
    width: 575px;
  }

  .download-button {
    font-size: 34px;
    display: inline-block;

    &:after {
      content: "DOWNLOAD";
    }
  }
}