<%= link_to user_playlist_path(@user, @playlist), class: 'back_to_playlist_link' do %>
  <div class="caret">
    <i class="icon_caret">
      <%== render file: svg_path('svg/icon_caret.svg') %>
    </i>
  </div>
  <div class="text">
    Back to <span><%= @playlist.title %></span>
  </div>
<% end %>
