  <p>
    <b>Title</b><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <b>Year released (e.g. 2008)</b><br />
    <%= f.text_field :year, :size => 4 %>
  </p>
  <p>
    <b>Description</b><br />
    <%= f.text_area :description, :rows => 4 %>
  </p>

  <p>
    <b>Hidden from the public? (All playlists are automatically hidden until they have at least 2 tracks)</b><br />
    <%= f.check_box :private %>
  </p>