<%= notice_for('edit_playlist',"Editing '#{@playlist.title}'") do %>
    <ol>
        <li>Find the track you want to add</li>
        <li>Drag track to your playlist on the left</li>
        <li>Repeat!</li>
        <li>Order tracks in your playlist by dragging them up and down</li>
    </ol>
<% end %>