<ul class="external_links">
  <% [:link1, :link2, :link3].collect do |link| %>
    <% if valid_link = @playlist.send(link) %>
      <li>
        <%= external_link_for(valid_link) %>
      </li>
    <% end %>
  <% end %>
</ul>
