<div id="playlist_source_options">
  <%= link_to 'Your Uploads', '#', :class => 'playlist_option active', :id => 'open_your_stuff' %>
  <%= link_to "Your Listens", "#", :class => 'playlist_option', :id => 'open_your_listens' %>
  <%= link_to "Search", '#', :class => 'playlist_option',:id => 'open_search' %>
</div>
<div class="clear"> </div>