<div id="your_uploads" class="playlist_source">
  <div class="mini_paginator">
    <%= will_paginate @assets, {:param_name => :uploads_page, :ignore_get_params => true}%>
  </div>
	
	<div class="scriptaculous">
	  <%= render :partial => 'playlists/asset', :collection => @assets %>
	</div>
</div>