<div id="your_listens" class="playlist_source">
  <div class="mini_paginator">
    <%== pagy_nav @listens_pagy %>
	</div>
	<div class="scriptaculous">
	<%= render partial: 'listen', collection: @listens %>
	</div>
</div>