<div id="your_uploads" class="playlist_source">
  <div class="mini_paginator">
    <%== pagy_nav @assets_pagy %>
  </div>

	<div class="scriptaculous">
	  <%= render partial: 'playlists/asset', collection: @assets %>
	</div>
</div>