<div id="your_uploads" class="playlist_source">
  <div class="mini_paginator">
    <%= will_paginate @assets, {:param_name => :uploads_page, :params => nil}%>
  </div>
	
	<div class="scriptaculous">
	  <%= render :partial => 'asset', :collection => @assets %>
	</div>
</div>