<div id="your_listens" class="playlist_source">
  <div class="mini_paginator">
    <%= will_paginate @listens,{:param_name => :listens_page, :params => nil} %>
	</div>
	<div class="scriptaculous">
	<%= render :partial => 'listen', :collection => @listens %>
	</div>
</div>