<div class="playlists_container">
  <h2>Browse Playlists</h2>

  <ul class="playlists responsive_grid">
    <%= render partial: 'shared/playlist', collection: @playlists, as: :playlist %>
  </ul>
</div>
