<div id="static_header">
  <div class="title">
    <h1 class="static">Browse all alonetone playlists</h1>
  </div>
</div>
<% if white_theme_enabled? %>
  <ul class="playlists">
    <%= render partial: 'shared/playlist_white', collection: @playlists, as: :playlist %>
  </ul>
<% else %>
<div style="margin-top: 28px">
  <% @playlists.each_slice(5) do |playlists| %>
    <ul class="playlists_row">
      <%= render partial: 'playlists/row', collection: playlists, as: :playlist %>
    </ul>
  <% end %>
</div>
<% end %>
