<% if white_theme_enabled? %>

  <div class="playlists_container">

    <h2>Browse all alonetone playlists</h2>

    <ul class="playlists">
      <%= render partial: 'shared/playlist_white', collection: @playlists, as: :playlist %>
    </ul>
  </div>

<% else %>

<div id="static_header">
  <div class="title">
    <h1 class="static">Browse all alonetone playlists</h1>
  </div>
</div>


<div style="margin-top: 28px">
  <% @playlists.each_slice(5) do |playlists| %>
    <ul class="playlists_row">
      <%= render partial: 'playlists/row', collection: playlists, as: :playlist %>
    </ul>
  <% end %>
</div>

<% end %>
