
<div class="user_playlists">
  <h1><%= @user.name %>'s Playlists</h1>
  <ul class="playlists">
    <%= render partial: 'shared/playlist_white', collection: @playlists, as: :playlist, cached: true %>
  </ul>
</div>
