
<% render(:layout => 'users/user') do %>
  	<div class="additional_options_solo clearfix">
  	    <div class="button_wrapper">
  	        <%= link_to "create new playlist", new_user_playlist_path(@user), :id => 'add_playlist_button', :class => 'add button' if authorized? %>
	    </div>
	    
	    <div class="button_wrapper">
	        <%= link_to "change playlist order", sort_user_playlists_path(@user), :id => 'sort_playlist_button', :class => 'sort button' if authorized? %>
		</div>    
  	</div>
    <% content_for :left do %>
		  <%= render :partial => 'playlist', :collection => @playlists_left if @playlists_left %>
		  
		<% end %>
		
		<% content_for :right do %>
		  <%= render :partial => 'playlist', :collection => @playlists_right if @playlists_right %>
		<% end %>
		
<% end %>
