<div id="user_playlists_area">
  <div class="user_playlists">
    <ul class="playlists">
      <%= render partial: 'shared/playlist_white', collection: @playlists, as: :playlist, cached: true %>
    </ul>
  </div>
</div>
