<%= render :partial => 'users/user' %>

<% content_for :left do %>
  <div id="single_playlist">
    <% cache([@playlist, authorized_for(@playlist),theme_name]) do %>
      <%= render @playlist %>
    <% end unless (@playlist.private? && authorized_for(@playlist)) # don't cache private playlists %>
  </div>
<% end %>

<% content_for :right do %>
  <%= render :partial => 'share', :locals => {:playlist => @playlist} %>
<% end %>
