<%= render :partial => 'users/user' %>

<% content_for :left do %>
  
  <%# cache("#{@playlist.cache_key}") do %>

	<div id="single_playlist">
		<%= render @playlist %>
	</div>  	
<% end %>
	  
<% content_for :right do %>
  <%= render :partial => 'share', :locals => {:playlist => @playlist} %>
<% end %>
