<% render(:layout => 'users/user') do %>
  <% content_for :left do %>
  
    <% cache("#{@playlist.cache_key}") do %>

  	<div id="single_playlist">
  		<%= render :partial => @playlist %>
  	</div>
  	<% end %>
  	
	<% end %>
	  
    <% content_for :right do %>
    <% end %>
<% end %>