<%= notice_for('sort_playlists',"Sorting your playlists...") do %>
    <ol>
        <li>Simply Drag them bad boys around</li>
        <li>Remember that the first 4 show more prominently on your home page!</li>
    </ol>
<% end %>

<%= link_to '',sort_user_playlists_path(@user.login), :id => 'sort_url' %>

<ul id="sort_playlists">
    <%= render :partial => 'shared/playlist', :collection => @playlists %>
</ul>

<div class="clearfix"> </div>