<h1>Featured Artists on alonetone</h1>

<div class="additional_options">
    <div class="button_wrapper">
        <%= link_to 'New feature', new_feature_path, :class => 'add button' if admin? %>
    </div>
</div>

<%= render :partial => @features %>