<h1>New feature</h1>

<%= form_for(@feature) do |f| %>
 <%= render :partial => 'form', :locals =>{:f => f}%>
   <p>
    <%= f.submit "Create Feature (will not be published)" %>
  </p>
<% end %>

<%= link_to 'Back', features_path %>
