<% content_for :left do %>
<div class="box">
  <h2>Don't be shy, come on in!</h2>
  <div id="login">
    <%= render partial: 'login' %>
  </div>
</div>
<% end %>

<% content_for :right do %>
  <%= render partial: 'users/join' unless params[:already_joined] %>
<% end %>