<% content_for :left do %>
<h2 class="box">Don't be shy, log on in</h2>
  <div id="login" class="static_content box">
  <%= render :partial => 'login' %>
  </div>
<% end %>

<% content_for :right do %>
  <%= render :partial => 'users/join'%>
<% end %>