<div class="track-content">
  <%= player(@post.asset) %>  
  <div class="post-content">
    <h1><%= @post.asset.name %></h1>
    <%= link_to("Edit", edit_user_post_path(@post.user, @post), class: "edit-link") if owner? %>
    <%= markdown(@post.body, post: @post) %>
  </div>
</div>
