<header>
  <h1 class="alrightsansblack"><%= @post.asset.name %></h1>
  <h2 class="alrightsansregular"><%= @post.asset.user.display_name %></h2>
</header>

<%= player(@post.asset) %>

<div class="post_content">
  <%= markdown(@post.body, post: @post) %>
</div>
