.footer {
	ul {
		margin-bottom: 10px;
		li {
			margin-bottom: 4px;
    &.footer-forum-topic{
      margin-bottom: 8px;
      a{
        line-height: 16px;
      }
    }
		}
	}
	a {
		font-weight: bold;
    font-size: 14px;
    line-height: 20px
  }
  .author_name a {
    font-size: 12px;
    font-weight: normal;
	}
}

%footer_column {
	display: inline-block;
	margin-right: 25px;
	width: 210px;
	vertical-align: top;
	font-size: 12px;
	#updates_link.new {
		color: $red;
	}
}

.footer_column_1 {
	@extend %footer_column;
	width: 200px;
}
.footer_column_2 {
	@extend %footer_column;
}
.footer_column_3 {
	@extend %footer_column;
	width: 260px;
}
.footer_column_4 {
	@extend %footer_column;
}

.footer-column-header {
	margin-bottom: 5px;
  margin-top:20px;
	font-weight: bold;
	font-size: 14px;
  color: #929292;
  padding-bottom:5px;
  border-bottom: 1px #929292 solid;
}

.radio_button {
	display: inline-block;
	width: 81px;
	height: 25px;
	background: image-url('nav/radio.png');
	&:hover {
		background-position: -81px 0;
	}
	&:active {
		background-position: -162px 0;
	}
}

.halp_button {
	display: inline-block;
	width: 78px;
	height: 25px;
	background: image-url('nav/halp.png');
	&:hover {
		background-position: -78px 0;
	}
	&:active {
		background-position: -156px 0;
	}
}

.about_button {
	display: inline-block;
	width: 78px;
	height: 25px;
	background: image-url('nav/about.png');
	&:hover {
		background-position: -78px 0;
	}
	&:active {
		background-position: -156px 0;
	}
}