.header_logo {
	position: absolute;
	top: 12px;
	left: 25px;
	display: block;
	width: 120px;
	height: 80px;
	background: transparent image-url('alonetone_big.png') no-repeat;
  	background-size: 100%;
}

.header_nav {
	margin-left: 170px;
  width:770px;
}

.header_login {
	position: absolute;
	top: 0px;
	width: 940px;
}

.header_search {
	position: relative;
  height:50px;
	// left: 49px;
	// left: 686px;
  padding-top:4px;
  float: right;
	#search_form {
		display: block;
		float: left;
		#query {
			padding: 3px 4px;
			width: 170px;
			height: 16px;
			border: 1px solid #212327;
			background-color: #5b5d4a;
			color: $silver;
			font-size: 13px;
			&.focused {
				color: white;
			}
		}
	}
	#search_button {
		display: block;
		float: left;
    margin-top:8px;
    margin-left:5px;
    width: 18px;
    height: 18px;
    img{
  		width: 18px;
  		height: 18px; 
    }	
  }
}