.header_login {
  position: absolute;
   left: 864px;
 a#login_button {
  display: block;
        margin-top: 2px;
  
    width: 75px;
    height: 25px;
    background: image-url('nav/login.png') no-repeat 0px 0;
    &:hover {
      background-position: -75px 0;
    }
    &:active {
      background-position: -150px 0;
    }
    

  }
  a#logout_button {
    display: block;
        margin-top: 2px;
    width: 88px;
    height: 25px;
    background: image-url('nav/logout.png') no-repeat 0px 0;
    &:hover {
      background-position: -88px 0;
    }
    &:active {
      background-position: -176px 0;
    }

  }
  a#profile_link {
    display: block;
    
    margin-left: 7px;
    width: 25px;
    height: 25px;
  }

}

#logo {
  position: absolute;
  left: 54px;
  top: 5px;
  z-index: 5;
  width: 120px;
  height: 81px;
  background: transparent image-url('alonetone_big.png') no-repeat left center;
}

#nav {
  margin-left: 230px;
}

div#search {
  position: relative;
  float: right;
  display: block;
  height: 25px;
  width: 330px;
 
  a {
    background: image-url('nav/search.png') no-repeat 0px 0;
    display: block;
    float: right;
    width: 75px;
    height: 25px;
    margin-left: 5px;
 
    &:hover {
      background-position: -75px 0;
    }
 
    &:active {
      background-position: -150px 0;
    }
  }

  form {
    height: 25px;
    display: inline;
    #query {
      margin: 0;
      float: right;
      margin-left: 0px;
      margin-top: 3px;
      height: 17px;
      font-size: 14px;
      color: $silver;
      padding: 2px 3px;
      width: 200px;
      background-color: #5b5d4a;
      border: 1px solid #313327;
      &.focused {
        color: white;
      }
    }
  }
}
