.header_logo {
	position: absolute;
	top: 15px;
	left: 54px;
	display: block;
	width: 120px;
	height: 81px;
	background: transparent image-url('alonetone_big.png');
}

.header_nav {
	margin-left: 230px;
}

.header_login {
	position: absolute;
	top: 0px;
	width: 940px;
	.profile_link {
		display: block; 
		float: right;
		margin-left: 7px;
		width: 25px;
		height: 25px;
	}
	.logout_button {
		display: block;
		float: right;
		margin-top: 2px;
		width: 88px;
		height: 25px;
		background: image-url('nav/logout.png') no-repeat 0px 0;
		&:hover {
			background-position: -88px 0;
		}
		&:active {
			background-position: -176px 0;
		}
	}
	.login_button {
		display: block;
		float: right;
		margin-top: 2px;
		width: 75px;
		height: 25px;
		background: image-url('nav/login.png') no-repeat 0px 0;
		
		&:hover {
			background-position: -75px 0;
		}
		
		&:active {
			background-position: -150px 0;
		}
	}
}

.header_search {
	position: absolute;
	top: 96px;
	// left: 49px;
	left: 640px;
	#search_form {
		display: block;
		float: left;
		#query {
			padding: 4px 5px;
			width: 200px;
			height: 18px;
			border: 2px solid #212327;
			background-color: #5b5d4a;
			color: $silver;
			font-size: 14px;
			&.focused {
				color: white;
			}
		}
	}
	#search_button {
		display: block;
		float: left;
		margin-top: 6px;
		margin-left: 8px;
		width: 75px;
		height: 24px;
		background: image-url('nav/search.png') no-repeat 0px 0;
		&:hover {
			background-position: -75px 0;
		}
		&:active {
			background-position: -150px 0;
		}
	}
}