// import variables
@import "variables";

html,body {
  background-color: $body_background;
}

#header {
  position: absolute;
  top: 29px;
  left: 0;
  width: 100%;
  height: 110px;
  z-index: 5;
  background: image-url('backgrounds/header.png') repeat-x top left;
  background-color: $body_background;
}

a#logo {
  position: absolute;
  left: 864px;
  top: 15px;
  width: 120px;
  height: 81px;
  z-index: 5;
  background: transparent image-url('alonetone_big.png') no-repeat left center;
}

#nav {
  position: absolute;
  top: 0px;
  left: 50px;
  height: 80px;
  width: 830px;
  background: none;
}

#wrapper {
  position: relative;
  margin: 0;
  padding: 0;
  background: image-url('backgrounds/body.png') repeat-x top left;
  margin-top: 139px;
}

#content {
  position: relative;
  margin-left: 50px;
  margin-bottom: 150px;
  width: 890px;
}

#top_bar {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background: black image-url('backgrounds/top_menu_background.png') repeat-x top left;
  height: 29px;
  width: 100%;
  z-index: 10;
  min-width: 800px;
}

#main {
  position: relative;
  width: 890px;
  height: 1%;
}

#static {
  position: relative;
  width: 600px;
  height: 1%;
}

.sidebar {
  position: relative;
  float: right;
  width: 240px;
}

#columns {
  position: relative;
  width: 890px;
  height: 1%;
  #left {
    float: left;
    width: 420px;
  }
  #right {
    float: left;
    margin-left: 50px;
    width: 420px;
  }
}

// prevents content from being buried beneath footer without a scrollbar
#footer_spacer {
  clear: both;
  height: 60px;
  width: 100%;
}

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0pt;
  line-height: 0pt;
  visibility: hidden;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

.min_height_50 {
  min-height: 50px;
  margin-bottom: 10px;
}

#footer {
  position: relative;
  height: 42px;
  width: 100%;
  background: image-url('backgrounds/footer_closed.png') repeat-x top left;
  #update, #bug_report {
    font-size: 12px;
    line-height: 30px;
  }
  #update {
    position: absolute;
    left: 50px;
    top: 13px;
    #updates_link.new {
      color: $red;
    }
  }
  #footer_right {
    position: absolute;
    left: 520px;
    margin-top: 13px;
    text-align: right;
    width: 420px;
    a {
      font-weight: normal;
    }
    #footer_comment_icon {
      position: absolute;
      left: 427px;
      top: 8px;
      height: 30px;
      z-index: 20;
      img {
        margin-bottom: -5px;
      }
    }
  }
  &.open {
    height: 300px;
  }
}

#footer_expandable {
  background: image-url('backgrounds/footer.png') repeat-x top left;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 0px;
  width: 100%;
  z-index: 700;
  #open_footer_content {
    background-color: #c1cab3;
    margin-top: 52px;
    width: 100%;
    height: 100%;
    position: relative;
    #feedback_help {
      position: absolute;
      z-index: 500;
      left: 120px;
      top: -20px;
      width: 300px;
      height: 214px;
      a {
        text-decoration: underline;
      }
    }
    #bug_form {
      position: absolute;
      z-index: 500;
      left: 540px;
      top: -25px;
      height: 214px;
      width: 332px;
      &.logged_in_flavor {
        table {
          tr {
            td {
              vertical-align: top;
              padding: 3px;
              .subject {
                margin: 0;
              }
              input, textarea, select {
                width: 220px;
              }
            }
            td.label {
              width: 100px;
              text-align: right;
              line-height: 20px;
              padding-right: 5px;
              margin-top: 5px;
              font-weight: bold;
            }
          }
        }
        label {
          font-size: 11px;
        }
      }
      form {
        background-color: #c1cab3;
        #user_report_category {
          display: block;
          margin-bottom: 5px;
        }
        #user_report_description {
          height: 150px;
        }
        #bug_form_submit {
          display: inline-block;
        }
        #nevermind {
          display: inline-block;
          width: 42px;
          height: 15px;
          font-size: 14px;
          color: $orange;
          text-decoration: underline;
        }
      }
    }
  }
}

// general spacing stuff
div.box {
  position: relative;
  margin-bottom: 30px;
}

div.footer_box {
  margin-top: -27px;
  margin-bottom: 30px;
}

div.notice, div.errorExplanation {
  background: #c7c8c7 image-url('backgrounds/notice.png') repeat-x top left;
  padding: 20px 30px;
  margin-bottom: 20px;
  border-bottom: 1px solid #7e807e;
  border-top: 1px solid #6f6f6f;
}

div#welcome {
  background: #c7c8c7 image-url('backgrounds/welcome_notice.png') no-repeat top left;
  height: 73px;
  width: 830px;
  padding-top: 100px;
  padding-left: 26px;
}
