#nav {
	li {
		@include box-shadow(#111111 0 0 5px);
		display: inline-block;
		margin-right: 16px;
		vertical-align: top;
		a {
			@include background-image(linear-gradient(#4a4b41, #313327));
			@include text-shadow(rgba(black, 0.6) 1px 2px 3px);
			display: block;
			padding-left: 20px;
			height: 61px;
			color: #c1cab3;
			letter-spacing: .6px;
			font-weight: normal;
			font-size: 18px;
			font-family: $header_font;
			line-height: 84px;
			&:hover {
				@include background-image(linear-gradient(#ffa159, #da6d25));
				@include text-shadow(none);
				color: #f6fceb;
				text-decoration: none;
			}
			&.active {
				@include background-image(linear-gradient(#eef1e9, #d1dac3));
				@include text-shadow(none);
				height: 71px;
				color: #37392b;
				line-height: 104px;
			}
		}
	}
	#home {
		margin-right: 73px;
		a {
			width: 85px;
		}
	}
	#browse a {
		width: 96px;
	}
	#upload a {
		width: 95px;
	}
	#your_stuff a {
		width: 117px;
	}
	#forums a {
		width: 102px;
	}
}