.simple_form {
  div.input {
    margin-bottom: 10px;
    clear: both;
    text-align:left;
    width: 265px;
    
    /* Required for Webkit, but not for Gecko */
  }
  label {
    display: block;
    text-align: left;
    margin: 2px 0px;
    abbr{
      display:none;
    }
  }
  textarea{
    height:200px;
  }
  input {
    font-size: 1em;
    padding:5px;
    margin: 0;
    &.string, &.password{
      width: 250px;
      background-color: white;
    }
    &.radio {
      margin-right: 5px;
      vertical-align: -3px;
    }
    &.check_boxes {
      margin-left: 3px;
      vertical-align: -3px;
    }
    &.btn{
      font-size: 1.4em;
      padding:10px;
      margin-right: 0px;
    }
  }
}

div.boolean {
  // margin-left: 120px;
}



div.boolean label {
  float: none;
  margin: 0;
  // margin-left: 10px;
}

div.boolean label input {
  // float: none;
  // margin: 0;
  margin-right: 5px;
}

label.collection_radio_buttons {
  float: none;
  margin: 0;
  margin-right: 10px;
  vertical-align: -2px;
  margin-left: 2px;
}

.field_with_errors {
  background-color: #e66d29;
  margin-left: -10px;
  padding: 5px;
  padding-left: 10px;
  width: 310px;
  label{
    color: white;
  }
}

.simple_form {
  .error {
    clear: both;
    color: white;
    display: block;
  }
  .hint {
    clear: left;
    color: #555;
    display: block;
    text-align: right;
    font-style: italic;
  }
}

label.collection_check_boxes {
  float: none;
  margin: 0;
  vertical-align: -2px;
  margin-left: 2px;
}