@mixin retina-sprite($sprite) {
    $sprite-map: sprite-map("sprites/*.png", $new-position: 100%, $spacing: 10px, $layout: horizontal, $no-repeat: no-repeat);
    $pos: sprite-position($sprite-map, $sprite, 0, 0);
    @include background-size(ceil(image-width(sprite-path($sprite-map)) / 2) auto);

    background-image: sprite-url($sprite-map);
    background-position: (nth($pos, 1)/2) (nth($pos, 2)/2);

    display:block;
    width: image-width(sprite-file($sprite-map, $sprite)) /2; 
    height: image-height(sprite-file($sprite-map, $sprite)) /2;
}

@each $thisSprite in 
    play,
    play_hover,
    pause
    {
        .sprites-#{$thisSprite} {
            @include retina-sprite(#{$thisSprite});
        }

        .sprites-#{$thisSprite}:hover {
            @extend .sprites-#{$thisSprite}_hover;
        }
        
    }