$body_background: #313327; // is this even relevant anymore?

// in-content boxes
$box_background: #c1cab3;
$box_background_even: #deeacd;

// text
$header_font: ronnia-1, ronnia-2, Helvetica, Arial;

$text_color: #37392b;
$tab_box_silver: #e1e2e1;
$playlist_box_silver: #c7c8c7;
$silver: #c7c8c7;
$white: #f6fceb;
$orange: #da6d25;
$orange_background: #e66d29;
$red: #d3220c;
$green: #66a410;
$disabled: #8c8e86;

$body_link_hover: #1a1d13;