<% content_for :static do %>

  <div class="static_page">

    <%= render partial: 'pages/navigation' %>

    <h1 class="static_page_heading">
      Static Page Title
    </h1>

    <div class="static_page_content">
      <%= yield %>
    </div>

  </div>
<% end %>

<%= render template: 'layouts/white_theme' %>
