<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />   
    <title>alonetone does record production month (rpm challenge) 2009 </title>
    <%= stylesheet_link_tag 'rpm_challenge' %>    
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <meta content="index,follow" name="robots"/>
    <meta content="Listen to alonetone musicians doing the 2009 RPM challenge" name="Description"/>
		<meta content="alonetone rpm challenge rpmchallenge album listen" name="Keywords" />
    <script type="text/javascript" src="http://use.typekit.com/rwq4zcv.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body>
    
    <div id="wrapper">
      <div id="header">
        <a id="back-to-alonetone" href="/">
        </a>
        <h3 id="description" class="tk-ronnia">
          Every February, musicians from around the world attempt the <a href="http://rpmchallenge.com">Record Production Month Challenge.</a><br/>
          Listen to what alonetone artists produced and recorded in 1 short month. <br/>
          See also: <a href="/24houralbum">24 hour album</a>
        </h3>
      </div>
      
      <div id="content">
          
        <div id="albums">
            <%= yield %>
        </div>
      </div>
    
    </div>    
    
  </body>  
</html>