<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />   
    <title>alonetone does record production month (rpm challenge) 2009 </title>
    <link type="text/css" rel="stylesheet" media="screen" href="/stylesheets/rpm_challenge.css">
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <meta content="index,follow" name="robots"/>
    <meta content="Listen to alonetone musicians doing the 2009 RPM challenge" name="Description"/>
		<meta content="alonetone rpm challenge rpmchallenge album listen" name="Keywords" />
  </head>
  <body>
    
    <div id="wrapper">
      <div id="header">
        <a id="back-to-alonetone" href="/">
        </a>
      </div>
      
      <div id="content">

        <div id="albums">
            <%= yield %>
        </div>
      </div>
    
    </div>    
    
  </body>  
</html>