<h2>Expect an email!</h2>

<p>
After a moderator manually approves your account, we will send an activation email to <b><%= @email %></b>.
</p>

<p>
We appreciate your patience! We are a
  <%= link_to "group of musicians", "/about#so-who-makes-alonetone" %>
  (not a startup!) — if we are heads down working on something it might take a day or
  two before your account gets approved.
</p>

<p>
You can also check out more about alonetone over on our <%= link_to "Patreon", "https://patreon.com/alonetone" %>.
</p>