<h2>Expect an email!</h2>

<p>
We'll send a one time activation email to <b><%= @email %></b> when a moderator approves your account.
</p>

<p>
We appreciate your patience. We are a <%= link_to "group of musicians", "/about#wow-no-company-so-who-makes-alonetone" %> (not a startup!) so if we are heads down it might take a day or two before your account gets approved.
</p>