#playlist-and-track-content-header {
  max-width: $site_max_width;
  padding: 0 36px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  @media #{$one-column} {
    width: 96%;
    padding-left: 0;
    padding-right: 0;
  }
}

#playlist-and-track-content {
  display: flex;
  justify-content: center;
  max-width: $site_max_width;
  padding: 0 36px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  align-items: flex-start;
  @media #{$one-column} {
    width: 96%;
    padding-left: 0;
    padding-right: 0;
  }
  .playlist-sidebar {
    @include samo-shadow-and-radius();
    position: relative;
    background-color: white;
    min-width: 300px;
    max-width: 450px;
    width: 35%;
    margin-right: $baseline;
    @media only screen and (max-width: 850px) { // The point where the playlist has to drop to one column
      order: 2;
      max-width: none;
      width: 100%;
      margin-right: 0;
      margin-bottom: $baseline;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
    }
  }
  .track-content {
    flex: 1;
    min-width: 300px;
    @media only screen and (max-width: 850px) { // The point where the playlist has to drop to one column
      order: 1;
      width: 100%;
      max-width: 100%;
      margin-left: auto!important;
      margin-right: auto;
    }
  }
  .player .waveform {
    padding-top: 14px;
  }
}