// Used by single track view, playlist player view, mass edit

.track_content {
  margin-right: auto;
  margin-left: auto;
  max-width: 700px;
  width: 66%;
  @media only screen and (max-width: 770px) {
    width: 96%;
    max-width: none;
  }
  > * {
    background-color: $track-content-child-background;
    @include samo-shadow-and-radius();
  }
  .back_favorite_edit_links {
    display: flex;
    background-color: transparent;
    box-shadow: none;
    justify-content: space-between;
    .favorite_and_edit {
      display: flex;
      .edit_link {
        margin-left: 12px;
        @include default-button();
        background-color: $track-content-edit-background;
        color: $track-content-edit-text;
        &:hover {
          background-color: $track-content-edit-background;
        }
      }
    }
  }
 
  .back_to_button,
  .back_to_artist_link,
  .back_to_track_link,
  .back_to_playlist_link {
    margin-bottom: 16px;
    &.back_to_track_link {
      box-shadow: none;
    }
  }

  .track_favorite,
  .download_link {
    a,
    button {
      @include image_button();
      padding-left: 12px;
      font-size: 12px;
      height: 26px;
      width: 94px;
      position: relative;
      display: inline-flex;
      background-color: $track-content-link-background;
      color: $track-content-link-text;
      border-radius: 4px;
      font-weight: bold;
      line-height: 26px;
      text-decoration: none;
      box-sizing: border-box;
      svg {
        height: 20px;
        margin-left: 8px;
        position: relative;
        top: 2.5px;
        path.outline {
          stroke: rgb(246, 70, 62);
        }
      }
    }
    &.track_favorite button {
      background-color: $back-to-background;
      svg {
        height: 24px;
        margin-left: 6px;
        top: 0.5px;
      }
    }
  }


}