.player {
  position: relative;
  display: flex;
  width: 100%;
  height: 80px;
  margin-bottom: 32px;
  background-color: $track-player-background;
  .play_button_container {
    min-width: 80px;
    height: 80px;
    background-color: $track-player-play-button-background;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    .play_button, .pause_button {
      position: relative;
      width: 80px;
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      a {
        display: block;
        width: 60px;
        height: 60px;
      }
      .largePlaySVG {
        path.icon.new {
          fill: $track-player-play-button-triangle-fill;
        }
        .outline {
          opacity: .8;
          stroke: $track-player-play-button-outline-stroke;
        }
        .dotty {
          stroke: $track-player-dotty-stroke;
        }
        .pauseLoopGroup, .pauseGroup {
          stroke: $track-player-pause-button-stroke;
        }
        .centerCircle {
          fill: $track-player-pause-button-fill;
        }
      }
    }
  }
  .waveform {
    top: 0;
    right: 0;
    flex-grow: 1;
    user-select: none;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    svg {
      width: 100%;
      height: 54px;
      #waveform_reveal {
        fill: $waveform-unplayed-background;
      }
      #waveform_unplayed {
        stroke: $waveform-unplayed-background;
        fill: $waveform-unplayed-background;
        stroke-width: 1px;
        stroke-linejoin: round;
      }
      #waveform_played {
        stroke-width: 1px;
        stroke-linejoin: round;
        stroke: $waveform-played-background;
        fill: $waveform-played-background;
      }
    }
    .seekbar {
      position: absolute;
      top: 0;
      width: 1px;
      height: 100%;
      display: none;
      background-color: $big-player-seekbar-background;
    }
    &:hover .seekbar {
      display: block;
    }
  }
  .progress_container {
    position: absolute;
    pointer-events: none;
    left: 79px;
    height: 80px;
    width: calc(100% - 79px);
    .progress_container_inner {
      position: absolute;
      height: 80px;
      display: none;
      &.visible {
        display: block;
      }
      .line_progress {
        position: absolute;
        width: 1px;
        height: 80px;
        background-color: $accent;
        left: 0;
      }
      .time_progress {
        position: absolute;
        display: block;
        bottom: -18px;
        left: -41px;
        width: 42px;
        font-size: 11px;
        height: 18px;
        line-height: 18px;
        background-color: $accent;
        font-variant-numeric: tabular-nums;
        text-align: center;
        color: $big-player-time-text;
        font-family: $medium-sans-font;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        z-index: -10;
      }
    }
  }
  .time_total {
    position: absolute;
    display: block;
    bottom: -18px;
    right: 9px;
    width: 40px;
    height: 18px;
    line-height: 18px;
    font-size: 11px;
    z-index: -11;
    font-variant-numeric: tabular-nums;
    text-align: right;
    color: $big-player-time-total-text;
    font-family: $medium-sans-font;
  }
}