// All colors for all themes are in this file.
// Naming is derived and synced to our Figma palette.

$black: #000000;
$white: #FFFFFF;

$orange1000: #683200;
$orange800: #B65700;
$orange600: #D46A01;
$orangetone: #EB7B0C;
$orange300: #FFAD5D;
$orange100: #FFD1B0;

$grey1200: #151414;
$grey1100: #232120;
$grey1000: #353535;
$grey900: #4F4D4D;
$grey800: #6E6D6D;
$grey600: #949797;
$grey500: #A6ABAB;
$grey200: #D7DBDB;
$grey100: #E6E8E8;
$grey50: #F5F5F5;

$red800: #BF2E00;
$red600: #E02A02;
$red500: #F04E1A;
$red400: #FF5942;


// NOT FROM FIGMA

$green600: #2b8800;
$green400: #67c906;