@import 'color_mapping';

$body-background-color: #000;

$black: #000; // 17 uses
$footer-bottom-background-gray: #272727; // 1 use
$dark-gray: #353535; // 27 uses
$comment-text-gray: #4f4d4d; // 9 uses
$samo-gray: #868686; // 33 uses
$gray: #999; // 6 uses
$comment-label-gray: #969393; // 2 uses 
$new-samo-gray: #a6abab; // 22 uses
$samo-light-gray: #d7dbdb; // 13 uses
$playlist-button-background-gray: #c4c4c4;  // 4 uses
$light-gray: #eeeeee; // 21 uses
$samo-background-gray: #f1f2f2; // 3 uses
$samo-alternate-background-gray: #f5f5f5; // 11 uses
$lightest-gray: #f9f9f9; // 5 uses
$white: #ffffff; // 53 uses

$accent: $orangetone;

$warning: $red600;

$private-message-flag-background: $orange100;
$private-message-flag-text: $orange800;

$private-message-warning-background: $red500;
$private-message-warning-border: $red600;
$private-message-warning-text: $orange100;

$ajax-fail-border: $red600; 
$ajax-fail-text: $red800;

$ajax-success-border: $green400;
$ajax-success-text: $green600;

$about-stats-heading-text: $red600;

$admin-spam-row-background: $orange100;

$footer-forum-topics-accent: $orange600;