@import 'color_mapping';

// sitewide
$accent: $orangetone;

// variables.scss
$default-button-text: $black;
$default-button-background: $grey500;
$default-button-background-hover: $grey800;
$primary-button-background-hover: $orange600;
$primary-button-background-active: $orange800;

// shared.scss
$body-background: $black;

$box-h2-bottom-border: $grey100;

$back-to-text: $grey500;

$private-message-warning-background: $red800;
$private-message-warning-border: $red600;
$private-message-warning-text: $orange100;

//typography.scss
$body-text: $white;

// notifications.scss
$flash-text: $black;

$ajax-fail-border: $red600;
$ajax-fail-text: $red800;
$ajax-success-border: $green400;
$ajax-success-text: $green600;

$error_message-background: $red1100;
$error_message-shadow: $red1000;
$error-message-heading-text: $white;
$error-message-list-items-text: $red200;

$input-rejected-background: $red1100;
$input-rejected-border: $red1000;

$input-accepted-background: $grey1100;
$input-accepted-border: $green1000;

// forms.scss
$forms-label-text: $grey200;
$forms-input-text: $white;
$forms-background: $grey1100;
$forms-border: $grey1100;

$checkbox-checked-background: $grey1000;
$checkbox-not-checked-border: $grey500;

// site_header.scss
$site-icon-background: transparent image-url("alonetone_logo_dark.svg") no-repeat;

$site-header-user-dropdown-shadow: 0px 6px 24px rgba(0, 0, 0, 0.75);
$profile-link-background: $grey900;
$profile-link-background-image: image-url("svg/icon_profile_link_down_arrow_dark.svg");
$site-header-search-magnifying-glass-image: image-url("svg/icon_search_magnifying_glass_dark.svg");

$site-header-input-background: $grey900;
$site-header-input-background-focus: $grey1100;

$site-header-input-text: $grey50;

$site-header-mobile-search-reveal-button-background: $grey900;

$site-header-user-dropdown-background: $grey1200;
$site-header-user-dropdown-profile-edit-text: $orange300;
$site-header-user-dropdown-profile-edit-border: $grey900;
$site-header-user-dropdown-logout-background: $grey1000;
$site-header-user-dropdown-logout-text: $grey400;
$site-header-user-dropdown-list-item-background: $grey1100;
$site-header-user-dropdown-list-item-text: $grey200;

// site_footer.scss
$footer-forum-topics-accent: $orange600;
$footer-forum-topics-background: $grey1200;
$footer-forum-topics-link-background: $grey1100;
$footer-forum-topics-link-text: $grey400;
$footer-bottom-background: $grey1150;
$footer-bottom-column-background: $grey1100;
$footer-bottom-link-text: $white;

// sub_nav.scss
$sub-nav-background: $black;
$sub-nav-text: $grey400;
$sub-nav-text-hover: $white;
$sub-nav-current-background: $orangetone;
 
// static_pages.scss
$static-page-heading-background: $grey1150;
$static-page-heading-text: $grey100;
$static-page-content-background: $grey1100;
$static-page-h2-text: $orange300; 
$static-page-paragraph-text: $grey400;
$static-page-content-seperator: $grey1150;
$static-page-anchor: $grey1000;
$static-page-anchor-hover: $orange300;
$static-page-anchor-visited: $grey400;

 // tracks.scss
$track-open-box-shadow: none;
$track-background: $grey1100;
$track-seekbar-loaded-background: $grey1000;
$track-border-bottom: $grey1200;
$track-time-text: $grey500;
$track-artist-text: $grey800;
$track-reveal-top-background: $grey1000; 
$track-description-text: $grey100;
$track-created-text: $grey800;
$track-view-more-text: $orange300;
$track-stats-created-text: $grey1000;
$track-stats-text: $grey500;
$track-stats-icon-background: $grey800;
$track-favorited-when-text: $grey500;

// comments.scss
$comment-as-text: $grey800;
$comment-as-guest-text: $grey200;
$comment-as-user-text: $orange300;
$comment-form-background: $grey1000;
$comment-form-border: $grey800;
$comment-form-border-focus: $grey200;
$comment-form-text: $white;
$comment-make-private-text: $grey800;
$comment-submit-background: $grey900;
$comment-submit-text: $white;
$comment-background: $grey1000;
$comment-right-background: $grey1100;
$comment-user-text: $grey500;
$comment-ip-text: $grey800;
$comment-body-text: $grey100;
$private-message-flag-background: $red800;
$private-message-flag-text: $orange100;
$comment-spam-text: $orange300;
$comment-delete-text: $red400;

$track-content-comment-background: $grey900;

// playlist.scss
$playlist-sidebar-background: $grey1150;

// track_player.scss
$big-player-seekbar-color: $grey200;
$track-player-background: $grey1000;
$big-player-time-text: $black;

// track_content.scss
$track-content-child-background: $grey1100;
$track-content-hr-background: $grey500;

$track-edit-text: $grey50;
$track-edit-border: $grey500;
$track-edit-border-focus: $grey500;

$track-edit-new-version-note-text: $grey1000;

// track_social.scss
$track-social-heading-text: $grey1000;

// playlist_cover_view.scss
$playlist-options-background: $grey1000;
$playlist-options-link-background: $grey1000; 
$playlist-options-link-background-hover: $black; 
$playlist-options-link-border: $black;
$playlist-options-link-text: $grey1100; 

// playlist_sidebar.scss
$playlist-sidebar-artist-text: $grey50;

$tracklist-track-text: $grey1100;
$tracklist-position-text: $grey1000;
$tracklist-time-text: $grey1000;
$tracklist-track-border: $grey50;
$tracklist-track-background-active: $grey1000;
$sidebar-link-background: $grey1000;
$sidebar-link-background-hover: $grey1000;

// user.scss
$user-header-avatar-border: $black;
$user-card-shadow: none;
$user-card-bio-text: $grey50;
$user-card-content-divider-background: $grey900;
$user-links-text: $black;
$user-links-background: $grey1000;
$user-stats-data-text: $grey50;
$user-mod-stats-heading-text: $grey1000;
$user-mod-stats-background: $grey900;
$user-mod-stats-agent-border: $white;
$user-actions-area-background: $grey900;

// playlist_edit.scss
$edit-playlist-track-button-background: $grey200;
$edit-playlist-track-button-background-hover: $grey800;

$edit-playlist-cover-border: $grey200;
$edit-playlist-instructions-text: $grey1000;
$edit-playlist-private-label-checkbox: $grey500;

$edit-playlist-info-bottom-border: $grey50;

$edit-playlist-column-header-border: $grey100;
$edit-playlist-left-column-dash-text: $grey100;

$edit-playlist-draggable-mirror-border: $black;

$edit-playlist-drag-handle-border: $grey50;
$edit-playlist-drag-handle-border-hover: $grey800;
$edit-playlist-drag-handle-border-active: $accent;

$edit-playlist-playlist-size-background: $grey1000;

// playlists.scss
$card-background: $grey1100;
$card-private-background: $grey300;
$card-private-text: $black;
$card-title-font: 'Alright-v2-Normal-Medium', sans-serif;
$card-title-weight: normal;
$card-title-text: $white; 
$card-artist-font: 'Alright-v2-Normal', sans-serif;
$card-artist-weight: bold;
$card-artist-text: $orange300;
$card-by-font: 'Alright-v2-Normal', sans-serif;
$card-by-weight: bold;
$card-by-text: $grey800;

// admin.scss
$admin-search-text: $grey50;
$admin-column-heading-text: $grey50;

$admin-nav-item-background-hover: $grey900;
$admin-nav-item-total-text: $grey1000;
$admin-nav-item-current-text: $black;
$admin-header-border: $grey500;
$admin-row-border: $grey100;
$admin-spam-row-background: $orange100;
$admin-deleted-row-background: $grey1000;

$admin-default-data-text: $grey50;
$admin-deleted-at-text: $grey50;
$admin-user-ip-text: $grey50;

// secretz.scss
$secretz-odd-row-background: $grey1000;

// upload.scss
$upload-asset-background: $grey1000;

// legacy colors
$background-color-one: $grey1100;
$font-color-four: $grey800;