// The variables defined in this file are all semanticaly named.
// They describe where they are used most prominently, such as $comment-text.
// The values are also all variables whos values are defined in color_mapping.
// This is so that the colors can be defined in 1 place but used in many places

@import 'color_mapping'

$comment-text: $gray900;









// DEPRECATED, rename all variables below to be semantic:


// site colors

$body-background-color: #f4f4f4;

// colors

$black: #000; // 17 uses
$footer-bottom-background-gray: #272727; // 2 uses
$dark-gray: #353535; // 27 uses
$comment-text-gray: #4f4d4d; // 9 uses
$samo-gray: #868686; // 33 uses
$gray: #999; // 6 uses
$comment-label-gray: #969393; // 2 uses
$new-samo-gray: #a6abab; // 22 uses
$samo-light-gray: #d7dbdb; // 13 uses
$playlist-button-background-gray: #c4c4c4;  // 4 uses
$light-gray: #eeeeee; // 21 uses
$samo-background-gray: #f1f2f2; // 3 uses
$samo-alternate-background-gray: #f5f5f5; // 11 uses
$lightest-gray: #f9f9f9; // 5 uses
$white: #ffffff; // 53 uses

$private-red: #f04e1a; // 1 use
$red: #d3220c; // 2 uses
$private-orange: #e02a02; // 2 uses
$dark-orange: #8b370d; // 1 use
$footer-orange: #de6a00; // 3 uses
$samo-background-orange: #bda8a0; // 1 use
$orange: #da6d25; // 3 uses
$samo-orange: #eb7b0c; // 46 uses
$light-orange: #ffd1b0; // 2 uses
$samo-dark-orange: #f04e1a; // 2 uses
$waveform-playing: #302f2f; // 1 use

$ajax-fail-border-red: #ff1f75; // 1 use
$ajax-fail-text-red: #b20035; // 1 use

$ajax-success-border-green: #67c906; // 1 use
$ajax-success-text-green: #2b8800; // 1 use
