/*
1. Create a unqiue color variable for each selector
2. Give it a descriptive name. Suffix with text, background, border, etc.
3. Always add the variable to both dark.scss and white.scss
4. Place the variable in the right filename group
*/

@import 'color_mapping';

// sitewide
$accent: $orangetone;
$theme-accent: $orangetone;

// admin.scss
$admin-search-text: $grey1000;
$admin-search-background: $white;
$admin-column-heading-text: $grey1000;

$admin-nav-item-background-hover: $grey100;
$admin-nav-item-total-text: $grey500;
$admin-nav-item-current-text: $white;
$admin-header-border: $grey500;
$admin-row-border: $grey100;
$admin-spam-row-background: $orange100;
$admin-deleted-row-background: $grey50;

$admin-default-data-text: $grey1000;
$admin-deleted-at-text: $grey1000;
$admin-user-ip-text: $grey1000;

// blank_slate.scss
$noise-background-position-y: -5000px;
$blank-slate-cloud-min-height: 360px;

// comments.scss
$comment-as-text: $grey600;
$comment-as-guest-text: $grey900;
$comment-as-user-text: $orange600;
$comment-form-background: $grey50;
$comment-form-border: $grey200;
$comment-form-border-focus: $grey400;
$comment-form-text: $black;
$comment-make-private-text: $grey800;
$comment-submit-background: $orange600;
$comment-submit-background-hover: $orangetone;
$comment-submit-background-active: $orange800;
$comment-submit-text: $white;
$comment-background: $white;
$comment-right-background: $grey50;
$comment-user-text: $grey900;
$comment-ip-text: $grey800;
$comment-body-text: $grey1000;
$private-message-flag-background: $orange100;
$private-message-flag-text: $orange800;
$comment-spam-text: $orangetone;
$comment-delete-text: $red600;

$track-content-comment-background: $grey100-alpha50;
$track-content-comment-textarea-background: $white;
$track-content-comment-textarea-text: $grey1000;

// forms.scss
$forms-heading-text: $grey1000;

$forms-label-text: $grey600;
$forms-input-text: $grey1000;
$forms-background: $white;
$forms-border: $grey200;

$forms-hint-background: $grey50;
$forms-hint-text: $grey1000;

$inline-form-error-text: $red800;

$forms-placeholder-text: $grey800;
$forms-with-error-placeholder-text: $grey1000;

$checkbox-checked-background: $grey800;
$checkbox-checked-border: $grey800;

$checkbox-not-checked-background: $grey50;
$checkbox-not-checked-border: $grey500;

// home.scss
$hero-background: $grey100;
$hero-heading-text: $orangetone;
$hero-paragraph-text: $grey1000;

// notifications.scss
$flash-text: $white;

$ajax-fail-border: $red600;
$ajax-fail-text: $red800;
$ajax-success-border: $green400;
$ajax-success-text: $green600;

$floating-feedback-background: $white;

$error-message-background: $red100;
$error-message-shadow: $red200;
$error-message-heading-text: $red1100;
$error-message-list-items-text: $red1100;

// edit_profile.scss
$edit_profile_separator_background: $grey100;
$edit-profile-heading-text: $grey900;
$edit-profile-hint-background: $grey50;
$edit-profile-hint-text: $grey600;

// static_pages.scss
$static-page-heading-background: $grey100-alpha50;
$static-page-heading-text: $grey1000;
$static-page-content-background: $white;
$static-page-h2-text: $orange600;
$static-page-paragraph-text: $grey1000;
$static-page-content-seperator: $grey50;
$static-page-anchor: $grey400;
$static-page-anchor-hover: $orangetone;
$static-page-anchor-visited: $orange1000;
$input-rejected-background: $red100;
$input-rejected-border: $red600;

$input-accepted-background: $grey25;
$input-accepted-border: $green600;

// pagination.scss
$mini-paginator-background: $white;
$pagy-link-text: $grey800;
$pagy-link-text-active: $accent;

// playlist.scss
$playlist-sidebar-background: $white;

// playlist_cover_view.scss
$playlist-options-background: $grey1000;
$playlist-options-link-background: $grey1000;
$playlist-options-link-background-hover: $black;
$playlist-options-link-border: $black;
$playlist-options-link-text: $grey50;
$playlist-options-link-action-text: $grey800;

// playlist_edit.scss
$edit-playlist-track-button-background: $grey200;
$edit-playlist-track-button-background-hover: $grey800;

$edit-playlist-cover-border: $grey200;
$edit-playlist-instructions-text: $grey500;
$edit-playlist-private-label-checkbox: $grey900;

$edit-playlist-column-instructions-text: $grey800;

$edit-playlist-info-bottom-border: $grey50;

$edit-playlist-column-header-border: $grey100;
$edit-playlist-column-header-text: $grey800;
$edit-playlist-left-column-dash-text: $grey100;
$edit-playlist-left-column-size-text: $grey800;
$edit-playlist-left-column-time-text: $orangetone;

$edit-playlist-sortable-ghost-background: $blue100;
$edit-playlist-draggable-mirror-border: $black;

$edit-playlist-drag-handle-idle-background: image-url("svg/icon_drag_handle_idle.svg");
$edit-playlist-drag-handle-active-background: image-url("svg/icon_drag_handle_active.svg");

$edit-playlist-drag-handle-border: $grey50;
$edit-playlist-drag-handle-border-hover: $grey100;
$edit-playlist-drag-handle-border-active: $accent;

$edit-playlist-playlist-size-background: $grey50;
$edit-playlist-playlist-size-text: $grey800;

// playlist_sidebar.scss
$playlist-sidebar-artist-text: $orangetone;
$playlist-sidebar-artist-by-text: $black;

$playlist-sidebar-artist-parantheses-text: $grey800;
$playlist-sidebar-artist-edit-link-text: $orangetone;

$playlist-sidebar-play-background: image-url("svg/icon_play_circled.svg");
$playlist-sidebar-play-active-background: image-url("svg/icon_play_circled.svg");

$playlist-sidebar-pause-background: image-url("svg/icon_pause_circled.svg");
$playlist-sidebar-pause-active-background: image-url("svg/icon_pause_circled.svg");

$tracklist-track-text: $black;
$tracklist-track-text-active: $white;
$tracklist-position-text: $grey800;
$tracklist-position-text-active: $orange100;
$tracklist-time-text: $grey800;
$tracklist-time-text-active: $white;
$tracklist-track-border: $grey100;
$tracklist-track-background-active: $grey1000;
$sidebar-link-background: $grey1000;
$sidebar-link-background-hover: $grey1000;

$sidebar-link-text: $white;
$sidebar-link-action-text: $grey800;

// playlists.scss
$card-background: $white;
$card-private-background: $grey1000;
$card-private-text: $white;
$card-title-font: 'Alright-v2-Normal', sans-serif;
$card-title-weight: bold;
$card-title-text: $black;
$card-artist-font: 'Alright-v2-Normal-Medium', sans-serif;
$card-artist-weight: normal;
$card-artist-text: $orange600;
$card-by-font: 'Alright-v2-Normal', sans-serif;
$card-by-weight: normal;
$card-by-text: $grey800;

// secretz.scss
$secretz-row-background: $white;
$secretz-odd-row-background: $grey50;

// shared.scss
$body-background: $grey50;

$box-background: $white;

$box-h2-bottom-border: $grey100;

$back-to-text: $grey900;
$back-to-background: $white;

$back-to-caret-background: $orangetone;
$back-to-span-text: $orange600;

$view-all-background: $white;
$view-all-text: $grey800;

$private-message-warning-background: $red500;
$private-message-warning-border: $red600;
$private-message-warning-text: $orange100;

// site_footer.scss
$footer-alonetoners-text: $grey800;
$footer-forum-topics-accent: $orange600;
$footer-forum-topics-background: $grey25;
$footer-forum-topics-link-background: $white;
$footer-forum-topics-link-text: $black;
$footer-forum-topics-artist-text: $grey800;
$footer-bottom-background: $grey1100;
$footer-bottom-column-background: $grey1000;
$footer-bottom-link-text: $white;

// site_header.scss
$site-header-background: $white;
$site-header-box-shadow: 0 3px 4px -2px #65666627;

$site-icon-background: transparent image-url("alonetone_big-notext-flat.png") no-repeat;

$site-header-user-dropdown-shadow: 0px 6px 24px rgba(134, 134, 134, 0.75);
$profile-link-background: $grey100;
$profile-link-background-image: image-url("svg/icon_profile_link_down_arrow.svg");
$site-header-search-magnifying-glass-image: image-url("svg/icon_search_magnifying_glass.svg");

$site-header-input-background: $grey100;
$site-header-input-background-focus: $white;

$site-header-input-text: $grey1000;

$site-header-mobile-search-reveal-button-background: $grey100;

$site-header-user-dropdown-background: $white;
$site-header-user-dropdown-profile-edit-text: $orange800;
$site-header-user-dropdown-profile-edit-border: $grey300;
$site-header-user-dropdown-logout-background: $grey400;
$site-header-user-dropdown-logout-text: $white;
$site-header-user-dropdown-list-item-background: $grey50;
$site-header-user-dropdown-list-item-text: $grey1000;

// static_pages.scss
$static-page-heading-background: $grey100-alpha50;
$static-page-heading-text: $grey1000;
$static-page-content-background: $white;
$static-page-h2-text: $orange600;
$static-page-paragraph-text: $grey1000;
$static-page-content-seperator: $grey50;
$static-page-anchor: $grey400;
$static-page-anchor-hover: $orangetone;
$static-page-anchor-visited: $orange1000;

// sub_nav.scss
$sub-nav-background: $grey100;
$sub-nav-text: $grey1000;
$sub-nav-text-hover: $grey1000;
$sub-nav-current-background: $orange600;
$sub-nav-link-background: $white;

// track_content.scss
$track-content-child-background: $white;
$track-content-hr-background: $grey500;

$track-edit-text: $grey1000;
$track-edit-border: $grey500;
$track-edit-border-focus: $grey500;

$track-content-edit-background: $orange600;
$track-content-edit-text: $white;

$track-content-link-background: $grey50;
$track-content-link-text: $grey900;

$track-content-track-text: $grey1000;
$track-content-by-text: $grey600;
$track-content-artist-text: $black;
$track-content-description-text: $grey900;

$track-content-license-text: $grey800;

// track_content_edit.scss
$track_edit_separator_background: $grey100;
$options-list-background: $grey25;
$option-label-text: $black;
$option-border: $grey100;
$track-edit-heading-text: $grey900;
$track-edit-new-version-note-text: $grey800;


// track_player.scss
$waveform-unplayed-background: $grey400;
$waveform-played-background: $grey1000;
$big-player-seekbar-background: $grey200;
$track-player-background: $grey100;
$track-player-play-button-background: $white;
$track-player-play-button-triangle-fill: $black;
$track-player-play-button-outline-stroke: $black;
$track-player-dotty-stroke: $black;
$track-player-pause-button-stroke: $white;
$track-player-pause-button-fill: $black;
$big-player-time-text: $white;
$big-player-time-total-text: $grey600;

// track_social.scss
$track-social-heading-text: $grey500;

// tracks.scss
$track-open-box-shadow: 0 11px 19px 4px #6566667a;
$track-background: $white;
$track-play-button-background: $black;
$track-pause-button-stroke: $white;
$track-seekbar-loaded-background: $grey50;
$track-border-bottom: $grey50;
$track-time-text: $grey800;
$track-artist-text: $grey800;
$track-reveal-top-background: $grey50;
$track-description-text: $grey900;
$track-created-text: $grey500;
$track-view-more-text: $orange600;
$track-stats-created-text: $grey600;
$track-stats-text: $grey400;
$track-stats-icon-background: $grey600;
$track-stats-icon-favorites-background: $red800;
$track-favorited-when-text: $grey800;

// typography.scss
$body-text: $black;

// upload.scss
$upload-asset-background: $grey50;

// user.scss
$user-header-avatar-border: $black;
$user-follow-background: $white;
$user-follow-background-hover: $white;
$user-card-background: $white;
$user-card-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15), 0px 6px 24px rgba(134, 134, 134, 0.75);
$user-card-bio-text: $grey1000;
$user-card-content-divider-background: $grey100;
$user-follows-background: $white;
$user-stats-background: $white;
$user-links-text: $white;
$user-links-background: $grey1000;
$user-stats-label-text: $grey800;
$user-stats-data-text: $grey1000;
$user-mod-stats-heading-text: $grey500;
$user-mod-stats-background: $grey100;
$user-mod-stats-agent-border: $white;
$user-actions-area-background: $grey100;

// user_playlists.scss
$user-playlists-sort-instructions: $grey800;

// users_index.scss
$user-card-background: $white;

// variables.scss
$default-button-text: $white;
$default-button-background: $grey500;
$default-button-background-hover: $grey800;
$primary-button-background-hover: $orange600;
$primary-button-background-active: $orange800;